Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

Cluster rebuild, dump 1: github workflows + renovate + more
  .github/labeler.yaml
  .github/labels.yaml
  .github/linters/.prettierignore
  .github/linters/.tflint.hcl
  .github/linters/.yamllint.yaml
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/regexManagers.json5
  .github/renovate/semanticCommits.json5
  .github/renovate/versioning.json5
  .github/scripts/cloudflare-ip-ranges.sh
  .github/scripts/container-parser.sh
  .github/scripts/kubernetes-version.sh
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
  .github/workflows/helm-release-differ.yaml
  .github/workflows/linting.yaml
  .github/workflows/mega-linter.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-pr-size-label.yaml
  .github/workflows/scan-containers.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-cloudflare-ip-ranges-updates.yaml
  .github/workflows/schedule-renovate.yaml
  .github/workflows/terraform-security-scan.yaml
Labels: area/ci

Cluster rebuild, dump 2: task files + provision scripts + misc other scripts
  .taskfiles/kubernetes.yaml
  .taskfiles/management.yaml
  .taskfiles/metal.yaml
  .taskfiles/tools.yaml
  Taskfile.yml
  infrastructure/clusters/management/provision.sh
  infrastructure/clusters/metal/provision.sh
  infrastructure/kubernetes/common.sh
  infrastructure/kubernetes/integrations/cilium-quick-install/quick-install.yaml
  infrastructure/kubernetes/integrations/cilium-quick-install/values.yaml
  infrastructure/kubernetes/provision.sh
  infrastructure/kubernetes/recover-vip.sh
  infrastructure/kubernetes/restore-backups.sh
  infrastructure/kubernetes/talconfig.yaml
  infrastructure/kubernetes/talenv.sops.yaml
  infrastructure/kubernetes/upgrade-k8s.sh
  infrastructure/kubernetes/upgrade-talos.sh
Labels: none

Cluster rebuild, dump 3: linting
  .vscode/extensions.json
  .vscode/yaml.code-snippets
  docker/atlas/plex/docker-compose.yaml
  infrastructure/udm-pro/roles/udmpro/files/cni/10-haproxy.conflist
  infrastructure/udm-pro/roles/udmpro/files/scripts/05-onboot-container.sh
  infrastructure/udm-pro/roles/udmpro/templates/force-dns.sh.j2
Labels: area/ansible, area/docker

Cluster rebuild, dump 4: terraform updates
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
  cloud/cloudflare/sops.secrets.yaml
Labels: area/terraform

Cluster rebuild, dump 5: docs
  README.md
  docs/cluster/expose-services.md
  docs/cluster/provision.md
  docs/cluster/upgrades.md
  docs/management-cluster.md
  docs/metal-cluster.md
  docs/snippets.md
Labels: area/docs

Cluster rebuild, dump 7: ansible updates
  infrastructure/udm-pro/inventory/host_vars/udmpro.yaml
  infrastructure/udm-pro/roles/udmpro/files/scripts/05-onboot-install-cni-plugins.sh
  infrastructure/udm-pro/roles/udmpro/files/scripts/10-onboot-haproxy.sh
Labels: area/ansible

Minor misc updates
  .env-example
  .gitignore
  .sops.yaml
  .sourceignore
  scripts/delete-stuck-namespace.sh
Labels: none

Updated pods used for wiping disks for usage with rook/ceph
  kubernetes/tools/rook/wipe.yaml
Labels: area/kubernetes

fix(container): update image quay.io/ceph/ceph to v17.2.3
  kubernetes/core/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.134.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.135.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.135.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update oxsecurity/megalinter action to v6.2.0
  .github/workflows/mega-linter.yaml
Labels: area/ci

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v3.0.9
  kubernetes/apps/apps/nextcloud/backup.yaml
  kubernetes/apps/apps/uptime-kuma/backup.yaml
  kubernetes/apps/databases/influxdb/backup.yaml
  kubernetes/apps/databases/postgres/backup.yaml
  kubernetes/apps/games/minecraft/backup.yaml
  kubernetes/apps/home-automation/home-assistant/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/backup.yaml
  kubernetes/apps/home-automation/zwavejs/backup.yaml
  kubernetes/apps/media/bazarr/backup.yaml
  kubernetes/apps/media/lidarr/backup.yaml
  kubernetes/apps/media/radarr/backup.yaml
  kubernetes/apps/media/sabnzbd/backup.yaml
  kubernetes/apps/media/sonarr-uhd/backup.yaml
  kubernetes/apps/media/sonarr/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/postgres-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

feat(helm): update chart bazarr to 10.6.0
  kubernetes/apps/media/bazarr/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart frigate to 8.2.0
  kubernetes/apps/home-automation/frigate/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart home-assistant to 13.4.0
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart intel-gpu-plugin to 4.4.0
  kubernetes/core/kube-system/intel-gpu-plugin/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart lidarr to 14.2.0
  kubernetes/apps/media/lidarr/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart radarr to 16.3.0
  kubernetes/apps/media/radarr/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart sabnzbd to 9.4.0
  kubernetes/apps/media/sabnzbd/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart sonarr to 16.3.0
  kubernetes/apps/media/sonarr-uhd/helm-release.yaml
  kubernetes/apps/media/sonarr/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart uptime-kuma to 1.4.0
  kubernetes/apps/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart zigbee2mqtt to 9.4.0
  kubernetes/apps/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart zwavejs2mqtt to 5.4.0
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

ci(deps): update oxsecurity/megalinter action to v6.2.1
  .github/workflows/mega-linter.yaml
Labels: area/ci

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to 1.27.0
  kubernetes/apps/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

feat(container): update image plexinc/pms-docker to 1.28.0.5999-97678ded3
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

ci(deps): update renovatebot/github-action action to v32.137.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update kubernetes-sigs/external-dns to v0.12.2
  kubernetes/crds/external-dns/crds.yaml
Labels: area/kubernetes

fix(container): update image k8s.gcr.io/external-dns/external-dns to v0.12.2
  kubernetes/apps/networking/external-dns/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart bazarr to 10.6.2
  kubernetes/apps/media/bazarr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart frigate to 8.2.2
  kubernetes/apps/home-automation/frigate/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart home-assistant to 13.4.2
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart intel-gpu-plugin to 4.4.2
  kubernetes/core/kube-system/intel-gpu-plugin/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart lidarr to 14.2.2
  kubernetes/apps/media/lidarr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart radarr to 16.3.2
  kubernetes/apps/media/radarr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart sabnzbd to 9.4.2
  kubernetes/apps/media/sabnzbd/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart sonarr to 16.3.2
  kubernetes/apps/media/sonarr-uhd/helm-release.yaml
  kubernetes/apps/media/sonarr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart uptime-kuma to 1.4.2
  kubernetes/apps/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
