Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(helm): update chart zigbee2mqtt to 9.4.2
  kubernetes/apps/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart zwavejs2mqtt to 5.4.2
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 5.4.0
  infrastructure/requirements.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v32.141.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/zwave-js/zwavejs2mqtt to 6.15.1
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart minio to 11.7.16
  kubernetes/apps/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.0.7
  kubernetes/apps/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.143.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update pre-commit hook jumanjihouse/pre-commit-hooks to 3.0.0
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart minio to 11.7.17
  kubernetes/apps/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.0.8
  kubernetes/apps/databases/redis/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/analogj/scrutiny to v0.5.0
  docker/atlas/scrutiny/docker-compose.yaml
Labels: area/docker

ci(deps): update renovatebot/github-action action to v32.145.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/home-assistant/home-assistant to 2022.8.1
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart goldilocks to 6.2.0
  kubernetes/apps/monitoring/goldilocks/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwavejs2mqtt to 6.15.2
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

Replace Kubegres with Cloudnative-PG
  .github/renovate/versioning.json5
  kubernetes/apps/apps/nextcloud/helm-release.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/loadbalancer.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/postgres-cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/scheduled-backup.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/sops.secrets.yaml
  kubernetes/apps/databases/cloudnative-pg/helm-release.yaml
  kubernetes/apps/databases/cloudnative-pg/kustomization.yaml
  kubernetes/apps/databases/kubegres/kustomization.yaml
  kubernetes/apps/databases/kubegres/operator.yaml
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/postgres/backup-pvc.yaml
  kubernetes/apps/databases/postgres/backup.yaml
  kubernetes/apps/databases/postgres/postgres-cluster.yaml
  kubernetes/apps/databases/postgres/sops.secrets.yaml
  kubernetes/charts/cloudnative-pg-charts.yaml
  kubernetes/charts/kustomization.yaml
Labels: area/ci, area/kubernetes

Remove cpu limits
  kubernetes/apps/apps/nextcloud/helm-release.yaml
  kubernetes/apps/apps/uptime-kuma/helm-release.yaml
  kubernetes/apps/databases/influxdb/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
  kubernetes/apps/media/bazarr/helm-release.yaml
  kubernetes/apps/media/lidarr/helm-release.yaml
  kubernetes/apps/media/radarr/helm-release.yaml
  kubernetes/apps/media/sonarr-uhd/helm-release.yaml
  kubernetes/apps/media/sonarr/helm-release.yaml
  kubernetes/apps/monitoring/botkube/helm-release.yaml
  kubernetes/apps/networking/crowdsec/helm-release.yaml
  kubernetes/apps/networking/haproxy/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/helm-release.yaml
  kubernetes/core/kube-system/intel-gpu-plugin/helm-release.yaml
  kubernetes/core/rook-ceph/cluster/helm-release.yaml
  kubernetes/core/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

Move all CRDs from a specific folder
  .github/renovate/regexManagers.json5
  kubernetes/apps/networking/external-dns/kustomization.yaml
  kubernetes/core/kube-system/node-feature-discovery/kustomization.yaml
  kubernetes/core/rook-ceph/kustomization.yaml
  kubernetes/crds/external-dns/crds.yaml
  kubernetes/crds/external-dns/kustomization.yaml
  kubernetes/crds/kustomization.yaml
  kubernetes/crds/node-feature-discovery/crds.yaml
  kubernetes/crds/node-feature-discovery/kustomization.yaml
  kubernetes/crds/rook-ceph/crds.yaml
  kubernetes/crds/rook-ceph/kustomization.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/config.yaml
  kubernetes/flux/core.yaml
  kubernetes/flux/crds.yaml
Labels: area/ci, area/kubernetes

Move namespaces from config directory
  kubernetes/apps/apps/kustomization.yaml
  kubernetes/apps/apps/namespace.yaml
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/namespace.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/namespace.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/namespace.yaml
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/namespace.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/apps/testing/kustomization.yaml
  kubernetes/apps/testing/namespace.yaml
  kubernetes/core/cert-manager/kustomization.yaml
  kubernetes/core/cert-manager/namespace.yaml
  kubernetes/core/kube-system/namespace.yaml
  kubernetes/core/kubelet-serving-cert-approver/kustomization.yaml
  kubernetes/core/kubelet-serving-cert-approver/namespace.yaml
  kubernetes/core/networking/kustomization.yaml
  kubernetes/core/networking/namespace.yaml
  kubernetes/core/rook-ceph/kustomization.yaml
  kubernetes/core/rook-ceph/namespace.yaml
Labels: area/kubernetes

Re-organize metallb files and directory
  kubernetes/core/networking/metallb/app/kustomization.yaml
  kubernetes/core/networking/metallb/config/kustomization.yaml
  kubernetes/core/networking/metallb/helm-release.yaml
  kubernetes/core/networking/metallb/kustomization.yaml
  kubernetes/core/networking/metallb/layer2-advertisement.yaml
  kubernetes/core/networking/metallb/layer2-pool.yaml
Labels: area/kubernetes

Add Kyverno
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/kyverno/helm-release.yaml
  kubernetes/apps/kube-system/kyverno/kustomization.yaml
  kubernetes/apps/kube-system/kyverno/rbac.yaml
  kubernetes/charts/kustomization.yaml
  kubernetes/charts/kyverno-charts.yaml
Labels: area/kubernetes

Add kyverno policy handling external-dns annotations on ingresses
  kubernetes/apps/apps/nextcloud/helm-release.yaml
  kubernetes/apps/flux-system/webhook/github/ingress.yaml
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
  kubernetes/apps/kube-system/kyverno/kustomization.yaml
  kubernetes/apps/kube-system/kyverno/policies/kustomization.yaml
  kubernetes/apps/kube-system/kyverno/policies/update-ingress-annotations.yaml
  kubernetes/apps/media/lidarr/helm-release.yaml
  kubernetes/apps/media/radarr/helm-release.yaml
  kubernetes/apps/media/sabnzbd/helm-release.yaml
  kubernetes/apps/media/sonarr-uhd/helm-release.yaml
  kubernetes/apps/media/sonarr/helm-release.yaml
  kubernetes/apps/networking/external-dns/helm-release.yaml
  kubernetes/apps/networking/external-services/plex.yaml
Labels: area/kubernetes

Added missing backup secrets to media namespace
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/media/sops.backup-secrets.yaml
  kubernetes/apps/testing/sops.backup-secrets.yaml
Labels: area/kubernetes

Add Kyverno policy removing cpu limits
  kubernetes/apps/kube-system/kyverno/policies/kustomization.yaml
  kubernetes/apps/kube-system/kyverno/policies/remove-cpu-limits.yaml
Labels: area/kubernetes

Enable Minecraft server
  kubernetes/apps/games/minecraft/kustomization.yaml
Labels: area/kubernetes

Misc cleanup
  .taskfiles/maintenance.yaml
  kubernetes/apps/flux-system/notifications/github/notification.yaml
  kubernetes/apps/flux-system/webhook/github/receiver.yaml
  kubernetes/config/kustomization.yaml
  kubernetes/config/namespaces/apps.yaml
  kubernetes/config/namespaces/cert-manager.yaml
  kubernetes/config/namespaces/databases.yaml
  kubernetes/config/namespaces/flux-system.yaml
  kubernetes/config/namespaces/games.yaml
  kubernetes/config/namespaces/home-automation.yaml
  kubernetes/config/namespaces/kube-system.yaml
  kubernetes/config/namespaces/kustomization.yaml
  kubernetes/config/namespaces/media.yaml
  kubernetes/config/namespaces/monitoring.yaml
  kubernetes/config/namespaces/networking.yaml
  kubernetes/config/namespaces/rook-ceph.yaml
  kubernetes/tools/restore-backups/postgres-job.yaml
  kubernetes/tools/rook/wipe.yaml
Labels: area/kubernetes

Enable Hubble for Cilium
  kubernetes/core/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

Add changelog
  CHANGELOG.md
Labels: none

ci(deps): update renovatebot/github-action action to v32.150.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart minio to 11.7.18
  kubernetes/apps/default/minio/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.150.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.150.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): Update image ghcr.io/ahinko/simple-k8s-backup to v4.0.0
  kubernetes/apps/apps/nextcloud/backup.yaml
  kubernetes/apps/apps/uptime-kuma/backup.yaml
  kubernetes/apps/databases/influxdb/backup.yaml
  kubernetes/apps/games/minecraft/backup.yaml
  kubernetes/apps/home-automation/home-assistant/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/backup.yaml
  kubernetes/apps/home-automation/zwavejs/backup.yaml
  kubernetes/apps/media/bazarr/backup.yaml
  kubernetes/apps/media/lidarr/backup.yaml
  kubernetes/apps/media/radarr/backup.yaml
  kubernetes/apps/media/sabnzbd/backup.yaml
  kubernetes/apps/media/sonarr-uhd/backup.yaml
  kubernetes/apps/media/sonarr/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

ci(deps): update oxsecurity/megalinter action to v6.3.0
  .github/workflows/mega-linter.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.151.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/home-assistant/home-assistant to 2022.8.2
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/k8s-at-home/sonarr to v3.0.9.1549
  kubernetes/apps/media/sonarr-uhd/helm-release.yaml
  kubernetes/apps/media/sonarr/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.10.0
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart nextcloud to 3.0.4
  kubernetes/apps/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
