Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

Quiet noisy renovate warnings
  .github/renovate.json5
  .github/renovate/disabledDatasources.json5
Labels: area/ci

remove gitleaksignore file
  .gitleaksignore
Labels: none

chore(deps): update budimanjojo/talhelper to v1.5.3
  .taskfiles/tools.yaml
Labels: none

fix(helm): update chart kube-prometheus-stack to 41.0.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.234.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update siderolabs/talos to v1.2.5
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/kubernetes/talconfig.yaml
  infrastructure/kubernetes/upgrade-talos.sh
Labels: none

ci(deps): update renovatebot/github-action action to v32.236.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart vector to 0.16.3
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.2.1
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.236.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart haproxy to 1.17.3
  kubernetes/cluster/networking/haproxy/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.236.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image timberio/vector to v0.24.2
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.15.0
  .pre-commit-config.yaml
Labels: none

feat(helm): update chart kube-prometheus-stack to 41.4.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.236.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.25.3
  kubernetes/cluster/kube-system/tainter/cronjob.yaml
  kubernetes/cluster/networking/cloudflare-ddns/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/siderolabs/kubelet to v1.25.3
  infrastructure/kubernetes/talconfig.yaml
  infrastructure/kubernetes/upgrade-k8s.sh
Labels: none

feat(helm): update chart crowdsec to 0.7.0
  kubernetes/cluster/networking/crowdsec/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.40.5
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2022.10.4
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.238.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/sct/overseerr to v1.30.1
  kubernetes/cluster/media/overseerr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 41.4.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.238.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart grafana to 6.42.2
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.238.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image quay.io/minio/minio to release.2022-10-15t19-57-03z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

Add gitleaksignore file
  .gitleaksignore
Labels: none

ci(deps): update renovatebot/github-action action to v32.238.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.238.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

Update paths
  .github/workflows/schedule-cloudflare-ip-ranges-updates.yaml
  .github/workflows/terraform-security-scan.yaml
Labels: area/ci

Update readme
  README.md
Labels: none

Update gitignore
  .gitignore
Labels: none

Update provider regex for csr approver
  kubernetes/cluster/kube-system/kubelet-csr-approver/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tibdex/github-app-token action to v1.7.0
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
  .github/workflows/helm-release-differ.yaml
  .github/workflows/mega-linter.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-pr-size-label.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-cloudflare-ip-ranges-updates.yaml
  .github/workflows/schedule-renovate.yaml
  .github/workflows/terraform-security-scan.yaml
Labels: area/ci

ci(deps): update peter-evans/create-pull-request action to v4.1.4
  .github/workflows/schedule-cloudflare-ip-ranges-updates.yaml
Labels: area/ci

ci(deps): update peter-evans/create-or-update-comment action to v2.0.1
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

ci(deps): update oxsecurity/megalinter action to v6.12.0
  .github/workflows/mega-linter.yaml
Labels: area/ci

fix(container): update image docker.io/intel/intel-gpu-plugin to v0.24.1
  kubernetes/cluster/kube-tools/intel-gpu-plugin/helm-release.yaml
Labels: area/kubernetes
