Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/docs, area/docker, area/kubernetes, area/terraform

feat: monitor restic rest with gatus
  kubernetes/apps/storage/restic-rest/install.yaml
Labels: area/kubernetes

fix: streamline yaml anchors
  kubernetes/apps/security/aliasvault/install.yaml
  kubernetes/apps/security/pocket-id/install.yaml
  kubernetes/apps/selfhosted/atuin/install.yaml
  kubernetes/apps/selfhosted/fusion/install.yaml
  kubernetes/apps/selfhosted/karakeep/install.yaml
Labels: area/kubernetes

fix: update talos configs
  infrastructure/talos/talconfig.yaml
Labels: none

fix: update vscode config
  .vscode/settings.json
Labels: none

fix: remove old docs
  docs/cluster/provision.md
  docs/cluster/upgrades.md
  docs/hosts.md
Labels: area/docs

feat: install homepage
  kubernetes/apps/downloads/bazarr/app/helm-release.yaml
  kubernetes/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/evcc/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/apps/media/maloja/app/helm-release.yaml
  kubernetes/apps/media/multiscrobbler/app/helm-release.yaml
  kubernetes/apps/media/navidrome/app/helm-release.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/observability/alertmanager/app/helm-release.yaml
  kubernetes/apps/observability/gatus/app/helm-release.yaml
  kubernetes/apps/observability/grafana/app/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/security/pocket-id/app/helm-release.yaml
  kubernetes/apps/selfhosted/birdnet/app/helm-release.yaml
  kubernetes/apps/selfhosted/docmost/app/helm-release.yaml
  kubernetes/apps/selfhosted/fusion/app/helm-release.yaml
  kubernetes/apps/selfhosted/gramps/app/helm-release.yaml
  kubernetes/apps/selfhosted/homepage/app/configuration.yaml
  kubernetes/apps/selfhosted/homepage/app/helm-release.yaml
  kubernetes/apps/selfhosted/homepage/app/kustomization.yaml
  kubernetes/apps/selfhosted/homepage/app/rbac.yaml
  kubernetes/apps/selfhosted/homepage/install.yaml
  kubernetes/apps/selfhosted/immich/app/helm-release.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/opencloud/app/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
Labels: area/kubernetes

fix: yeet it-tools
  kubernetes/apps/selfhosted/it-tools/app/helm-release.yaml
  kubernetes/apps/selfhosted/it-tools/app/kustomization.yaml
  kubernetes/apps/selfhosted/it-tools/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix: misc minor things
  kubernetes/apps/ai/kokoro/app/helm-release.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomizeconfig.yaml
  kubernetes/apps/flux-system/operator/app/kustomization.yaml
  kubernetes/apps/flux-system/operator/app/kustomizeconfig.yaml
  kubernetes/apps/flux-system/operator/instance/helm/kustomizeconfig.yaml
  kubernetes/apps/flux-system/operator/instance/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/apps/security/external-secrets/app/kustomizeconfig.yaml
  kubernetes/apps/selfhosted/opencloud/app/helm-release.yaml
  kubernetes/apps/system/spegel/app/kustomization.yaml
  kubernetes/apps/system/spegel/app/kustomizeconfig.yaml
Labels: area/kubernetes

feat: replace node w02 with n01
  .taskfiles/talos/taskfile.yaml
  infrastructure/ansible/roles/pikvm_os/templates/override.yaml.j2
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/ansible, area/kubernetes

fix: update a few versions
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/observability/silence-operator/app/helm-release.yaml
Labels: area/kubernetes

feat: node feature role for intel arc and stuff
  kubernetes/apps/system/intel-device-plugins/gpu/nodefeaturerule.yaml
Labels: area/kubernetes

feat: deploy ollama
  kubernetes/apps/ai/kustomization.yaml
  kubernetes/apps/ai/ollama/app/helm-release.yaml
  kubernetes/apps/ai/ollama/app/kustomization.yaml
  kubernetes/apps/ai/ollama/install.yaml
Labels: area/kubernetes

feat: deploy sdnext
  kubernetes/apps/ai/kustomization.yaml
  kubernetes/apps/ai/sdnext/app/helm-release.yaml
  kubernetes/apps/ai/sdnext/app/kustomization.yaml
  kubernetes/apps/ai/sdnext/app/pvc.yaml
  kubernetes/apps/ai/sdnext/install.yaml
Labels: area/kubernetes

deploy: searxng (for ai/llms)
  kubernetes/apps/ai/kustomization.yaml
  kubernetes/apps/ai/searxng/app/external-secret.yaml
  kubernetes/apps/ai/searxng/app/helm-release.yaml
  kubernetes/apps/ai/searxng/app/kustomization.yaml
  kubernetes/apps/ai/searxng/app/resources/limiter.toml
  kubernetes/apps/ai/searxng/app/resources/settings.yml
  kubernetes/apps/ai/searxng/install.yaml
Labels: area/kubernetes

feat: deploy open-webui
  kubernetes/apps/ai/kustomization.yaml
  kubernetes/apps/ai/open-webui/app/external-secret.yaml
  kubernetes/apps/ai/open-webui/app/helm-release.yaml
  kubernetes/apps/ai/open-webui/app/kustomization.yaml
  kubernetes/apps/ai/open-webui/install.yaml
Labels: area/kubernetes

fix: update qbittorrent config
  kubernetes/apps/downloads/qbittorrent/app/config/dnsdist.conf
  kubernetes/apps/downloads/qbittorrent/app/external-secret.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/install.yaml
Labels: area/kubernetes

fix: update romm config
  kubernetes/apps/games/romm/app/config.yaml
  kubernetes/apps/games/romm/app/helm-release.yaml
  kubernetes/apps/games/romm/app/kustomization.yaml
Labels: area/kubernetes

fix: give zwave js more ram
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

feat: update rook-ceph to 1.18
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/oci-repository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/oci-repository.yaml
Labels: area/kubernetes

fix: update karakeep config
  kubernetes/apps/selfhosted/karakeep/app/helm-release.yaml
Labels: area/kubernetes

fix: add ssh keys to znapzend
  kubernetes/apps/storage/znapzend/app/external-secret.yaml
  kubernetes/apps/storage/znapzend/app/helm-release.yaml
  kubernetes/apps/storage/znapzend/app/kustomization.yaml
Labels: area/kubernetes

feat: move to official radical image
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/install.yaml
Labels: area/kubernetes

fix: remove kronos backup stuff
  backups/backup_jobs_kronos.yaml
  backups/zfs_cron_snapshots.sh
Labels: none

fix: update qbittorent config again
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "docker/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
