Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

fix(helm): update chart nextcloud to 3.5.12
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart cloudnative-pg to 0.18.0
  kubernetes/cluster/databases/cloudnative-pg/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v35.9.2
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(container): update siderolabs/talos to v1.4.1
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

Misc housekeeping
  .github/renovate/regexManagers.json5
  .github/scripts/helmReleaseDiff.mjs
  .taskfiles/flux.yaml
  .taskfiles/kubernetes.yaml
Labels: area/ci

Update Talos config
  infrastructure/talos/integrations/cilium-quick-install/quick-install.yaml
  infrastructure/talos/integrations/cni/.gitignore
  infrastructure/talos/integrations/cni/cilium.yaml
  infrastructure/talos/integrations/cni/kustomization.yaml
  infrastructure/talos/integrations/cni/transformers.yaml
  infrastructure/talos/integrations/cni/values.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/.gitignore
  infrastructure/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/transformers.yaml
  infrastructure/talos/talconfig.yaml
Labels: none

Update terraform dependencies
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/minio/.terraform.lock.hcl
Labels: area/terraform

Set up minio postgres bucket with Terraform
  infrastructure/terraform/minio/minio_bucket_postgres.tf
Labels: area/terraform

Added some documentation/snippet documenting some issues and fixes
  docs/snippets.md
Labels: area/docs

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.4
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

Fix broken path
  infrastructure/talos/integrations/cni/kustomization.yaml
Labels: none

Add custom Alerts for OOMKilled pods
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/alerts/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/alerts/oomkilled.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/addons/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/kustomization.yaml
Labels: area/kubernetes

Deploy miniflux and update postgres backup to include miniflux db
  kubernetes/apps/databases/postgres-backup/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/kustomization.yaml
  kubernetes/apps/selfhosted/miniflux/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/miniflux/kustomization.yaml
Labels: area/kubernetes

ci(deps): update peter-evans/create-or-update-comment action to v3.0.1
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

ci(deps): update peter-evans/create-pull-request action to v5.0.1
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/ci

fix(container): update image ghcr.io/esphome/esphome to v2023.4.3
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sabnzbd to v4.0.1
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.471
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.5.1
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v36.0.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image haproxytech/haproxy-alpine to v2.7.8
  kubernetes/apps/networking/haproxy/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.24.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.11.5
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.5.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

feat(helm): update chart loki to 5.4.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v36.1.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart loki to 5.5.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.4.4
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.25.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.15.0
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-assistant/home-assistant to v2023.5.1
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.10.2
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image quay.io/minio/minio to release.2023-05-04t21-44-30z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart emqx-operator to 2.1.2
  kubernetes/apps/home-automation/emqx/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.6.1
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart descheduler to 0.27.0
  kubernetes/apps/kube-tools/descheduler/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v36.1.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.23
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.5.2
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/git-sync/git-sync to v3.6.6
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes
