Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

ci(deps): update renovatebot/github-action action to v32.190.6
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart ingress-nginx to 4.2.5
  kubernetes/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwavejs2mqtt to v7.1.0
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.192.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(terraform): update terraform cloudflare to 3.23.0
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

chore(deps): update pre-commit hook antonbabenko/pre-commit-terraform to v1.75.0
  .pre-commit-config.yaml
Labels: none

feat(helm): update chart cloudnative-pg to 0.15.0
  kubernetes/apps/databases/cloudnative-pg/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart haproxy to 1.17.0
  kubernetes/apps/networking/haproxy/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart minio to 11.10.1
  kubernetes/apps/default/minio/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.194.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.194.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image nextcloud to v24.0.5
  kubernetes/apps/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.194.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image k8s.gcr.io/node-problem-detector/node-problem-detector to v0.8.12
  kubernetes/apps/kube-system/node-problem-detector/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.10.1
  kubernetes/core/rook-ceph/cluster/helm-release.yaml
  kubernetes/core/rook-ceph/kustomization.yaml
  kubernetes/core/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(container): update image codercom/code-server to v4.7.0
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.194.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update oxsecurity/megalinter action to v6.9.0
  .github/workflows/mega-linter.yaml
Labels: area/ci

ci(deps): update oxsecurity/megalinter action to v6.9.1
  .github/workflows/mega-linter.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.194.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/home-assistant/home-assistant to v2022.9.2
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

chore(deps): update fluxcd/flux2 to v0.34.0
  kubernetes/flux/flux-system/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook adrienverge/yamllint to v1.28.0
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart nextcloud to 3.1.2
  kubernetes/apps/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart node-problem-detector to 2.2.5
  kubernetes/apps/kube-system/node-problem-detector/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.195.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update community.general to 5.6.0
  infrastructure/requirements.yaml
Labels: none

fix(container): update siderolabs/talos to v1.2.2
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/kubernetes/talconfig.yaml
  infrastructure/kubernetes/upgrade-talos.sh
Labels: none

Migrate away from k8s-at-home charts
  kubernetes/apps/home-automation/frigate/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
  kubernetes/apps/media/lidarr/helm-release.yaml
  kubernetes/apps/media/lidarr/kustomization.yaml
  kubernetes/apps/media/lidarr/sops.secrets.yaml
  kubernetes/apps/media/radarr/helm-release.yaml
  kubernetes/apps/media/radarr/kustomization.yaml
  kubernetes/apps/media/radarr/scripts/pushover-notify.sh
  kubernetes/apps/media/radarr/sops.secrets.yaml
  kubernetes/apps/media/sabnzbd/helm-release.yaml
  kubernetes/apps/media/sabnzbd/kustomization.yaml
  kubernetes/apps/media/sabnzbd/sops.secrets.yaml
  kubernetes/apps/media/sonarr-uhd/helm-release.yaml
  kubernetes/apps/media/sonarr-uhd/kustomization.yaml
  kubernetes/apps/media/sonarr-uhd/scripts/pushover-notify.sh
  kubernetes/apps/media/sonarr-uhd/sops.secrets.yaml
  kubernetes/apps/media/sonarr/helm-release.yaml
  kubernetes/apps/media/sonarr/kustomization.yaml
  kubernetes/apps/media/sonarr/scripts/pushover-notify.sh
  kubernetes/apps/media/sonarr/sops.secrets.yaml
  kubernetes/charts/bjw-s-charts.yaml
  kubernetes/charts/kustomization.yaml
  kubernetes/core/kube-system/intel-gpu-plugin/helm-release.yaml
  kubernetes/core/kube-system/node-feature-discovery/helm-release.yaml
Labels: area/kubernetes

Deploy overseerr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/overseerr/config-pvc.yaml
  kubernetes/apps/media/overseerr/helm-release.yaml
  kubernetes/apps/media/overseerr/kustomization.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
Labels: area/kubernetes

Remove bazarr
  kubernetes/apps/media/bazarr/config-pvc.yaml
  kubernetes/apps/media/bazarr/helm-release.yaml
  kubernetes/apps/media/bazarr/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
Labels: area/kubernetes

Fix issue with influxdb restore job
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
Labels: area/kubernetes

Update interval on charts
  kubernetes/charts/bitnami-charts.yaml
  kubernetes/charts/cilium-charts.yaml
  kubernetes/charts/cloudnative-pg-charts.yaml
  kubernetes/charts/crowdsec-charts.yaml
  kubernetes/charts/deliveryhero-charts.yaml
  kubernetes/charts/emqx-charts.yaml
  kubernetes/charts/external-dns-charts.yaml
  kubernetes/charts/fairwinds-charts.yaml
  kubernetes/charts/hajimari-charts.yaml
  kubernetes/charts/haproxy-charts.yaml
  kubernetes/charts/influxdata-charts.yaml
  kubernetes/charts/infracloudio-charts.yaml
  kubernetes/charts/ingress-nginx.yaml
  kubernetes/charts/itzg-minecraft-server-charts.yaml
  kubernetes/charts/jetstack-charts.yaml
  kubernetes/charts/kubernetes-sigs-descheduler-charts.yaml
  kubernetes/charts/kubernetes-sigs-metrics-server-charts.yaml
  kubernetes/charts/kubernetes-sigs-node-feature-discovery-charts.yaml
  kubernetes/charts/kyverno-charts.yaml
  kubernetes/charts/metallb-charts.yaml
  kubernetes/charts/nextcloud-charts.yaml
  kubernetes/charts/rook-ceph-charts.yaml
  kubernetes/charts/stakater-charts.yaml
Labels: area/kubernetes

Migrate away from k8s-at-home docker containers
  kubernetes/apps/networking/cloudflare-ddns/cronjob.yaml
  kubernetes/core/kube-system/tainter/cronjob.yaml
Labels: area/kubernetes

Migrate away from k8s-at-home charts
  kubernetes/apps/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

Upgrade Talos to latest version
  infrastructure/kubernetes/talconfig.yaml
  infrastructure/kubernetes/talenv.sops.yaml
  infrastructure/kubernetes/talsecret.yaml
  infrastructure/kubernetes/upgrade-talos.sh
Labels: none

Cloudnative-pg is not compatible with k8s version 1.25 so lets migrate Postgres to docker on nas for now
  docker/atlas/postgres/docker-compose.yaml
  kubernetes/apps/apps/nextcloud/helm-release.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/postgres-cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/kustomization.yaml
  kubernetes/apps/databases/kustomization.yaml
Labels: area/kubernetes, area/docker

Minor fixes to github actions and dev env
  .github/renovate/regexManagers.json5
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .vscode/settings.json
  cloud/cloudflare/.terraform.lock.hcl
Labels: area/ci, area/terraform

Run vscode for home assistant using a separate helm chart
  kubernetes/apps/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant-code/kustomization.yaml
  kubernetes/apps/home-automation/kustomization.yaml
Labels: area/kubernetes

Update frigate config
  kubernetes/apps/home-automation/frigate/config.yaml
Labels: area/kubernetes
