Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

feat(helm): update chart thanos to 11.6.1
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

Switch back to cloudnative-pg instead of Postgres+docker on NAS
  docker/atlas/postgres/docker-compose.yaml.inactive
  kubernetes/cluster/databases/cloudnative-pg/clusters/postgres-cluster.yaml
  kubernetes/cluster/databases/cloudnative-pg/helm-release.yaml
  kubernetes/cluster/databases/cloudnative-pg/kustomization.yaml
  kubernetes/cluster/databases/kustomization.yaml
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
  kubernetes/cluster/databases/postgres-backup/sops.secrets.yaml
  scripts/automatic-docker-updates.sh
Labels: area/kubernetes, area/docker

Minor updates
  docs/network.md
  kubernetes/cluster/kube-tools/kyverno/policies/remove-cpu-limits.yaml
  kubernetes/cluster/monitoring/kustomization.yaml
  kubernetes/cluster/monitoring/smartctl-exporter/helm-release.yaml
Labels: area/kubernetes, area/docs

ci(deps): update renovatebot/github-action action to v34.27.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart cilium to 1.12.4
  .taskfiles/kubernetes.yaml
  kubernetes/cluster/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.10.6
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2022-11-17t23-20-09z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.27.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.7
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.2
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.44.4
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.5.0
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform kubernetes to 2.16.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

ci(deps): update renovatebot/github-action action to v34.28.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart kube-prometheus-stack to 41.9.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart app-template to 1.1.3
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
  kubernetes/cluster/default/minio/helm-release.yaml
  kubernetes/cluster/home-automation/frigate/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
  kubernetes/cluster/kube-tools/intel-gpu-exporter/helm-release.yaml
  kubernetes/cluster/kube-tools/intel-gpu-plugin/helm-release.yaml
  kubernetes/cluster/media/lidarr/helm-release.yaml
  kubernetes/cluster/media/overseerr/helm-release.yaml
  kubernetes/cluster/media/radarr/helm-release.yaml
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
  kubernetes/cluster/media/sonarr-uhd/helm-release.yaml
  kubernetes/cluster/media/sonarr/helm-release.yaml
  kubernetes/cluster/monitoring/speedtest-exporter/helm-release.yaml
  kubernetes/cluster/selfhosted/radicale/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.15.1
  .pre-commit-config.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v34.28.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/home-assistant/home-assistant to v2022.11.4
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.29.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.29.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.29.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update cert-manager to v1.10.1
  kubernetes/cluster/cert-manager/helm-release.yaml
  kubernetes/cluster/cert-manager/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 2.6.2
  kubernetes/cluster/kube-tools/kyverno/helm-release.yaml
  kubernetes/cluster/kube-tools/kyverno/kustomization.yaml
Labels: area/kubernetes

ci(deps): update peter-evans/create-pull-request action to v4.2.1
  .github/workflows/schedule-cloudflare-ip-ranges-updates.yaml
Labels: area/ci

fix(container): update image docker.io/frrouting/frr to v8.4.1
  infrastructure/ansible/roles/udmpro/files/scripts/10-onboot-ffr.sh
Labels: none

ci(deps): update renovatebot/github-action action to v34.30.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart grafana to 6.44.7
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 11.6.2
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(container): update siderolabs/talos to v1.2.7
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

feat(helm): update chart loki to 3.4.1
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.30.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart loki to 3.4.2
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

chore(deps): update fluxcd/flux2 to v0.37.0
  kubernetes/flux/flux-system/gotk-components.yaml
Labels: area/kubernetes

feat(helm): Update chart kube-prometheus-stack to 42.0.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

Update cilium quick install
  infrastructure/talos/integrations/cilium-quick-install/quick-install.yaml
Labels: none

Use variable for cluster endpoint instead of hardcoded IP in multiple places
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.yaml
Labels: none

Update vs code settings
  .vscode/settings.json
Labels: none

Fix issue with certificates
  kubernetes/cluster/kube-system/kubelet-csr-approver/helm-release.yaml
Labels: area/kubernetes

Add annotation so k8s-gateway can response to vector address requests
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
