Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

ci(deps): update renovatebot/github-action action to v34.54.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.54.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/home-assistant/home-assistant to v2022.12.1
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.26.0
  kubernetes/cluster/kube-system/tainter/cronjob.yaml
  kubernetes/cluster/networking/cloudflare-ddns/cronjob.yaml
Labels: area/kubernetes

feat(container): update image quay.io/minio/minio to release.2022-12-07t00-56-37z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

feat(container): update image timberio/vector to v0.26.0
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.47.1
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 42.3.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart vector to 0.18.0
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

Nextcloud: remove unused config for cronjob
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

Re-enable goldilocks
  kubernetes/cluster/monitoring/goldilocks/helm-release.yaml
  kubernetes/cluster/monitoring/kustomization.yaml
Labels: area/kubernetes

Fix Vector issues
  kubernetes/cluster/monitoring/vector/aggregator/config/vector.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/kustomization.yaml
Labels: area/kubernetes

Update URL to Cloudnative-PGs grafana dashboard
  kubernetes/cluster/databases/cloudnative-pg/kustomization.yaml
Labels: area/kubernetes

Misc fixes
  .taskfiles/tools.yaml
  .vscode/settings.json
  infrastructure/talos/upgrade-talos.sh
Labels: none

Deploy EMQx-operator. Replaced EMQx+Helm
  CHANGELOG.md
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
  kubernetes/cluster/home-automation/emqx/cluster/ingress.yaml
  kubernetes/cluster/home-automation/emqx/cluster/kustomization.yaml
  kubernetes/cluster/home-automation/emqx/cluster/loadbalancer.yaml
  kubernetes/cluster/home-automation/emqx/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.54.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart grafana to 6.48.0
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.55.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image quay.io/minio/minio to release.2022-12-12t19-27-27z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.3.4
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

ci(deps): update actions/checkout action to v3.2.0
  .github/workflows/helm-release-differ.yaml
  .github/workflows/mega-linter.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-cloudflare-ip-ranges-updates.yaml
  .github/workflows/schedule-renovate.yaml
  .github/workflows/terraform-security-scan.yaml
Labels: area/ci

ci(deps): update azure/setup-helm action to v3.5
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

ci(deps): update azure/setup-helm action to v3.5
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.10
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.5
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

feat(container): update image plexinc/pms-docker to v1.30.0.6486-629d58034
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

chore(deps): update fabianishere/udm-kernel-tools to v1.1.7
  infrastructure/ansible/roles/udmpro/defaults/main.yaml
Labels: none

feat(terraform): update terraform cloudflare to 3.30.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

fix(container): update image emqx/emqx to v5.0.12
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2022.12.6
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.56.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart loki to 3.8.0
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.56.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart thanos to 11.6.5
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

feat(container): update siderolabs/talos to v1.3.0
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

ci(deps): update renovatebot/github-action action to v34.58.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image influxdb to v2.6.0
  kubernetes/cluster/databases/influxdb/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.58.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart crowdsec to 0.8.2
  kubernetes/cluster/networking/crowdsec/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.9.1
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2-code/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
