Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

Update postgres cluster config
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
Labels: area/kubernetes

Pause Element deployment
  kubernetes/apps/selfhosted/element/app/cluster/kustomization.yaml
  kubernetes/apps/selfhosted/element/app/cluster/sops.secrets.yaml
  kubernetes/apps/selfhosted/element/app/kustomization.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

Deploy Mastodon
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/mastodon/app/database.yaml
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon/app/ingress.yaml
  kubernetes/apps/selfhosted/mastodon/app/kustomization.yaml
  kubernetes/apps/selfhosted/mastodon/app/pvc.yaml
  kubernetes/apps/selfhosted/mastodon/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/mastodon/install.yaml
  kubernetes/apps/selfhosted/mastodon/redis/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon/redis/kustomization.yaml
Labels: area/kubernetes

feat(tainter): Add rbac
  kubernetes/apps/kube-system/tainter/app/cronjob.yaml
  kubernetes/apps/kube-system/tainter/app/kustomization.yaml
  kubernetes/apps/kube-system/tainter/app/rbac.yaml
Labels: area/kubernetes

fix(mastodon): update config
  kubernetes/apps/selfhosted/mastodon/README.md
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon/app/ingress.yaml
Labels: area/kubernetes

archive(paperless): cool software but its not for me
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/paperless/app/database.yaml
  kubernetes/apps/selfhosted/paperless/app/helm-release.yaml
  kubernetes/apps/selfhosted/paperless/app/kustomization.yaml
  kubernetes/apps/selfhosted/paperless/app/nfs-pvc.yaml
  kubernetes/apps/selfhosted/paperless/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/paperless/install.yaml
Labels: area/kubernetes

feat(mosquitto): replace s#!ty emqx after another failed minor/patch update
  kubernetes/apps/home-automation/emqx/app/helm-release.yaml
  kubernetes/apps/home-automation/emqx/app/kustomization.yaml
  kubernetes/apps/home-automation/emqx/cluster/emqx-cluster.yaml
  kubernetes/apps/home-automation/emqx/cluster/ingress.yaml
  kubernetes/apps/home-automation/emqx/cluster/kustomization.yaml
  kubernetes/apps/home-automation/emqx/cluster/loadbalancer.yaml
  kubernetes/apps/home-automation/emqx/install.yaml
  kubernetes/apps/home-automation/frigate/app/config/config.yaml
  kubernetes/apps/home-automation/home-assistant/install.yaml
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/mosquitto/app/config/mosquitto.conf
  kubernetes/apps/home-automation/mosquitto/app/helm-release.yaml
  kubernetes/apps/home-automation/mosquitto/app/kustomization.yaml
  kubernetes/apps/home-automation/mosquitto/app/pvc.yaml
  kubernetes/apps/home-automation/mosquitto/app/sops.secrets.yaml
  kubernetes/apps/home-automation/mosquitto/install.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/install.yaml
  kubernetes/flux/repositories/helm/emqx-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/vars/cluster-settings.yaml
  kubernetes/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

fix(backup): update a few restore jobs
  kubernetes/tools/restore-backups/influxdb-job.yaml
  kubernetes/tools/restore-backups/slskd-job.yaml
Labels: area/kubernetes

feat(frigate): replace camera and update config
  kubernetes/apps/home-automation/frigate/app/config/config.yaml
Labels: area/kubernetes

feat(docs): add snippet about updating Tube's Zigbee coordinator
  docs/snippets.md
Labels: area/docs

fix(ci): flux diff
  .github/workflows/flux-diff.yaml
Labels: area/ci

feat(ci): docker image tester
  .github/scripts/extract-images.mjs
  .github/workflows/docker-image-tester.yaml
Labels: area/ci

fix(ci): Look for Docker images in more file types
  .github/workflows/docker-image-tester.yaml
Labels: area/ci

feat(frigate): update config for drive way camera
  kubernetes/apps/home-automation/frigate/app/config/config.yaml
Labels: area/kubernetes

fix(k8s-gateway): remove for .social domain
  kubernetes/apps/networking/k8s-gateway/app/helm-release.yaml
  kubernetes/apps/networking/k8s-gateway/app/homelab/kustomization.yaml
  kubernetes/apps/networking/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/networking/k8s-gateway/app/social/helm-release.yaml
  kubernetes/apps/networking/k8s-gateway/app/social/kustomization.yaml
Labels: area/kubernetes

fix(mastodon): change tls secret name
  kubernetes/apps/selfhosted/mastodon/app/ingress.yaml
Labels: area/kubernetes

feat(mastodon): give sidekiq more ram
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
Labels: area/kubernetes

fix(cluster): remove a few secrets and settings
  kubernetes/flux/vars/cluster-settings.yaml
  kubernetes/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

feat(mastodon): deploy fakerelay
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/mastodon-fakerelay/app/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon-fakerelay/app/kustomization.yaml
  kubernetes/apps/selfhosted/mastodon-fakerelay/app/pvc.yaml
  kubernetes/apps/selfhosted/mastodon-fakerelay/install.yaml
Labels: area/kubernetes

feat(mastodon): deploy get-moar-fediverse
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/mastodon-getmoarfediverse/app/cronjob.yaml
  kubernetes/apps/selfhosted/mastodon-getmoarfediverse/app/kustomization.yaml
  kubernetes/apps/selfhosted/mastodon-getmoarfediverse/app/pvc.yaml
  kubernetes/apps/selfhosted/mastodon-getmoarfediverse/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/mastodon-getmoarfediverse/install.yaml
Labels: area/kubernetes

chore(tools): add zx to list of tools to install
  .taskfiles/tools.yaml
Labels: none

feat(ansible): Deploy on NAS in a virtual machine
  .github/renovate/regexManagers.json5
  infrastructure/ansible/inventory/host_vars/atlas/kvm_qemu.yaml
  infrastructure/ansible/provision_metal.yaml
  infrastructure/ansible/requirements.yaml
  infrastructure/ansible/roles/kvm_qemu/handlers/main.yaml
  infrastructure/ansible/roles/kvm_qemu/tasks/configure.yaml
  infrastructure/ansible/roles/kvm_qemu/tasks/install.yaml
  infrastructure/ansible/roles/kvm_qemu/tasks/main.yaml
  infrastructure/ansible/roles/kvm_qemu/tasks/vms.yaml
  infrastructure/ansible/roles/kvm_qemu/templates/netplan.yaml
  infrastructure/talos/talconfig.yaml
Labels: area/ci

chore(zot): bye bye
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/zot/app/config/config.json
  kubernetes/apps/storage/zot/app/helm-release.yaml
  kubernetes/apps/storage/zot/app/kustomization.yaml
  kubernetes/apps/storage/zot/app/pvc.yaml
  kubernetes/apps/storage/zot/install.yaml
Labels: area/kubernetes

feat(spegel): deploy
  kubernetes/apps/storage/spegel/app/helm-release.yaml
  kubernetes/apps/storage/spegel/app/kustomization.yaml
  kubernetes/apps/storage/spegel/install.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/windmill-charts.yaml
  kubernetes/flux/repositories/helm/xenitab-charts.yaml
Labels: area/kubernetes

chore(talos): refactor update scripts
  infrastructure/talos/common.sh
  infrastructure/talos/upgrade-k8s.sh
  infrastructure/talos/upgrade-talos.sh
Labels: none

feat(descheduler): redeploy
  kubernetes/apps/kube-tools/descheduler/app/helm-release.yaml
  kubernetes/apps/kube-tools/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-tools/descheduler/install.yaml
  kubernetes/apps/kube-tools/kustomization.yaml
Labels: area/kubernetes

chore(grafana): Update dashboards
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

chore(talos): update cilium integrations
  infrastructure/talos/integrations/cni/cilium.yaml
  infrastructure/talos/integrations/cni/kustomization.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: none

chore(misc): Maintenance
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/docker-image-tester.yaml
  .github/workflows/meta-pr-size-label.yaml
  .github/workflows/schedule-renovate.yaml
  .gitignore
Labels: area/ci

chore(talos): decomission Hades (rpi)
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.yaml
  infrastructure/talos/upgrade-talos.sh
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/tainter/app/cronjob.yaml
  kubernetes/apps/kube-system/tainter/app/kustomization.yaml
  kubernetes/apps/kube-system/tainter/app/rbac.yaml
  kubernetes/apps/kube-system/tainter/install.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

chore(metallb): only announce L2 on atlas and poseidon
  kubernetes/apps/networking/metallb/config/layer2-advertisement.yaml
Labels: area/kubernetes

chore(taskfile): minor updates
  .taskfiles/kubernetes.yaml
  .taskfiles/talos.yaml
Labels: none

chore(workflow): disable image tester for now
  .github/workflows/docker-image-tester.inactive
Labels: area/ci

chore(csr-approver): update to latest version
  infrastructure/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: none

chore(piper): pin to version
  kubernetes/apps/home-automation/wyoming-piper/app/helm-release.yaml
Labels: area/kubernetes

chore(github-runner): change to own image
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

chore(mosquitto): switch traffic policy to cluster
  kubernetes/apps/home-automation/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

chore(jellyfin): move to nas and docker
  docker/atlas/jellyfin/docker-compose.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/config-pvc.yaml
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/apps/media/jellyfin/install.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, area/docker

chore(metallb): let another node announce LBs
  kubernetes/apps/networking/metallb/config/layer2-advertisement.yaml
Labels: area/kubernetes

chore(minio): give more resources
  kubernetes/apps/storage/minio/app/helm-release.yaml
Labels: area/kubernetes
