Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

fix(helm): update chart intel-device-plugins-operator to 0.27.1
  kubernetes/apps/kube-tools/intel-device-plugins/app/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform http to 3.4.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

fix(container): update image thanos to v12.8.3
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 1.6.30
  kubernetes/apps/selfhosted/windmill/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.4
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/esphome/esphome to v2023.6.2
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.6.3
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.63.0
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-06-23t20-26-00z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.31
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/home-automation/zwavejs/app/backup.yaml
  kubernetes/apps/media/bazarr/app/backup.yaml
  kubernetes/apps/media/lidarr/app/backup.yaml
  kubernetes/apps/media/radarr/app/backup.yaml
  kubernetes/apps/media/sabnzbd/app/backup.yaml
  kubernetes/apps/media/sonarr-requests/app/backup.yaml
  kubernetes/apps/media/sonarr/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.28
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

Fix variable name in flux diff github workflow
  .github/workflows/flux-diff.yaml
Labels: area/ci

Install Intel grapics and micro code on Talos nodes
  infrastructure/talos/talconfig.yaml
Labels: none

Update recyclarr
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yml
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

Deploy Wyoming Piper
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/wyoming-piper/app/helm-release.yaml
  kubernetes/apps/home-automation/wyoming-piper/app/kustomization.yaml
  kubernetes/apps/home-automation/wyoming-piper/app/pvc.yaml
  kubernetes/apps/home-automation/wyoming-piper/kustomization.yaml
Labels: area/kubernetes

Update replicas for Immich
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
Labels: area/kubernetes

Use ARC upstream image
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

Terraform deps
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
Labels: area/terraform

ci(deps): update renovatebot/github-action action to v38.1.8
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/bazarr to v1.2.2
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.545
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.0.2
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.63.2
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.14
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.0.3
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

Fix issue with flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/ci

Use template for vs-code settings due to secret values
  .gitignore
  .vscode/settings_template.json
Labels: none

Fix issues with ARC not picking up jobs
  kubernetes/apps/dev/actions-runner-controller/app/sops.secrets.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

Update Flux webhook config
  kubernetes/apps/flux-system/add-ons/webhooks/github/receiver.yaml
Labels: area/kubernetes

Start publishing kubernetes/crd-schemas
  .github/workflows/publish-schemas.yaml
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
  kubernetes/apps/dev/kubernetes-schemas/app/kustomization.yaml
  kubernetes/apps/dev/kubernetes-schemas/install.yaml
  kubernetes/apps/dev/kustomization.yaml
Labels: area/ci, area/kubernetes

fix(container): update image registry.k8s.io/git-sync/git-sync to v3.6.8
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/recyclarr/recyclarr to v5.1.0
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image louislam/uptime-kuma to v1.22.0
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.14.1
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.547
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.57.4
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.64.0
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.sops to 1.6.3
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

fix(helm): update chart reloader to 1.0.29
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.548
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes
