Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/docs, area/docker, area/kubernetes, area/terraform

feat(snapshot-controller): deploy
  kubernetes/apps/storage/snapshot-controller/app/helm-release.yaml
  kubernetes/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/storage/snapshot-controller/install.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/piraeus-charts.yaml
Labels: area/kubernetes

feat(volsync): deploy
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/volsync/app/helm-release.yaml
  kubernetes/apps/storage/volsync/app/kustomization.yaml
  kubernetes/apps/storage/volsync/app/prometheus-rule.yaml
  kubernetes/apps/storage/volsync/install.yaml
  kubernetes/flux/repositories/helm/backube-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore(grafana): renovate dashboards
  .github/renovate.json5
  .github/renovate/grafanadashboards.json5
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/ci, area/kubernetes

chore(script): move outside repo
  scripts/backup-to-external-disk.sh
Labels: none

chore(minio): Give Minio more RAM
  kubernetes/apps/storage/minio/app/helm-release.yaml
Labels: area/kubernetes

feat(plex): please go away, ride in to the sunset, get the f*ck out of here
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

feat(rook): deploy snapshot class
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

chore(plex): remove ingress
  kubernetes/apps/networking/external-services/app/kustomization.yaml
  kubernetes/apps/networking/external-services/app/plex.yaml
  kubernetes/apps/networking/external-services/install.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes

chore(sonarr-requests): sunset
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/config-pvc.yaml
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr-requests/app/kustomization.yaml
  kubernetes/apps/downloads/sonarr-requests/app/sops.secrets.yaml
  kubernetes/apps/downloads/sonarr-requests/install.yaml
Labels: area/kubernetes

chore(volsync): Create minio bucket
  infrastructure/terraform/minio/minio_bucket_volsync.tf
Labels: area/terraform

chore(taskfile): Rework taskfiles, scripts and bootstrap process
  .github/renovate/regexManagers.json5
  .taskfiles/bootstrap/taskfile.yaml
  .taskfiles/flux.yaml
  .taskfiles/flux/taskfile.yaml
  .taskfiles/kubernetes/taskfile.yaml
  .taskfiles/maintenance/taskfile.yaml
  .taskfiles/rook/taskfile.yaml
  .taskfiles/talos/taskfile.yaml
  .taskfiles/tools.yaml
  .taskfiles/tools/taskfile.yaml
  Taskfile.yml
  docs/cluster/provision.md
  infrastructure/talos/bootstrap/helmfile.yaml
  infrastructure/talos/common.sh
  infrastructure/talos/deploy-extras.sh
  infrastructure/talos/integrations/cni/.gitignore
  infrastructure/talos/integrations/cni/cilium.yaml
  infrastructure/talos/integrations/cni/kustomization.yaml
  infrastructure/talos/integrations/cni/transformers.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/.gitignore
  infrastructure/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/transformers.yaml
  infrastructure/talos/upgrade-k8s.sh
  infrastructure/talos/upgrade-talos.sh
  kubernetes/bootstrap/sops.agekey.yaml
  kubernetes/bootstrap/sops.github-deploy-token.yaml
  kubernetes/flux/vars/sops.cluster-secrets.yaml
Labels: area/ci, area/docs, area/kubernetes

feat(mqtt): replace mosquito with emqx
  kubernetes/apps/home-automation/emqx/app/helm-release.yaml
  kubernetes/apps/home-automation/emqx/app/kustomization.yaml
  kubernetes/apps/home-automation/emqx/cluster/cluster.yaml
  kubernetes/apps/home-automation/emqx/cluster/emqx-init-script-configmap.yaml
  kubernetes/apps/home-automation/emqx/cluster/ingress.yaml
  kubernetes/apps/home-automation/emqx/cluster/kustomization.yaml
  kubernetes/apps/home-automation/emqx/cluster/loadbalancer.yaml
  kubernetes/apps/home-automation/emqx/install.yaml
  kubernetes/apps/home-automation/frigate/app/config/config.yaml
  kubernetes/apps/home-automation/frigate/install.yaml
  kubernetes/apps/home-automation/home-assistant/install.yaml
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/mosquitto/app/config/mosquitto.conf
  kubernetes/apps/home-automation/mosquitto/app/helm-release.yaml
  kubernetes/apps/home-automation/mosquitto/app/kustomization.yaml
  kubernetes/apps/home-automation/mosquitto/app/pvc.yaml
  kubernetes/apps/home-automation/mosquitto/app/sops.secrets.yaml
  kubernetes/apps/home-automation/mosquitto/install.yaml
  kubernetes/apps/home-automation/tcpsolis2mqtt/app/config/config.yaml
  kubernetes/apps/home-automation/tcpsolis2mqtt/install.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/install.yaml
  kubernetes/apps/testing/emqx/app/helm-release.yaml
  kubernetes/apps/testing/emqx/app/kustomization.yaml
  kubernetes/apps/testing/emqx/cluster/cluster.yaml
  kubernetes/apps/testing/emqx/cluster/emqx-init-script-configmap.yaml
  kubernetes/apps/testing/emqx/cluster/ingress.yaml
  kubernetes/apps/testing/emqx/cluster/kustomization.yaml
  kubernetes/apps/testing/emqx/cluster/loadbalancer.yaml
  kubernetes/apps/testing/emqx/install.yaml
  kubernetes/apps/testing/kustomization.yaml
  kubernetes/apps/testing/namespace.yaml
  kubernetes/flux/repositories/helm/emqx-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

chore(reloader): update annotations
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
  kubernetes/apps/networking/external-dns/app/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

chore(misc): housekeeping
  .taskfiles/flux/taskfile.yaml
  .taskfiles/talos/taskfile.yaml
  .taskfiles/tools/taskfile.yaml
  kubernetes/apps/selfhosted/nextcloud/app/kustomization.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore(rook): simplify dashboard config
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

chore(pg): Fix monitoring
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
Labels: area/kubernetes

chore(cert-manager): enable monitoring
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

chore(renovate): update config and fix warnings
  .github/renovate.json5
  .github/renovate/versioning.json5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(mastodon): update version
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
Labels: area/kubernetes

chore(rook): prepare for next rebuild
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

chore(pg): update config
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
Labels: area/kubernetes

chore(mastodon): simplify versioning
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
Labels: area/kubernetes

feat(atuin): deploy
  kubernetes/apps/databases/postgres-backup/app/v16/sops.secrets.yaml
  kubernetes/apps/selfhosted/atuin/app/database.yaml
  kubernetes/apps/selfhosted/atuin/app/helm-release.yaml
  kubernetes/apps/selfhosted/atuin/app/kustomization.yaml
  kubernetes/apps/selfhosted/atuin/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

chore(misc): maintenance
  .taskfiles/talos/taskfile.yaml
  .taskfiles/tools/taskfile.yaml
  kubernetes/apps/databases/cloudnative-pg/app/helm-release.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

feat(app-template): Update to 3.0.4
  kubernetes/apps/downloads/bazarr/app/helm-release.yaml
  kubernetes/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/apps/downloads/recyclarr/app/helm-release.yaml
  kubernetes/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/tcpsolis2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/wyoming-piper/app/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/media/bonob/app/helm-release.yaml
  kubernetes/apps/media/navidrome/app/helm-release.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helm-release.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/apps/selfhosted/atuin/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/backend/helm-release.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/frontend/helm-release.yaml
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
  kubernetes/apps/selfhosted/mailrise/app/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon-fakerelay/app/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
  kubernetes/apps/storage/minio/app/helm-release.yaml
Labels: area/kubernetes

feat(redis+sentinel): Deploy redis + sentinel + proxy
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/redis-proxy/app/helm-release.yaml
  kubernetes/apps/databases/redis-proxy/app/kustomization.yaml
  kubernetes/apps/databases/redis-proxy/install.yaml
  kubernetes/apps/databases/redis/app/helm-release.yaml
  kubernetes/apps/databases/redis/app/kustomization.yaml
  kubernetes/apps/databases/redis/install.yaml
  kubernetes/apps/databases/redis/readme.md
  kubernetes/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/apps/selfhosted/immich/redis/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon/install.yaml
  kubernetes/apps/selfhosted/mastodon/redis/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon/redis/kustomization.yaml
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
  kubernetes/apps/selfhosted/nextcloud/install.yaml
  kubernetes/apps/selfhosted/nextcloud/redis/helm-release.yaml
  kubernetes/flux/repositories/helm/haproxy-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat(gatus): deploy
  kubernetes/apps/home-automation/frigate/install.yaml
  kubernetes/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/apps/home-automation/home-assistant/install.yaml
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/apps/monitoring/gatus/app/database.yaml
  kubernetes/apps/monitoring/gatus/app/helm-release.yaml
  kubernetes/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/rbac.yaml
  kubernetes/apps/monitoring/gatus/app/sops.secrets.yaml
  kubernetes/apps/monitoring/gatus/install.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/selfhosted/nextcloud/app/kustomization.yaml
  kubernetes/apps/selfhosted/radicale/app/kustomization.yaml
  kubernetes/apps/selfhosted/radicale/install.yaml
  kubernetes/apps/storage/minio/app/kustomization.yaml
  kubernetes/tmpl/gatus/external/configmap.yaml
  kubernetes/tmpl/gatus/external/kustomization.yaml
  kubernetes/tmpl/gatus/internal/configmap.yaml
  kubernetes/tmpl/gatus/internal/kustomization.yaml
Labels: area/kubernetes

chore(flux): stop using global cluster secrets
  .taskfiles/flux/taskfile.yaml
  docs/cluster/provision.md
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/loadbalancer.yaml
  kubernetes/apps/downloads/nfs-pvc.yaml
  kubernetes/apps/games/minecraft/app/helm-release.yaml
  kubernetes/apps/home-automation/emqx/cluster/loadbalancer.yaml
  kubernetes/apps/media/nfs-pvc.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/apps/networking/k8s-gateway/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/nfs-pvc.yaml
  kubernetes/apps/storage/minio/app/nfs-pvc.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/vars/cluster-settings.yaml
  kubernetes/flux/vars/kustomization.yaml
Labels: area/docs, area/kubernetes

chore(repo): fix mix bugs, typos etc
  .gitignore
  .taskfiles/maintenance/taskfile.yaml
  .taskfiles/talos/taskfile.yaml
  Taskfile.yml
  docs/cluster/upgrades.md
  kubernetes/apps/databases/influxdb/install.yaml
  kubernetes/apps/kube-tools/k8s-ycl/app/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
Labels: area/docs, area/kubernetes

chore(postgres): rebuild cluster
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
  kubernetes/apps/databases/postgres-backup/app/v16/sops.secrets.yaml
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
  kubernetes/apps/selfhosted/nextcloud/app/sops.secrets.yaml
Labels: area/kubernetes

chore(emqx): pause test cluster
  kubernetes/apps/testing/kustomization.yaml
Labels: area/kubernetes

chore(nextcloud): re-enable backup
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/kustomization.yaml
Labels: area/kubernetes

chore(rook): disable toolbox
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

chore(rook): set prometheus endpoint
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

feat(talos): Added USB ethernet adapter to Intel NUCs and use as only ethernet connection
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
Labels: area/kubernetes

feat(gatus): Monitor postgres cluster
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/gatus.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/kustomization.yaml
Labels: area/kubernetes

chore(postgres-backup): don't call health check url
  kubernetes/apps/databases/postgres-backup/app/v16/sops.secrets.yaml
Labels: area/kubernetes

feat(uptime-kuma): bye bye
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/kustomization.yaml
  kubernetes/apps/monitoring/uptime-kuma/install.yaml
Labels: area/kubernetes

chore(ddns): Don't call health check url
  kubernetes/apps/networking/cloudflare-ddns/app/cronjob.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/kustomization.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/sops.secrets.yaml
Labels: area/kubernetes

chore(grafana): update settings
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "docker/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
