Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/docs, area/docker, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "docker/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

fix: cleanups
  kubernetes/main/apps/selfhosted/gramps/app/helm-release.yaml
  kubernetes/main/flux/instance/cluster.yaml
Labels: area/kubernetes

feat(maybe): deploy
  kubernetes/main/apps/databases/postgres-backup/app/v16/cronjob.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/selfhosted/maybe/app/database.yaml
  kubernetes/main/apps/selfhosted/maybe/app/external-secret.yaml
  kubernetes/main/apps/selfhosted/maybe/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/maybe/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/maybe/install.yaml
Labels: area/kubernetes

fix(hass): add token and url to instance in code server
  kubernetes/main/apps/home-automation/home-assistant/app/external-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
Labels: area/kubernetes

fix(helmfile): flux-operator helm chart version
  kubernetes/main/bootstrap/helmfile.yaml
Labels: area/kubernetes

fix(helmfile): flux-operator helm chart version (#3799)
  kubernetes/main/bootstrap/helmfile.yaml
Labels: area/kubernetes

feat(homepage): deploy. Apparently I need a dashboard so that I can keep track of what I have running in the cluster
  kubernetes/main/apps/dev/it-tools/app/helm-release.yaml
  kubernetes/main/apps/downloads/bazarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/deemix/app/helm-release.yaml
  kubernetes/main/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/main/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/main/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/main/apps/home-automation/emqx/cluster/ingress.yaml
  kubernetes/main/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/main/apps/home-automation/evcc/app/helm-release.yaml
  kubernetes/main/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/main/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/main/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/main/apps/media/navidrome/app/helm-release.yaml
  kubernetes/main/apps/networking/mailpit/app/helm-release.yaml
  kubernetes/main/apps/observability/alertmanager/app/helm-release.yaml
  kubernetes/main/apps/observability/gatus/app/helm-release.yaml
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/gramps/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/homepage/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/homepage/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/homepage/install.yaml
  kubernetes/main/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/main/apps/selfhosted/kitchenowl/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/selfhosted/mastodon/app/ingress.yaml
  kubernetes/main/apps/selfhosted/maybe/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/ocis/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/radicale/app/helm-release.yaml
  kubernetes/main/apps/storage/minio/app/helm-release.yaml
  kubernetes/repositories/helm/jameswynn-charts.yaml
  kubernetes/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat(etcd): deploy automatic backup
  kubernetes/main/apps/kube-system/etcd-backup/app/external-secret.yaml
  kubernetes/main/apps/kube-system/etcd-backup/app/helm-release.yaml
  kubernetes/main/apps/kube-system/etcd-backup/app/kustomization.yaml
  kubernetes/main/apps/kube-system/etcd-backup/app/service-account.yaml
  kubernetes/main/apps/kube-system/etcd-backup/install.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

fix(immich): deploy valkey instance. Immich isn't compatible with dragonfly
  kubernetes/main/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/main/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/immich/app/valkey/helm-release.yaml
  kubernetes/main/apps/selfhosted/immich/app/valkey/kustomization.yaml
Labels: area/kubernetes

fix: remove unused chart repos
  kubernetes/repositories/helm/angelnu-charts.yaml
  kubernetes/repositories/helm/haproxy-charts.yaml
  kubernetes/repositories/helm/kustomization.yaml
  kubernetes/repositories/helm/stevehipwell-charts.yaml
Labels: area/kubernetes

feat(gdp): deploy generic device plugin
  kubernetes/main/apps/kube-system/generic-device-plugin/app/config/config.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/app/helm-release.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/app/kustomization.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/install.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

feat(qbittorrent): deploy
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/config/dnsdist.conf
  kubernetes/main/apps/downloads/qbittorrent/app/external-secret.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/main/apps/downloads/qbittorrent/install.yaml
Labels: area/kubernetes

fix: misc
  .taskfiles/talos/taskfile.yaml
  docs/snippets.md
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/kube-system/fstrim/app/helm-release.yaml
Labels: area/docs, area/kubernetes

feat(task): "deploy buoy" task
  .taskfiles/kubernetes/resources/buoy-pod.tmpl.yaml
  .taskfiles/kubernetes/taskfile.yaml
Labels: none

fix(zfs-scrub): do actual scrub instead of just a status check
  kubernetes/main/apps/storage/zfs-scrub/app/cronjob.yaml
Labels: area/kubernetes

fix(rook): prepare for cluster rebuild some day
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

feat(plex): welcome back... for now
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/media/plex/app/helm-release.yaml
  kubernetes/main/apps/media/plex/app/kustomization.yaml
  kubernetes/main/apps/media/plex/app/pvc-cache.yaml
  kubernetes/main/apps/media/plex/install.yaml
Labels: area/kubernetes

fix(renovate): update path for moved task
  .github/renovate/regexManagers.json5
Labels: area/ci

fix(task): misc updates
  .taskfiles/flux/taskfile.yaml
  .taskfiles/talos/taskfile.yaml
Labels: none

fix(backup): fix broken backup script
  backups/backup_to_external_disk.sh
  backups/deployment.yaml
Labels: none

fix(descheduler): update config
  kubernetes/main/apps/kube-system/descheduler/app/helm-release.yaml
Labels: area/kubernetes

fix(authentik): sunset, remove, bye bye
  kubernetes/main/apps/databases/postgres-backup/app/v16/cronjob.yaml
  kubernetes/main/apps/security/authentik/app/database.yaml
  kubernetes/main/apps/security/authentik/app/external-secret.yaml
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
  kubernetes/main/apps/security/authentik/app/kustomization.yaml
  kubernetes/main/apps/security/authentik/install.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/repositories/helm/authentik-charts.yaml
  kubernetes/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat(searxng): deploy
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/selfhosted/searxng/app/external-secret.yaml
  kubernetes/main/apps/selfhosted/searxng/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/searxng/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/searxng/app/resources/limiter.toml
  kubernetes/main/apps/selfhosted/searxng/app/resources/settings.yml
  kubernetes/main/apps/selfhosted/searxng/install.yaml
Labels: area/kubernetes

fix(homepage): fix typos
  kubernetes/main/apps/selfhosted/kitchenowl/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/ocis/app/helm-release.yaml
Labels: area/kubernetes

feat(maloja): deploy
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/media/maloja/app/external-secret.yaml
  kubernetes/main/apps/media/maloja/app/helm-release.yaml
  kubernetes/main/apps/media/maloja/app/kustomization.yaml
  kubernetes/main/apps/media/maloja/install.yaml
Labels: area/kubernetes

feat(multi-scrobbler): deploy
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/media/multiscrobbler/app/external-secret.yaml
  kubernetes/main/apps/media/multiscrobbler/app/helm-release.yaml
  kubernetes/main/apps/media/multiscrobbler/app/kustomization.yaml
  kubernetes/main/apps/media/multiscrobbler/install.yaml
Labels: area/kubernetes

fix(cert-manager): add prometheus rules
  kubernetes/main/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheus-rules.yaml
Labels: area/kubernetes

fix(hass): add python path to fix issue when installing some hacs integrations
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(multiscrobbler): scrobble more
  kubernetes/main/apps/media/multiscrobbler/app/external-secret.yaml
  kubernetes/main/apps/media/multiscrobbler/app/helm-release.yaml
  kubernetes/main/apps/media/navidrome/app/helm-release.yaml
Labels: area/kubernetes

feat(cluster): more replicas
  kubernetes/main/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/helm-release.yaml
  kubernetes/main/apps/dev/actions-runner-controller/operator/helm-release.yaml
  kubernetes/main/apps/home-automation/emqx/app/helm-release.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/values.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/app/helm-release.yaml
  kubernetes/main/apps/kube-system/reloader/app/helm-release.yaml
  kubernetes/main/apps/security/external-secrets/app/helm-release.yaml
  kubernetes/main/apps/security/external-secrets/stores/onepassword/helm-release.yaml
  kubernetes/main/apps/storage/snapshot-controller/app/helm-release.yaml
  kubernetes/main/apps/storage/volsync/app/helm-release.yaml
Labels: area/kubernetes

fix(grafana): update cert manager dash board
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(smartctl): update config
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/helm-release.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/prometheus-rules.yaml
Labels: area/kubernetes

feat(postgres): deploy v17 cluster
  .github/renovate/versioning.json5
  .taskfiles/talos/taskfile.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/external-secret.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/kustomization.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/kustomization.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v17/gatus.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v17/kustomization.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v17/loadbalancer.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v17/postgres-cluster.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v17/scheduled-backup.yaml
  kubernetes/main/apps/databases/ext-postgres-operator/app/helm-release.yaml
  kubernetes/main/apps/databases/postgres-backup/app/v16/kustomization.yaml
  kubernetes/main/apps/databases/postgres-backup/app/v17/cronjob.yaml
  kubernetes/main/apps/databases/postgres-backup/app/v17/external-secret.yaml
  kubernetes/main/apps/databases/postgres-backup/app/v17/kustomization.yaml
  kubernetes/main/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/mastodon/app/helm-release.yaml
Labels: area/ci, area/kubernetes

fix(postgres): add prometheus rules
  kubernetes/main/apps/databases/cloudnative-pg/clusters/kustomization.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/prometheus-rule.yaml
Labels: area/kubernetes

fix(kca): update provider regex and add metrics
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/values.yaml
Labels: area/kubernetes

fix(renovate): update backup deployment with versions
  .github/renovate.json5
  backups/deployment.yaml
Labels: area/ci

fix(renovate): loose versioning for plex
  .github/renovate/versioning.json5
Labels: area/ci

fix(github): fix issues in kubernetes version workflow
  .github/scripts/kubernetes-version.sh
  .github/workflows/scan-supported-k8s-version.yaml
Labels: area/ci

fix: maintenance
  .taskfiles/talos/taskfile.yaml
  .taskfiles/tools/taskfile.yaml
  kubernetes/main/apps/dev/it-tools/app/helm-release.yaml
  kubernetes/main/apps/downloads/bazarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/main/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/main/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/app/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/main/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/ocis/app/helm-release.yaml
  kubernetes/main/apps/storage/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(snapshot-controller): remove webhook config
  kubernetes/main/apps/storage/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes

feat(rook): enable insights and rook modules
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes
