Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

fix(container): update image registry.k8s.io/git-sync/git-sync to v3.6.6
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform minio to 1.15.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.19
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/miniflux/miniflux to v2.0.44
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.474
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.484
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.26.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart app-template to 1.5.0
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/lidarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helm-release.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image louislam/uptime-kuma to v1.21.3
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image plexinc/pms-docker to v1.32.1.6999-91e1e2e2c
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

fix(terraform): update terraform minio to 1.15.1
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

chore(github-action): update cloudflare networks
  kubernetes/apps/networking/ingress-nginx/cloudflare-ip-ranges.txt
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.7.2
  .taskfiles/tools.yaml
Labels: none

fix(helm): update chart grafana to 6.56.2
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.27.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.11.2
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 2.7.3
  kubernetes/apps/kube-tools/kyverno/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.10.3
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.5.2
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 7.0.0
  infrastructure/ansible/requirements.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.488
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/bazarr to v1.2.1
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update siderolabs/talos
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

Fix Github Workflow
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/ci

Switch from rook ceph vipe manifest to Taskfile
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/rook.yaml
  .taskfiles/rook/WipeDiskJob.tmpl.yaml
  .taskfiles/rook/WipeRookDataJob.tmpl.yaml
  .taskfiles/rook/tasks.yaml
  Taskfile.yml
  kubernetes/tools/rook/wipe.yaml
Labels: area/kubernetes

Remove unused variables and files
  .gitleaksignore
  .mega-linter.yml
  CHANGELOG.md
  docker/atlas/postgres/docker-compose.yaml.inactive
  infrastructure/talos/recover-vip.sh
  kubernetes/flux/vars/cluster-settings.yaml
  kubernetes/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes, area/docker

Add smartctl exporter to Nas
  docker/atlas/smartctl-exporter/docker-compose.yaml
Labels: area/docker

Update smartctl config
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/smartctl-exporter/app/prometheus-rules.yaml
Labels: area/kubernetes

Remove init container for recyclarr
  kubernetes/apps/media/recyclarr/app/config-pvc.yaml
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update siderolabs/talos to v1.4.3
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.491
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 45.27.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(terraform): update terraform minio to 1.15.2
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.493
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.5.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v37.0.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image emqx/emqx to v5.0.25
  kubernetes/apps/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(helm): update chart actions-runner-controller to 0.23.3
  kubernetes/apps/dev/actions-runner-controller/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/ahinko/postgres-initdb to v15.3
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.7.3
  .taskfiles/tools.yaml
Labels: none
