Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/docs, area/docker, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "docker/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

feat(external-dns): trigger on events
  kubernetes/main/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/main/apps/networking/external-dns/unifi/helm-release.yaml
Labels: area/kubernetes

fix(plex): probes
  kubernetes/main/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

feat(cilium): enable netkit
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

hack(hass): python path
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

feat(gatus): monitor emqx
  kubernetes/main/apps/home-automation/emqx/cluster/gatus.yaml
  kubernetes/main/apps/home-automation/emqx/cluster/kustomization.yaml
Labels: area/kubernetes

fix(postgres-backup): update and backup atuin
  kubernetes/main/apps/databases/postgres-backup/app/v17/cronjob.yaml
Labels: area/kubernetes

fix(talos): 1.9.0 updates
  infrastructure/talos/talconfig.yaml
Labels: none

Update allowedVersions.json5 with new minor version of Kubernetes.
  .github/renovate/allowedVersions.json5
Labels: area/ci

fix(talos): remove default values
  infrastructure/talos/talconfig.yaml
Labels: none

fix(talos): remove kernel args
  infrastructure/talos/talconfig.yaml
Labels: none

fix(postgres-backup): update version
  kubernetes/main/apps/databases/postgres-backup/app/v17/cronjob.yaml
Labels: area/kubernetes

fix(gatus): update config
  kubernetes/main/apps/observability/gatus/app/config/config.yaml
Labels: area/kubernetes

fix(grafana): update smartctl dashboard
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(smartctl-exporter): add more devices
  kubernetes/main/apps/observability/smartctl-exporter/app/helm-release.yaml
Labels: area/kubernetes

fix(rook): still need this
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

fix(ksm): pause for now
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix(cilium): revert config change since we don't use bgp
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix(flux): Bootstrap issues with flux-operator, thanks @onedr0p
  .taskfiles/flux/taskfile.yaml
  kubernetes/main/flux/config/cluster.yaml
  kubernetes/main/flux/config/kustomization.yaml
Labels: area/kubernetes

fix(docs): Add note about fixing PG replication issues related to Immich
  docs/snippets.md
Labels: area/docs

fix(talos): update config
  infrastructure/talos/talconfig.yaml
Labels: none

fix(project): update yaml schemas
  .vscode/settings.json
  kubernetes/main/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheus-rules.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/external-secret.yaml
  kubernetes/main/apps/home-automation/emqx/app/external-secret.yaml
  kubernetes/main/apps/home-automation/emqx/cluster/pod-monitor.yaml
  kubernetes/main/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/main/apps/networking/external-dns/unifi/external-secret.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/observability/prometheus-operator/app/helm-release.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/prometheus-rules.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/external-secret.yaml
  kubernetes/main/apps/security/external-secrets/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/atuin/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/selfhosted/immich/app/valkey/helm-release.yaml
Labels: area/kubernetes

feat(gatus): move to sqlite
  kubernetes/main/apps/observability/gatus/app/config/config.yaml
  kubernetes/main/apps/observability/gatus/app/database.yaml
  kubernetes/main/apps/observability/gatus/app/helm-release.yaml
  kubernetes/main/apps/observability/gatus/app/kustomization.yaml
  kubernetes/main/apps/observability/gatus/app/pvc.yaml
  kubernetes/main/apps/observability/gatus/install.yaml
Labels: area/kubernetes

feat(atuin): remove metrics
  kubernetes/main/apps/selfhosted/atuin/app/helm-release.yaml
Labels: area/kubernetes

feat(misc): new years cleanup
  kubernetes/main/apps/downloads/deemix/app/helm-release.yaml
  kubernetes/main/apps/downloads/deemix/app/kustomization.yaml
  kubernetes/main/apps/downloads/deemix/install.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
  kubernetes/main/apps/home-automation/wyoming-piper/app/helm-release.yaml
  kubernetes/main/apps/home-automation/wyoming-piper/app/kustomization.yaml
  kubernetes/main/apps/home-automation/wyoming-piper/app/pvc.yaml
  kubernetes/main/apps/home-automation/wyoming-piper/install.yaml
  kubernetes/main/apps/media/bonob/app/helm-release.yaml
  kubernetes/main/apps/media/bonob/app/kustomization.yaml
  kubernetes/main/apps/media/bonob/install.yaml
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/observability/kube-state-metrics/app/helm-release.yaml
  kubernetes/main/apps/observability/kube-state-metrics/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-state-metrics/install.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/selfhosted/gramps/app/external-secret.yaml
  kubernetes/main/apps/selfhosted/gramps/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/gramps/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/gramps/install.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/selfhosted/maybe/app/database.yaml
  kubernetes/main/apps/selfhosted/maybe/app/external-secret.yaml
  kubernetes/main/apps/selfhosted/maybe/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/maybe/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/maybe/install.yaml
Labels: area/kubernetes

feat(system): Move misc workloads to system namespace
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/system/descheduler/app/helm-release.yaml
  kubernetes/main/apps/system/descheduler/app/kustomization.yaml
  kubernetes/main/apps/system/descheduler/install.yaml
  kubernetes/main/apps/system/fstrim/app/helm-release.yaml
  kubernetes/main/apps/system/fstrim/app/kustomization.yaml
  kubernetes/main/apps/system/fstrim/install.yaml
  kubernetes/main/apps/system/generic-device-plugin/app/config/config.yaml
  kubernetes/main/apps/system/generic-device-plugin/app/helm-release.yaml
  kubernetes/main/apps/system/generic-device-plugin/app/kustomization.yaml
  kubernetes/main/apps/system/generic-device-plugin/install.yaml
  kubernetes/main/apps/system/intel-device-plugins/app/helm-release.yaml
  kubernetes/main/apps/system/intel-device-plugins/app/kustomization.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/helm-release.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/nodefeaturerule.yaml
  kubernetes/main/apps/system/intel-device-plugins/install.yaml
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/apps/system/namespace.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/helm-release.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/install.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/google-coral-device.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/main/apps/system/reloader/app/helm-release.yaml
  kubernetes/main/apps/system/reloader/app/kustomization.yaml
  kubernetes/main/apps/system/reloader/install.yaml
  kubernetes/main/apps/system/spegel/app/helm-release.yaml
  kubernetes/main/apps/system/spegel/app/kustomization.yaml
  kubernetes/main/apps/system/spegel/app/kustomizeconfig.yaml
  kubernetes/main/apps/system/spegel/app/values.yaml
  kubernetes/main/apps/system/spegel/install.yaml
  kubernetes/main/bootstrap/helmfile.yaml
Labels: area/kubernetes

fix(it-tools): move to selfhosted namespace
  kubernetes/main/apps/dev/kustomization.yaml
  kubernetes/main/apps/selfhosted/it-tools/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/it-tools/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/it-tools/install.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix(slskd): disable metrics
  kubernetes/main/apps/downloads/slskd/app/helm-release.yaml
Labels: area/kubernetes

fix(postgres): don't backup old databases
  kubernetes/main/apps/databases/postgres-backup/app/v17/cronjob.yaml
Labels: area/kubernetes

fix(rook): remove enableVolumeGroupSnapshot setting
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/ceph-object-store-user-pg.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

fix(observability): ignore correct disks
  kubernetes/main/apps/observability/silence-operator/silences/cephnodediskspacewarning.yaml
Labels: area/kubernetes

fix(nginx): update settings
  kubernetes/main/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

fix(cilium): update settings
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix: format
  kubernetes/main/apps/networking/external-dns/unifi/helm-release.yaml
  kubernetes/main/apps/storage/minio/app/helm-release.yaml
Labels: area/kubernetes

feat(cluster): remove arm64 based control planes
  .taskfiles/talos/taskfile.yaml
  docs/snippets.md
  infrastructure/ansible/roles/pikvm_os/templates/override.yaml.j2
  infrastructure/talos/talconfig.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/tainter/app/cronjob.yaml
  kubernetes/main/apps/kube-system/tainter/app/kustomization.yaml
  kubernetes/main/apps/kube-system/tainter/app/rbac.yaml
  kubernetes/main/apps/kube-system/tainter/install.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/tools/rook/wipe-job.yaml
Labels: area/ansible, area/docs, area/kubernetes

feat(zigbee2mqtt): update to version 2.0.0
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

feat(tesla-ble-mqtt): deploy
  .gitignore
  .taskfiles/tools/taskfile.yaml
  docker/carkey/tesla_ble_mqtt/docker-compose.yaml
  infrastructure/ansible/inventory/host_vars/carkey/apt.yaml
  infrastructure/ansible/inventory/host_vars/carkey/docker.yaml
  infrastructure/ansible/inventory/host_vars/carkey/homelab.yaml
  infrastructure/ansible/inventory/hosts.yaml
  infrastructure/ansible/provision_iot.yaml
  infrastructure/ansible/requirements.yaml
  infrastructure/ansible/roles/homelab/tasks/main.yaml
  scripts/automatic-docker-updates.sh
Labels: area/ansible, area/docker

fix(kubelet-csr-approver): bye bye
  infrastructure/talos/talconfig.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/values.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/install.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/metrics-server/app/helm-release.yaml
  kubernetes/main/bootstrap/helmfile.yaml
  kubernetes/repositories/helm/kustomization.yaml
  kubernetes/repositories/helm/postfinance-charts.yaml
Labels: area/kubernetes

fix(qbittorrent): move off beta
  kubernetes/main/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(cluster): control plane tolerations
  kubernetes/main/apps/flux-system/operator/app/helm-release.yaml
  kubernetes/main/apps/system/descheduler/app/helm-release.yaml
  kubernetes/main/flux/instance/instance.yaml
Labels: area/kubernetes

feat(ksm): redeploy
  kubernetes/main/apps/observability/kube-state-metrics/app/helm-release.yaml
  kubernetes/main/apps/observability/kube-state-metrics/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-state-metrics/install.yaml
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes
