Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

feat(container): update image ghcr.io/home-assistant/home-assistant to v2023.6.1
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update actions/checkout action to v3.5.3
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update image ghcr.io/ahinko/github-actions-runner to a37234b
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.537
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-06-09t07-32-12z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-gpu to 0.27.0
  kubernetes/apps/kube-tools/intel-device-plugins/gpu/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-operator to 0.27.0
  kubernetes/apps/kube-tools/intel-device-plugins/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.27
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/home-automation/zwavejs/app/backup.yaml
  kubernetes/apps/media/bazarr/app/backup.yaml
  kubernetes/apps/media/lidarr/app/backup.yaml
  kubernetes/apps/media/radarr/app/backup.yaml
  kubernetes/apps/media/sabnzbd/app/backup.yaml
  kubernetes/apps/media/sonarr-requests/app/backup.yaml
  kubernetes/apps/media/sonarr/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.24
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/blakeblackshear/frigate to v0.12.1
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.28
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.538
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.18.1
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook antonbabenko/pre-commit-terraform to v1.81.0
  .pre-commit-config.yaml
Labels: none

Update flux diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/ci

Use correct backup secret
  kubernetes/apps/selfhosted/sops.backup-secrets.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

Deploy ext-postgres-operator
  kubernetes/apps/databases/ext-postgres-operator/app/helm-release.yaml
  kubernetes/apps/databases/ext-postgres-operator/app/kustomization.yaml
  kubernetes/apps/databases/ext-postgres-operator/app/sops.secrets.yaml
  kubernetes/apps/databases/ext-postgres-operator/kustomization.yaml
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/database.yaml
  kubernetes/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/immich/app/typesense/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
  kubernetes/apps/selfhosted/linkding/app/database.yaml
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
  kubernetes/apps/selfhosted/linkding/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/miniflux/app/database.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/kustomization.yaml
  kubernetes/apps/selfhosted/miniflux/app/sops.secrets.yaml
  kubernetes/flux/repositories/helm/ext-postgres-operator-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Update backup secrets name
  kubernetes/apps/databases/cloudnative-pg/clusters/postgres-cluster.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

Update resources
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
Labels: area/kubernetes

Deploy windmill
  kubernetes/apps/databases/postgres-backup/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/windmill/app/database.yaml
  kubernetes/apps/selfhosted/windmill/app/helm-release.yaml
  kubernetes/apps/selfhosted/windmill/app/kustomization.yaml
  kubernetes/apps/selfhosted/windmill/kustomization.yaml
  kubernetes/apps/selfhosted/windmill/readme.md
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/windmill-charts.yaml
Labels: area/kubernetes

Deploy kubernetes on NAS
  .github/renovate/regexManagers.json5
  .taskfiles/maintenance.yaml
  docker/atlas/scrutiny/docker-compose.yaml
  docker/atlas/smartctl-exporter/docker-compose.yaml
  docs/cluster/k8s_on_nas.md
  infrastructure/ansible/inventory/host_vars/atlas/atlas.sops.yaml
  infrastructure/ansible/inventory/host_vars/atlas/k8s.yaml
  infrastructure/ansible/provision_metal.yaml
  infrastructure/ansible/roles/k8s/defaults/main.yaml
  infrastructure/ansible/roles/k8s/handlers/main.yaml
  infrastructure/ansible/roles/k8s/tasks/install_cri.yaml
  infrastructure/ansible/roles/k8s/tasks/install_kubelet.yaml
  infrastructure/ansible/roles/k8s/tasks/main.yaml
  infrastructure/ansible/roles/k8s/tasks/preflight.yaml
  infrastructure/ansible/roles/k8s/tasks/setup_repo.yaml
  kubernetes/apps/monitoring/smartctl-exporter/app/helm-release.yaml
  kubernetes/apps/networking/external-services/app/kustomization.yaml
  kubernetes/apps/networking/external-services/app/scrutiny.yaml
Labels: area/ci, area/kubernetes, area/docs, area/docker

fix(container): update image plexinc/pms-docker to v1.32.3.7192-7aa441827
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

fix(helm): update chart grafana to 6.57.2
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.539
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 1.6.15
  kubernetes/apps/selfhosted/windmill/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.6.3
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.18.1
  kubernetes/apps/databases/cloudnative-pg/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.7.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.11.4
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/github-actions-runner to 0db0bac
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

ci(deps): update peter-evans/create-pull-request action to v5.0.2
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/ci

feat(terraform): update terraform cloudflare to 4.8.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

feat(container): Update image nextcloud to v27
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.8.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

Update instructions on how to add a non-Talos node to the cluster
  docs/cluster/k8s_on_nas.md
Labels: area/docs

Update terraform dependencies
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/minio/.terraform.lock.hcl
Labels: none

Set timezone on Immich containers
  kubernetes/apps/selfhosted/immich/app/configmap.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to e200078
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v38.1.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/ahinko/kubernetes-kubectl to v1.27.3
  kubernetes/apps/kube-system/tainter/app/cronjob.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/cronjob.yaml
Labels: area/kubernetes
