Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/docs, area/docker, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "docker/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

fix(grafana): update smartctl dashboard
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(evcc): update car config
  kubernetes/main/apps/home-automation/evcc/app/external-secret.yaml
Labels: area/kubernetes

Fix broken Github workflow
  .github/workflows/pre-pull-images.yaml
  kubernetes/apps/dev/actions-runner-controller/install.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/ci, area/kubernetes

backup Romm database
  kubernetes/apps/databases/postgres-backup/app/v17/cronjob.yaml
Labels: area/kubernetes

feat: Setup BGP
  kubernetes/apps/kube-system/cilium/README.md
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/kube-system/cilium/config/kube-api.yaml
  kubernetes/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/apps/kube-system/cilium/config/l2.yaml
  kubernetes/apps/kube-system/cilium/config/l3.yaml
  kubernetes/apps/kube-system/cilium/config/pool.yaml
  kubernetes/apps/kube-system/cilium/install.yaml
Labels: area/kubernetes

fix: homepage annotations
  kubernetes/apps/games/romm/app/helm-release.yaml
  kubernetes/apps/security/pocket-id/app/helm-release.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/helm-release.yaml
Labels: area/kubernetes

fix: action-runner-system
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/install.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/operator/external-secret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/operator/helm-release.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/operator/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/homelab.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/rbac.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/actions-runner-system/namespace.yaml
Labels: area/kubernetes

fix(workflows): update and temp remove
  .github/workflows/flux-local.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/ci

fix(postgres): fix versions
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v17/postgres-cluster.yaml
Labels: area/kubernetes

fix: misc maintenance
  kubernetes/apps/downloads/qbittorrent/app/external-secret.yaml
  kubernetes/apps/observability/alertmanager/app/config/alertmanager.yml
  kubernetes/apps/selfhosted/homepage/app/helm-release.yaml
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

feat(hoarder): deploy
  kubernetes/apps/selfhosted/hoarder/app/external-secret.yaml
  kubernetes/apps/selfhosted/hoarder/app/helm-release.yaml
  kubernetes/apps/selfhosted/hoarder/app/kustomization.yaml
  kubernetes/apps/selfhosted/hoarder/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat(piper): deploy
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/piped/app/database.yaml
  kubernetes/apps/media/piped/app/external-secret.yaml
  kubernetes/apps/media/piped/app/helm-release.yaml
  kubernetes/apps/media/piped/app/kustomization.yaml
  kubernetes/apps/media/piped/install.yaml
Labels: area/kubernetes

fix: migrate namespace to compnent
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/actions-runner-system/namespace.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/namespace.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/namespace.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/namespace.yaml
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/namespace.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/namespace.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/namespace.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/namespace.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/namespace.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/namespace.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/namespace.yaml
  kubernetes/components/namespace/kustomization.yaml
  kubernetes/components/namespace/namespace.yaml
Labels: area/kubernetes

feat: migrate dragonfly to dragonfly helm chart
  kubernetes/apps/databases/dragonfly/app/helm-release.yaml
  kubernetes/apps/databases/dragonfly/app/kustomization.yaml
  kubernetes/apps/databases/dragonfly/app/rbac.yaml
  kubernetes/apps/databases/dragonfly/cluster/cluster.yaml
  kubernetes/apps/databases/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/databases/dragonfly/cluster/podmonitor.yaml
  kubernetes/flux/meta/repositories/helm/dragonfly-charts.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: update gitattributes
  .gitattributes
Labels: none

feat: remove tesla ble
  docker/carkey/tesla_ble_mqtt/docker-compose.yaml
  infrastructure/ansible/provision_iot.yaml
  infrastructure/ansible/requirements.yaml
  infrastructure/ansible/roles/homelab/tasks/main.yaml
  scripts/automatic-docker-updates.sh
Labels: area/ansible, area/docker

fix: backup games
  backups/backup_to_external_disk.sh
Labels: none

feat(talos): more nodes
  .taskfiles/talos/taskfile.yaml
  infrastructure/ansible/roles/pikvm_os/templates/override.yaml.j2
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/homelab.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/tools/rook/wipe-job.yaml
Labels: area/ansible, area/kubernetes

fix: postgres versions
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v17/postgres-cluster.yaml
Labels: area/kubernetes

feat(cilium): no more L2
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/apps/kube-system/cilium/config/l2.yaml
  kubernetes/apps/kube-system/cilium/config/l3.yaml
Labels: area/kubernetes

fix(esphome): more ram
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

feat(navidrome): no analytics
  kubernetes/apps/media/navidrome/app/helm-release.yaml
Labels: area/kubernetes

fix: gatus config
  kubernetes/apps/observability/gatus/app/config/config.yaml
  kubernetes/apps/observability/gatus/app/external-secret.yaml
  kubernetes/apps/observability/gatus/app/helm-release.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
  kubernetes/apps/observability/gatus/app/prometheus-rule.yaml
  kubernetes/components/gatus/external/configmap.yaml
  kubernetes/components/gatus/internal/configmap.yaml
Labels: area/kubernetes

fix(volsync): permissions
  kubernetes/apps/downloads/slskd/install.yaml
  kubernetes/components/volsync/minio/replicationdestination.yaml
  kubernetes/components/volsync/minio/replicationsource.yaml
Labels: area/kubernetes

feat: smartctl on arm64
  kubernetes/apps/observability/smartctl-exporter/app/helm-release.yaml
Labels: area/kubernetes

feat(searxng): use own db
  kubernetes/apps/selfhosted/searxng/app/helm-release.yaml
Labels: area/kubernetes

feat(birdnet): deploy
  kubernetes/apps/selfhosted/birdnet/app/external-secret.yaml
  kubernetes/apps/selfhosted/birdnet/app/helm-release.yaml
  kubernetes/apps/selfhosted/birdnet/app/kustomization.yaml
  kubernetes/apps/selfhosted/birdnet/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix(it-tools): update version
  kubernetes/apps/selfhosted/it-tools/app/helm-release.yaml
Labels: area/kubernetes

feat: welcome back gramps
  kubernetes/apps/selfhosted/gramps/app/external-secret.yaml
  kubernetes/apps/selfhosted/gramps/app/helm-release.yaml
  kubernetes/apps/selfhosted/gramps/app/kustomization.yaml
  kubernetes/apps/selfhosted/gramps/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix: reset version again, should really stop merging this one
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
Labels: area/kubernetes

fix: change renovate source
  kubernetes/apps/flux-system/operator/instance/helm-values.yaml
Labels: area/kubernetes

fix: pause etcd-backup for now
  kubernetes/apps/kube-system/etcd-backup/app/helm-release.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

fix: prometheus, give more ram
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrules/zfs.yaml
Labels: area/kubernetes

fix(gramps): fix path
  kubernetes/apps/selfhosted/gramps/app/helm-release.yaml
Labels: area/kubernetes

fix(hoarder): bye bye
  kubernetes/apps/selfhosted/hoarder/app/external-secret.yaml
  kubernetes/apps/selfhosted/hoarder/app/helm-release.yaml
  kubernetes/apps/selfhosted/hoarder/app/kustomization.yaml
  kubernetes/apps/selfhosted/hoarder/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix: update postgres versions
  kubernetes/apps/databases/cloudnative-pg/clusters/v17/postgres-cluster.yaml
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
  kubernetes/apps/databases/postgres-backup/app/v17/cronjob.yaml
Labels: area/kubernetes

fix: I'm not able to break my search and youtube habits
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/piped/app/database.yaml
  kubernetes/apps/media/piped/app/external-secret.yaml
  kubernetes/apps/media/piped/app/helm-release.yaml
  kubernetes/apps/media/piped/app/kustomization.yaml
  kubernetes/apps/media/piped/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/searxng/app/external-secret.yaml
  kubernetes/apps/selfhosted/searxng/app/helm-release.yaml
  kubernetes/apps/selfhosted/searxng/app/kustomization.yaml
  kubernetes/apps/selfhosted/searxng/app/resources/limiter.toml
  kubernetes/apps/selfhosted/searxng/app/resources/settings.yml
  kubernetes/apps/selfhosted/searxng/install.yaml
Labels: area/kubernetes

fix: update pocket id version
  kubernetes/apps/security/pocket-id/app/helm-release.yaml
Labels: area/kubernetes

fix: use mirror for coredns
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
Labels: area/kubernetes

fix: remove unused cilium values
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes
