Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/docs, area/docker, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "docker/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

feat: sunset sdnext
  kubernetes/apps/ai/kustomization.yaml
  kubernetes/apps/ai/open-webui/app/helm-release.yaml
  kubernetes/apps/ai/sdnext/app/helm-release.yaml
  kubernetes/apps/ai/sdnext/app/kustomization.yaml
  kubernetes/apps/ai/sdnext/app/pvc.yaml
  kubernetes/apps/ai/sdnext/install.yaml
Labels: area/kubernetes

use correct repo
  kubernetes/apps/flux-system/flux-instance/app/helm-release.yaml
Labels: area/kubernetes

Update allowedVersions.json5 with new minor version of Kubernetes.
  .renovate/allowedVersions.json5
Labels: none

fix: add aliasvault to homepage
  kubernetes/apps/security/aliasvault/app/helm-release.yaml
Labels: area/kubernetes

fix: config image flush in talos
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

fix: broken httproute for rook
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

fix: issues in bootstrap flow
  .taskfiles/bootstrap/taskfile.yaml
  kubernetes/bootstrap/resources.env
  kubernetes/bootstrap/resources.yaml.j2
  kubernetes/bootstrap/templates/values.yaml.gotmpl
Labels: area/kubernetes

fix: remove cluster feature gate that is no longer valid
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

feat: remove ceph filesystem
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

fix: aliasvault v0.22 fixes
  kubernetes/apps/security/aliasvault/app/external-secret.yaml
  kubernetes/apps/security/aliasvault/app/helm-release.yaml
Labels: area/kubernetes

fix: cleanup in kps values
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy qui
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/qui/app/external-secret.yaml
  kubernetes/apps/downloads/qui/app/helm-release.yaml
  kubernetes/apps/downloads/qui/app/kustomization.yaml
  kubernetes/apps/downloads/qui/app/oci-repository.yaml
  kubernetes/apps/downloads/qui/install.yaml
Labels: area/kubernetes

fix: move external dns to oci
  kubernetes/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/apps/networking/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/networking/external-dns/cloudflare/oci-repository.yaml
  kubernetes/apps/networking/external-dns/unifi/helm-release.yaml
  kubernetes/apps/networking/external-dns/unifi/kustomization.yaml
  kubernetes/apps/networking/external-dns/unifi/oci-repository.yaml
  kubernetes/flux/meta/repositories/helm/external-dns-charts.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: move cilium to oci
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/oci-repository.yaml
  kubernetes/flux/meta/repositories/helm/cilium-charts.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: remove unused helm chart
  kubernetes/flux/meta/repositories/helm/jameswynn-charts.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: update cilium settings
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

fix: misc renovate related config updates
  .renovate/changelogs.json5
  .renovate/customManagers.json5
  .renovate/groups.json5
  .renovaterc.json5
Labels: none

feat: move external postgres operator to oci
  kubernetes/apps/databases/ext-postgres-operator/app/helm-release.yaml
  kubernetes/apps/databases/ext-postgres-operator/app/kustomization.yaml
  kubernetes/apps/databases/ext-postgres-operator/app/oci-repository.yaml
  kubernetes/flux/meta/repositories/helm/ext-postgres-operator-charts.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: update kvm config
  ansible/roles/pikvm_os/templates/override.yaml.j2
Labels: area/ansible

fix: misc clean ups
  .taskfiles/kubernetes/taskfile.yaml
  ansible/requirements.yaml
  backups/readme.md
Labels: area/ansible

feat: sunset romm
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/romm/app/config.yaml
  kubernetes/apps/games/romm/app/database.yaml
  kubernetes/apps/games/romm/app/external-secret.yaml
  kubernetes/apps/games/romm/app/helm-release.yaml
  kubernetes/apps/games/romm/app/kustomization.yaml
  kubernetes/apps/games/romm/app/oci-repository.yaml
  kubernetes/apps/games/romm/app/pvc.yaml
  kubernetes/apps/games/romm/install.yaml
Labels: area/kubernetes

chore: pin flux artifact to the operator/instance version and use 2.x version
  kubernetes/apps/flux-system/flux-instance/app/helm-release.yaml
Labels: area/kubernetes

fix: fix reloader annotations
  kubernetes/apps/ai/open-webui/app/helm-release.yaml
  kubernetes/apps/ai/searxng/app/helm-release.yaml
  kubernetes/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/qui/app/helm-release.yaml
  kubernetes/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/apps/home-automation/evcc/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/tcpsolis2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/apps/media/maloja/app/helm-release.yaml
  kubernetes/apps/media/multiscrobbler/app/helm-release.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/apps/observability/alertmanager/app/helm-release.yaml
  kubernetes/apps/observability/gatus/app/helm-release.yaml
  kubernetes/apps/security/onepassword/app/helm-release.yaml
  kubernetes/apps/security/pocket-id/app/helm-release.yaml
  kubernetes/apps/selfhosted/atuin/app/helm-release.yaml
  kubernetes/apps/selfhosted/birdnet/app/helm-release.yaml
  kubernetes/apps/selfhosted/docmost/app/helm-release.yaml
  kubernetes/apps/selfhosted/gramps/app/helm-release.yaml
  kubernetes/apps/selfhosted/homepage/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/helm-release.yaml
  kubernetes/apps/selfhosted/karakeep/app/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon-fakerelay/app/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/opencloud/app/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
  kubernetes/apps/social/element/app/helm-release.yaml
  kubernetes/apps/storage/restic-rest/app/helm-release.yaml
  kubernetes/apps/storage/samba/app/helm-release.yaml
  kubernetes/apps/storage/znapzend/app/helm-release.yaml
  kubernetes/apps/system/generic-device-plugin/app/helm-release.yaml
Labels: area/kubernetes

feat: sunset n8n
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/n8n/app/external-secret.yaml
  kubernetes/apps/selfhosted/n8n/app/helm-release.yaml
  kubernetes/apps/selfhosted/n8n/app/kustomization.yaml
  kubernetes/apps/selfhosted/n8n/app/oci-repository.yaml
  kubernetes/apps/selfhosted/n8n/install.yaml
Labels: area/kubernetes

feat: sunset kitchen owl
  kubernetes/apps/selfhosted/kitchenowl/app/database.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/external-secret.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/helm-release.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/kustomization.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/oci-repository.yaml
  kubernetes/apps/selfhosted/kitchenowl/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat: deploy postgres 18
  kubernetes/apps/databases/cloudnative-pg/app/helm-release.yaml
  kubernetes/apps/databases/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/app/prometheus-rule.yaml
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/postgres18/app/cluster.yaml
  kubernetes/apps/databases/postgres18/app/cronjob.yaml
  kubernetes/apps/databases/postgres18/app/external-secret.yaml
  kubernetes/apps/databases/postgres18/app/gatus.yaml
  kubernetes/apps/databases/postgres18/app/kustomization.yaml
  kubernetes/apps/databases/postgres18/app/loadbalancer.yaml
  kubernetes/apps/databases/postgres18/app/objectbucket-claim.yaml
  kubernetes/apps/databases/postgres18/app/objectstore.yaml
  kubernetes/apps/databases/postgres18/app/prometheus-rule.yaml
  kubernetes/apps/databases/postgres18/app/recovery-job.yaml
  kubernetes/apps/databases/postgres18/app/scheduled-backup.yaml
  kubernetes/apps/databases/postgres18/backup-rest/external-secret.yaml
  kubernetes/apps/databases/postgres18/backup-rest/helm-release.yaml
  kubernetes/apps/databases/postgres18/backup-rest/kustomization.yaml
  kubernetes/apps/databases/postgres18/backup-rest/oci-repository.yaml
  kubernetes/apps/databases/postgres18/install.yaml
Labels: area/kubernetes

fix: correct namespace
  kubernetes/apps/flux-system/flux-instance/app/webhook/httproute.yaml
Labels: area/kubernetes

feat: migrate home assistant to postgres 18
  kubernetes/apps/databases/ext-postgres-operator/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/database.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/install.yaml
Labels: area/kubernetes

fix: misc minor fixes
  kubernetes/apps/databases/vernemq/app/helm-release.yaml
  kubernetes/apps/games/minecraft/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/etcd-backup/app/helm-release.yaml
  kubernetes/apps/security/onepassword/app/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon-fakerelay/app/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/kustomization.yaml
  kubernetes/apps/storage/restic-rest/app/helm-release.yaml
Labels: area/kubernetes

feat: update descheduler config
  kubernetes/apps/system/descheduler/app/helm-release.yaml
Labels: area/kubernetes

feat: migrate more services to postgres 18
  kubernetes/apps/databases/postgres-backup/app/v17/helm-release.yaml
  kubernetes/apps/home-automation/teslamate/app/database.yaml
  kubernetes/apps/home-automation/teslamate/install.yaml
  kubernetes/apps/security/aliasvault/app/database.yaml
  kubernetes/apps/security/aliasvault/install.yaml
  kubernetes/apps/selfhosted/docmost/app/database.yaml
  kubernetes/apps/selfhosted/docmost/install.yaml
  kubernetes/apps/selfhosted/mastodon/app/database.yaml
  kubernetes/apps/selfhosted/mastodon/install.yaml
  kubernetes/apps/selfhosted/miniflux/app/database.yaml
  kubernetes/apps/selfhosted/miniflux/install.yaml
  kubernetes/apps/social/element/app/database.yaml
  kubernetes/apps/social/element/install.yaml
Labels: area/kubernetes

feat: deploy watchstate
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/watchstate/app/helm-release.yaml
  kubernetes/apps/media/watchstate/app/kustomization.yaml
  kubernetes/apps/media/watchstate/app/oci-repository.yaml
  kubernetes/apps/media/watchstate/install.yaml
Labels: area/kubernetes

feat: deploy jellyfin
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

feat: patch flux
  kubernetes/apps/flux-system/flux-instance/app/helm-release.yaml
Labels: area/kubernetes

fix: get znapzend working again
  kubernetes/apps/storage/znapzend/app/external-secret.yaml
  kubernetes/apps/storage/znapzend/app/helm-release.yaml
Labels: area/kubernetes

fix: envoy config updates
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/apps/networking/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat: kube api hostname
  kubernetes/apps/kube-system/cilium/config/kube-api.yaml
Labels: area/kubernetes

feat: remove vip from talos config
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

fix: typo
  kubernetes/apps/flux-system/flux-instance/app/helm-release.yaml
Labels: area/kubernetes

fix: renovate changelog
  .renovate/changelogs.json5
Labels: none
