Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(helm): update chart nextcloud to 3.5.15
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.9.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

ci(deps): update docker/setup-buildx-action action to v2.8.0
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix(container): update image kube-prometheus-stack to v47.0.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/kubernetes-schemas to 0589499
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.6.3
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/miguelndecarvalho/speedtest-exporter to v3.5.4
  kubernetes/apps/monitoring/speedtest-exporter/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update siderolabs/talos to v1.4.6
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

chore(deps): update image ghcr.io/ahinko/github-actions-runner to fd4cc52
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-06-29t05-12-28z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.7
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/ci

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.32
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/home-automation/zwavejs/app/backup.yaml
  kubernetes/apps/media/bazarr/app/backup.yaml
  kubernetes/apps/media/lidarr/app/backup.yaml
  kubernetes/apps/media/radarr/app/backup.yaml
  kubernetes/apps/media/sabnzbd/app/backup.yaml
  kubernetes/apps/media/sonarr-requests/app/backup.yaml
  kubernetes/apps/media/sonarr/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.29
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

ci(deps): update allenporter/flux-local action to 1.3.3
  .github/workflows/flux-diff.yaml
Labels: area/ci

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.1.1
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.11.9
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.65.0
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.8
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.sops to 1.6.4
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

fix(helm): update chart windmill to 1.6.32
  kubernetes/apps/selfhosted/windmill/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.7.1
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.32.0
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/kubernetes-schemas to e0bb7d5
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/lidarr to v1.2.6.3313
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update allenporter/flux-local action to 2.0.1
  .github/workflows/flux-diff.yaml
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.551
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.6.4
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr to v4.6.4.7568
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image louislam/uptime-kuma to v1.22.1
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v38.1.9
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.552
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 1.6.33
  kubernetes/apps/selfhosted/windmill/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.66.1
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.9
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.1.1
  kubernetes/apps/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v38.1.11
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image timberio/vector to v0.31.0
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
