Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

Remove WAF rule from Cloudflare for .social
  infrastructure/terraform/cloudflare/domain_social.tf
Labels: area/terraform

unpin sha tags
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

Archive gotosocial
  kubernetes/apps/selfhosted/gotosocial/app/database.yaml
  kubernetes/apps/selfhosted/gotosocial/app/helm-release.yaml
  kubernetes/apps/selfhosted/gotosocial/app/kustomization.yaml
  kubernetes/apps/selfhosted/gotosocial/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

Deploy kitchenowl
  kubernetes/apps/selfhosted/kitchenowl/app/backend/backup.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/backend/helm-release.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/backend/kustomization.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/backend/pvc.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/database.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/frontend/helm-release.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/frontend/kustomization.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/kustomization.yaml
  kubernetes/apps/selfhosted/kitchenowl/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

Add govee port to home assistant config
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.733
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.4.1
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v39.1.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/esphome/esphome to v2023.11.6
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.9
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform kubernetes to 2.24.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: area/terraform

fix(helm): update chart element-operator to 2.12.12
  kubernetes/apps/selfhosted/element/app/operator/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart element-updater to 2.12.12
  kubernetes/apps/selfhosted/element/app/updater/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/bazarr to v1.4.0
  kubernetes/apps/downloads/bazarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image nextcloud to v27.1.4
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.16.0
  .taskfiles/tools.yaml
Labels: none

feat(terraform): update terraform cloudflare to 4.20.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

fix(helm): update chart grafana to 7.0.11
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 4.5.3
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.19.1
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart descheduler to 0.28.1
  kubernetes/apps/kube-tools/descheduler/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.89.0
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image tombursch/kitchenowl to v89
  kubernetes/apps/selfhosted/kitchenowl/app/backend/helm-release.yaml
Labels: area/kubernetes

fix(container): update image tombursch/kitchenowl-web to v0.4.19
  kubernetes/apps/selfhosted/kitchenowl/app/frontend/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart k8s-gateway to 2.1.0
  kubernetes/apps/networking/k8s-gateway/app/homelab/helm-release.yaml
  kubernetes/apps/networking/k8s-gateway/app/social/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image tombursch/kitchenowl to v91
  kubernetes/apps/selfhosted/kitchenowl/app/backend/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 4.5.4
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.5.0
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.3.2
  kubernetes/apps/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.12.9
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.34.0
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.60
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/backend/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v2.1.1
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.5.1
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.16.1
  .taskfiles/tools.yaml
Labels: none

fix(helm): update chart emqx-operator to 2.2.5
  kubernetes/apps/home-automation/emqx/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image louislam/uptime-kuma to v1.23.8
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.61
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/backend/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v2.1.2
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
