Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(container): update image ghcr.io/esphome/esphome to v2023.5.3
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.520
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 45.30.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image timberio/vector to v0.30.0
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart vector to 0.22.0
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.31.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): Update chart kube-prometheus-stack to 46.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

Make renovate handle pre-commit hooks
  .github/renovate.json5
  .github/renovate/autoMerge.json5
Labels: area/ci

Add KRR
  .taskfiles/maintenance.yaml
  .taskfiles/tools.yaml
Labels: none

Misc housekeeping
  .vscode/settings.json
  .vscode/yaml.code-snippets
  infrastructure/talos/integrations/cni/cilium.yaml
  infrastructure/talos/integrations/cni/kustomization.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/databases/namespace.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/games/namespace.yaml
  kubernetes/apps/home-automation/namespace.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/media/sonarr-requests/app/backup.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/apps/selfhosted/namespace.yaml
Labels: area/kubernetes

Update pre commit hooks
  .pre-commit-config.yaml
Labels: none

Update secrets
  kubernetes/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

Update Flux to 2.0.3-rc
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

Migrate ARC to new stuff
  kubernetes/apps/dev/actions-runner-controller/app/helm-release.yaml
  kubernetes/apps/dev/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/dev/actions-runner-controller/app/pvc.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
  kubernetes/apps/dev/kustomization.yaml
  kubernetes/apps/dev/namespace.yaml
  kubernetes/flux/repositories/helm/actions-runner-controller-charts.yaml
Labels: area/kubernetes

Switch to OCI
  kubernetes/flux/repositories/helm/bitnami-charts.yaml
  kubernetes/flux/repositories/helm/bjw-s-charts.yaml
Labels: area/kubernetes

Update frigate config
  kubernetes/apps/home-automation/frigate/app/config/config.yaml
Labels: area/kubernetes

Start playing with Multus
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/multus/app/helm-release.yaml
  kubernetes/apps/networking/multus/app/kustomization.yaml
  kubernetes/apps/networking/multus/config/kustomization.yaml
  kubernetes/apps/networking/multus/config/net-attach-iot.yaml
  kubernetes/apps/networking/multus/kustomization.yaml
  kubernetes/flux/repositories/helm/angelnu-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.5.4
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.5.4
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.25
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update actions/labeler action to v4.0.4
  .github/workflows/meta-labeler.yaml
Labels: area/ci

feat(helm): update chart kube-prometheus-stack to 46.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.17.0
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.5.4
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 2.7.4
  kubernetes/apps/kube-tools/kyverno/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.17.1
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v37.1.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v38.0.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/k8snetworkplumbingwg/multus-cni to v4.0.2
  kubernetes/apps/networking/multus/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.12.1
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 46.4.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.5.6
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.521
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.56.6
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v36.0.3
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

ci(deps): update tj-actions/changed-files action to v36.0.5
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(helm): update chart loki to 5.5.10
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v36.0.6
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(helm): update chart cilium to 1.13.3
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v38.1.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
