Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(container): update dependency ghcr.io/analogj/scrutiny to v0.4.16
  docker/atlas/scrutiny/docker-compose.yaml
Labels: area/docker

feat(terraform): update terraform cloudflare to v3.19.0
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

ci(deps): update renovatebot/github-action action to v32.111.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update dependency siderolabs/talos to v1.1.1
  .taskfiles/tools.yaml
  kubernetes/management/sidero-system/clusters/metal.yaml
  kubernetes/management/sidero-system/environments/default.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook antonbabenko/pre-commit-terraform to v1.74.1
  .pre-commit-config.yaml
Labels: none

fix(container): update kubernetes to v1.23.9
  kubernetes/management/sidero-system/clusters/metal.yaml
  kubernetes/management/sidero-system/serverclasses/controlplane.yaml
  kubernetes/management/sidero-system/serverclasses/node.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.112.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update dependency ghcr.io/ahinko/simple-k8s-backup to v3.0.6
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/postgres.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.115.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update helm release reloader to v0.0.118
  kubernetes/management/apps/kube-system/reloader/helm-release.yaml
  kubernetes/metal/apps/kube-system/reloader/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.117.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.117.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.118.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update dependency fluxcd/flux2 to v0.31.4
  kubernetes/management/base/flux-system/gotk-components.yaml
  kubernetes/metal/base/flux-system/gotk-components.yaml
Labels: area/kubernetes

fix(helm): update helm release cilium to v1.11.7
  kubernetes/metal/core/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.119.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update dependency docker.io/frrouting/frr to v8.3.0
  infrastructure/udm-pro/roles/udmpro/files/scripts/10-onboot-ffr.sh
Labels: area/ansible

feat(helm): update helm release cilium to v1.12.0
  kubernetes/metal/core/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.119.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.120.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update dependency ghcr.io/ahinko/simple-k8s-backup to v3.0.7
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/postgres.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.122.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update aquasecurity/trivy-action action to v0.6.0
  .github/workflows/scan-containers.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.122.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.122.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update dependency docker.io/library/haproxy to 2.6.2
  infrastructure/udm-pro/roles/udmpro/files/scripts/10-onboot-haproxy.sh
Labels: area/ansible

ci(deps): update renovatebot/github-action action to v32.125.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update dependency ghcr.io/ahinko/simple-k8s-backup to v3.0.8
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/postgres.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.126.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update aquasecurity/trivy-action action to v0.6.1
  .github/workflows/scan-containers.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.131.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update dependency siderolabs/talos to v1.1.2
  .taskfiles/tools.yaml
  kubernetes/management/sidero-system/clusters/metal.yaml
  kubernetes/management/sidero-system/environments/default.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to v3.20.0
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

feat(terraform)!: Update Terraform http to v3
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

chore(deps): update dependency fluxcd/flux2 to v0.31.5
  kubernetes/management/base/flux-system/gotk-components.yaml
  kubernetes/metal/base/flux-system/gotk-components.yaml
Labels: area/kubernetes

fix(terraform): update terraform http to v3.0.1
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.9.0
  .pre-commit-config.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v32.131.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.133.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.133.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
