Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

Change arc image
  kubernetes/cluster/selfhosted/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

Update Loki config
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

Force zwave test instance to specific node
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.15.3
  .pre-commit-config.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v34.108.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.108.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.4.1
  .pre-commit-config.yaml
Labels: none

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.1.7
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.109.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart redis to 17.6.0
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform kubernetes to 2.17.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: area/terraform

fix(container): update image esphome/esphome to v2022.12.6
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.50.2
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.8.0
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(container): update siderolabs/talos to v1.3.3
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

feat(helm): update chart kube-prometheus-stack to 44.3.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(container): update image plexinc/pms-docker to v1.30.2.6563-3d4dc0cce
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

feat(terraform): update terraform cloudflare to 3.33.1
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

chore(deps): update budimanjojo/talhelper to v1.5.7
  .taskfiles/tools.yaml
Labels: none

fix(container): update image quay.io/minio/minio to release.2023-01-25t00-19-54z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.50.4
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/sct/overseerr to v1.32.1
  kubernetes/cluster/media/overseerr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart k8s-gateway to 2.0.1
  kubernetes/cluster/networking/k8s-gateway/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.4.3
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 4.4.1
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.4.2
  .pre-commit-config.yaml
Labels: none

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.8.1
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(container): update image esphome/esphome to v2022.12.8
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tibdex/github-app-token action to v1.8.0
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
  .github/workflows/helm-release-differ.yaml
  .github/workflows/mega-linter.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-pr-size-label.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-cloudflare-ip-ranges-updates.yaml
  .github/workflows/schedule-renovate.yaml
  .github/workflows/terraform-security-scan.yaml
Labels: area/ci

fix(helm): update chart grafana to 6.50.5
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/sct/overseerr to v1.32.2
  kubernetes/cluster/media/overseerr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.12.6
  .taskfiles/kubernetes.yaml
  kubernetes/cluster/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.4.4
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 4.4.2
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart minecraft-bedrock to 2.0.2
  kubernetes/cluster/games/minecraft/helm-release.yaml
Labels: area/kubernetes

feat(container): update image bitnami/redis-exporter to v1.46.0
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.8.2
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.4.5
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/sct/overseerr to v1.32.4
  kubernetes/cluster/media/overseerr/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform minio to 1.11.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
