Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(container): update siderolabs/talos to v1.5.1
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/common.sh
  infrastructure/talos/talconfig.yaml
Labels: none

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.18.0
  .pre-commit-config.yaml
Labels: none

feat(terraform): update terraform cloudflare to 4.13.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

fix(container): update image sissbruecker/linkding to v1.20.1
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart nextcloud to 4.1.0
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image redis to v17.16.0
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image quay.io/thanos/thanos to v0.32.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-08-23t10-07-06z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/siderolabs/kubelet to v1.28.1
  infrastructure/ansible/roles/k8s/defaults/main.yaml
  infrastructure/talos/talconfig.yaml
Labels: area/ansible

fix(helm): update chart grafana to 6.58.10
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update flux group to v2.1.0
  .github/workflows/publish-schemas.yaml
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/ci, area/kubernetes

ci(deps): update actions/checkout action to v3.6.0
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image kube-prometheus-stack to v48.3.6
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.11.4
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart descheduler to 0.28.0
  kubernetes/apps/kube-tools/descheduler/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.1.6
  kubernetes/apps/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/kubernetes-kubectl to v1.28.1
  kubernetes/apps/kube-system/tainter/app/cronjob.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.42
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.2.2
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.8.4
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v48.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/kubernetes-schemas to bd9c181
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook antonbabenko/pre-commit-terraform to v1.83.0
  .pre-commit-config.yaml
Labels: none

feat(container): update image redis to v17.17.1
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image sissbruecker/linkding to v1.21.0
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.sops to 1.6.5
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

feat(helm): update chart grafana to 6.59.0
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.75.0
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image redis to v18
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/kubernetes-schemas to 9864c80
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v39.0.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update immich group to v1.75.2
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v39.0.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update budimanjojo/talhelper to v1.9.3
  .taskfiles/tools.yaml
Labels: none

ci(deps): update docker/setup-buildx-action action to v2.10.0
  .github/workflows/publish-schemas.yaml
Labels: area/ci

feat(container): update image kube-prometheus-stack to v48.6.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image kube-prometheus-stack to v49
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/kubernetes-schemas to d1f14be
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/thanos/thanos to v0.32.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.12.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
