Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(helm): update chart kube-prometheus-stack to 41.7.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 3.3.1
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 11.5.6
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

ci(deps): update aquasecurity/tfsec-pr-commenter-action action to v1.3.0
  .github/workflows/terraform-security-scan.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.10.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(terraform): update terraform http to 3.2.0
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

Updated linting config and fixed linting issues
  .github/linters/.ansible-lint
  .github/linters/.markdownlint.yaml
  .github/linters/.prettierignore
  .github/workflows/mega-linter.yaml
  .mega-linter.yml
  .taskfiles/maintenance.yaml
  CHANGELOG.md
  README.md
  infrastructure/udm-pro/inventory/host_vars/udmpro.yaml
  infrastructure/udm-pro/roles/udmpro/defaults/main.yaml
  infrastructure/udm-pro/roles/udmpro/tasks/configuration.yaml
  infrastructure/udm-pro/roles/udmpro/tasks/kernel-tools.yaml
  infrastructure/udm-pro/roles/udmpro/tasks/main.yaml
  infrastructure/udm-pro/roles/udmpro/tasks/onboot.yaml
  kubernetes/cluster/cert-manager/namespace.yaml
  kubernetes/cluster/databases/cloudnative-pg/clusters/postgres-cluster.yaml
  kubernetes/cluster/databases/cloudnative-pg/clusters/scheduled-backup.yaml
  kubernetes/cluster/databases/cloudnative-pg/kustomization.yaml
  kubernetes/cluster/databases/kustomization.yaml
  kubernetes/cluster/databases/redis/kustomization.yaml
  kubernetes/cluster/flux-system/notifications/github/kustomization.yaml
  kubernetes/cluster/games/minecraft/helm-release.yaml
  kubernetes/cluster/home-automation/frigate/config.yaml
  kubernetes/cluster/rook-ceph/cluster/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/kustomization.yaml
  kubernetes/flux/flux-system/gotk-components.yaml
Labels: area/ansible, area/ci, area/kubernetes

Fix renovate config for keeping cloudnative-pg:s postgres container up to date
  .github/renovate/regexManagers.json5
Labels: area/ci

More linting fixes
  docs/cluster/expose-services.md
  docs/cluster/provision.md
  docs/cluster/upgrades.md
  docs/network.md
  docs/snippets.md
  infrastructure/kubernetes/integrations/cilium-quick-install/quick-install.yaml
  infrastructure/kubernetes/talconfig.yaml
  infrastructure/kubernetes/talenv.yaml
  infrastructure/kubernetes/talsecret.yaml
Labels: area/docs

Update docker-compose version
  docker/atlas/plex/docker-compose.yaml
  docker/atlas/postgres/docker-compose.yaml
  docker/atlas/samba/docker-compose.yaml
  docker/atlas/scrutiny/docker-compose.yaml
Labels: area/docker

Fix issues and tweaks to the Talos upgrade script
  infrastructure/kubernetes/upgrade-talos.sh
Labels: none

Enable Kyverno cpu limit policy
  kubernetes/cluster/kube-tools/kyverno/policies/kustomization.yaml
Labels: area/kubernetes

Enable VPA+goldilocks + Smartctl exporter
  kubernetes/cluster/monitoring/goldilocks/helm-release.yaml
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
  kubernetes/cluster/monitoring/kustomization.yaml
  kubernetes/cluster/monitoring/smartctl-exporter/dashboard/kustomization.yaml
  kubernetes/cluster/monitoring/smartctl-exporter/dashboard/smartctl-exporter-dashboard.json
  kubernetes/cluster/monitoring/smartctl-exporter/helm-release.yaml
  kubernetes/cluster/monitoring/smartctl-exporter/kustomization.yaml
  kubernetes/cluster/monitoring/vpa/helm-release.yaml
Labels: area/kubernetes

Downgrade Loki since there are breaking changes in newer versions
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

Minor fixes to minio dashboard
  kubernetes/cluster/default/minio/dashboard/kustomization.yaml
Labels: area/kubernetes

More linting fixes
  infrastructure/kvm/provision.yaml
  infrastructure/kvm/roles/pikvm_os/defaults/main.yaml
  infrastructure/kvm/roles/pikvm_os/handlers/main.yaml
  infrastructure/kvm/roles/pikvm_os/tasks/main.yaml
  infrastructure/kvm/roles/pikvm_os/templates/override.yaml.j2
  infrastructure/kvm/roles/pikvm_os/templates/tc358743-edid.hex.j2
  infrastructure/kvm/roles/pikvm_os/vars/main.yaml
Labels: area/ansible

feat(container): update image ghcr.io/cloudnative-pg/postgresql to v14.5
  kubernetes/cluster/databases/cloudnative-pg/clusters/postgres-cluster.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 3.3.1
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image ghcr.io/cloudnative-pg/postgresql to v15
  kubernetes/cluster/databases/cloudnative-pg/clusters/postgres-cluster.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.43.2
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 41.7.2
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform kubernetes to 2.15.0
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

chore(deps): update kubernetes-sigs/node-feature-discovery to v0.11.3
  kubernetes/cluster/kube-tools/node-feature-discovery/kustomization.yaml
Labels: area/kubernetes

fix(container): update node-feature-discovery
  kubernetes/cluster/kube-tools/node-feature-discovery/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart goldilocks to 6.3.2
  kubernetes/cluster/monitoring/goldilocks/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.12.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image timberio/vector to v0.25.0
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.12.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.28.1
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.43.3
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.docker to 3.2.0
  infrastructure/requirements.yaml
Labels: none

feat(container): update image influxdb to v2.5.0
  kubernetes/cluster/databases/influxdb/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 3.27.0
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

fix(helm): update chart kube-prometheus-stack to 41.7.3
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

ci(deps): update aquasecurity/tfsec-pr-commenter-action action to v1.3.1
  .github/workflows/terraform-security-scan.yaml
Labels: area/ci

Updates to ansible for setting up Nas and Backup server
  infrastructure/metal/inventory/group_vars/all/apt.yaml
  infrastructure/metal/inventory/group_vars/all/fish_users.yaml
  infrastructure/metal/inventory/group_vars/all/hostname.yaml
  infrastructure/metal/inventory/group_vars/all/users.yaml
  infrastructure/metal/inventory/group_vars/nas/apt.yaml
  infrastructure/metal/inventory/group_vars/nas/sshkeys.yaml
  infrastructure/metal/inventory/group_vars/nas/users.yaml
  infrastructure/metal/inventory/host_vars/atlas/atlas.sops.yaml
  infrastructure/metal/inventory/host_vars/atlas/sops.atlas.yaml
  infrastructure/metal/inventory/host_vars/kronos/kronos.sops.yaml
  infrastructure/metal/inventory/host_vars/kronos/sops.kronos.yaml
  infrastructure/metal/provision.yaml
  infrastructure/metal/roles/apt/tasks/main.yaml
  infrastructure/metal/roles/apt/tasks/remove.yaml
  infrastructure/metal/roles/fish/tasks/configure.yaml
  infrastructure/metal/roles/fish/tasks/install.yaml
  infrastructure/metal/roles/fish/templates/starship.toml.j2
  infrastructure/metal/roles/homelab/tasks/main.yaml
  infrastructure/metal/roles/sshkeys/tasks/main.yml
  infrastructure/metal/roles/users/tasks/users.yaml
  infrastructure/metal/roles/znapzend/tasks/main.yaml
  infrastructure/requirements.yaml
Labels: none

Update loki to latest version
  kubernetes/cluster/monitoring/loki/helm-release.yaml
  kubernetes/cluster/monitoring/loki/kustomization.yaml
  kubernetes/cluster/monitoring/loki/service-monitor.yaml
Labels: area/kubernetes

Update VPA to latest version
  kubernetes/cluster/monitoring/vpa/helm-release.yaml
Labels: area/kubernetes

Set up a Home assistant dev environment
  kubernetes/cluster/home-automation/home-assistant-v2-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2-code/kustomization.yaml
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2/kustomization.yaml
  kubernetes/cluster/home-automation/home-assistant-v2/pvc.yaml
  kubernetes/cluster/home-automation/kustomization.yaml
  kubernetes/config/cluster-settings.yaml
Labels: area/kubernetes

Misc minor updates
  .github/linters/.yamllint.yaml
  .github/renovate/groups.json5
  .gitignore
  cloud/cloudflare/.terraform.lock.hcl
  docker/atlas/scrutiny/docker-compose.yaml
  infrastructure/kubernetes/talconfig.yaml
  infrastructure/kubernetes/talenv.yaml
Labels: area/ci, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
