Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

feat(observability): victoria out, kps back in
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/alerts/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/alerts/oomkilled.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/install.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/victoria-metrics/app/helm-release.yaml
  kubernetes/main/apps/observability/victoria-metrics/app/helm-repository.yaml
  kubernetes/main/apps/observability/victoria-metrics/install.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

fix(docs): update paths
  .github/renovate/regexManagers.json5
  docs/snippets.md
Labels: area/ci, area/docs

feat(postgres): update version
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
Labels: area/kubernetes

fix(tcpsolis): update config
  kubernetes/main/apps/home-automation/tcpsolis2mqtt/app/config/config.yaml
Labels: area/kubernetes

fix(jellyfin): change path
  kubernetes/storage/apps/default/jellyfin/app/helm-release.yaml
Labels: area/kubernetes

feat(valkey): deploy for immich, mastodon and authentik
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
  kubernetes/main/apps/security/authentik/install.yaml
  kubernetes/main/apps/security/authentik/valkey/helm-release.yaml
  kubernetes/main/apps/security/authentik/valkey/kustomization.yaml
  kubernetes/main/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/main/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/immich/app/valkey/helm-release.yaml
  kubernetes/main/apps/selfhosted/immich/app/valkey/kustomization.yaml
  kubernetes/main/apps/selfhosted/mastodon/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/mastodon/install.yaml
  kubernetes/main/apps/selfhosted/mastodon/valkey/helm-release.yaml
  kubernetes/main/apps/selfhosted/mastodon/valkey/kustomization.yaml
Labels: area/kubernetes

fix(sab): update memory limit
  kubernetes/main/apps/downloads/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

fix: remove unused code
  kubernetes/main/apps/games/kustomization.yaml
  kubernetes/main/apps/games/romm/app/database.yaml
  kubernetes/main/apps/games/romm/app/external-secret.yaml
  kubernetes/main/apps/games/romm/app/helm-release.yaml
  kubernetes/main/apps/games/romm/app/kustomization.yaml
  kubernetes/main/apps/games/romm/app/nfs-pvc.yaml
  kubernetes/main/apps/games/romm/install.yaml
Labels: area/kubernetes

fix(talos): device selector on rpi cp:s
  infrastructure/talos/talconfig.yaml
Labels: none

fix(renovate): add mastodon group
  .github/renovate/groups.json5
Labels: area/ci

fix(gh-workflows): revert update
  .github/workflows/docker-image-tester.yaml
  .github/workflows/flux-diff.yaml
Labels: area/ci

fix(image-tester): use buildx inspect
  .github/workflows/docker-image-tester.yaml
Labels: area/ci

feat(samba): move from docker to storage cluster
  backups/backup_to_external_disk.sh
  backups/deployment.yaml
  backups/kubectl-rsync
  docker/atlas/samba/docker-compose.yaml
  infrastructure/ansible/provision_metal.yaml
  infrastructure/ansible/roles/backup/tasks/main.yaml
  infrastructure/ansible/roles/docker/tasks/main.yml
  infrastructure/ansible/roles/homelab/tasks/main.yaml
  kubernetes/storage/apps/default/samba/app/configs/kustomization.yaml
  kubernetes/storage/apps/default/samba/app/configs/smb-conf.yaml
  kubernetes/storage/apps/default/samba/app/configs/user1.yaml
  kubernetes/storage/apps/default/samba/app/configs/user2.yaml
  kubernetes/storage/apps/default/samba/app/helm-release.yaml
  kubernetes/storage/apps/default/samba/app/kustomization.yaml
  kubernetes/storage/apps/default/samba/install.yaml
Labels: area/kubernetes, area/docker

fix(backup): fix issue when db backup sometimes failed
  kubernetes/main/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

feat(teslamate): deploy
  kubernetes/main/apps/databases/postgres-backup/app/v16/cronjob.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
  kubernetes/main/apps/home-automation/teslamate/app/database.yaml
  kubernetes/main/apps/home-automation/teslamate/app/external-secret.yaml
  kubernetes/main/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/teslamate/app/kustomization.yaml
  kubernetes/main/apps/home-automation/teslamate/install.yaml
Labels: area/kubernetes

feat(evcc): deploy, still WiP
  kubernetes/main/apps/home-automation/evcc/app/config/evcc.yaml
  kubernetes/main/apps/home-automation/evcc/app/helm-release.yaml
  kubernetes/main/apps/home-automation/evcc/app/kustomization.yaml
  kubernetes/main/apps/home-automation/evcc/install.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: area/kubernetes

fix(cilium): remove envoy
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

misc fixes
  .taskfiles/kubernetes/taskfile.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/main/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/main/apps/storage/openebs/app/helm-release.yaml
  kubernetes/main/apps/storage/spegel/app/values.yaml
  kubernetes/main/flux/vars/sops.cluster-secrets.yaml
  scripts/automatic-docker-updates.sh
  scripts/delete-stuck-namespace.sh
Labels: area/kubernetes

fix(radarr): update env variables
  kubernetes/main/apps/downloads/radarr/app/helm-release.yaml
Labels: area/kubernetes

fix(sabnzbd): update volume mounts
  kubernetes/main/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/main/apps/downloads/sabnzbd/install.yaml
Labels: area/kubernetes

fix(frigate): update config to work with 0.14
  kubernetes/main/apps/home-automation/frigate/app/config/config.yaml
  kubernetes/main/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/kubernetes

fix(home-assistant): merge with code
  kubernetes/main/apps/home-automation/home-assistant-code/app/helm-release.yaml
  kubernetes/main/apps/home-automation/home-assistant-code/app/kustomization.yaml
  kubernetes/main/apps/home-automation/home-assistant-code/install.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: area/kubernetes

fix(grafana): add teslamate dashboards
  kubernetes/main/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/main/apps/observability/grafana/app/external-secret.yaml
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(zigbee): enable watchdog
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

fix(evcc): update config, WIP
  kubernetes/main/apps/home-automation/evcc/app/config/evcc.yaml
Labels: area/kubernetes

feat(emqx): native init user
  kubernetes/main/apps/home-automation/emqx/app/external-secret.yaml
  kubernetes/main/apps/home-automation/emqx/app/kustomization.yaml
  kubernetes/main/apps/home-automation/emqx/cluster/cluster.yaml
  kubernetes/main/apps/home-automation/emqx/cluster/emqx-init-script-configmap.yaml
  kubernetes/main/apps/home-automation/emqx/cluster/kustomization.yaml
  kubernetes/main/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

fix: housekeeping
  backups/backup_to_external_disk.sh
  kubernetes/main/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/immich/app/nfs-pvc.yaml
Labels: area/kubernetes

feat(mailpit): deploy
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/apps/networking/mailpit/app/helm-release.yaml
  kubernetes/main/apps/networking/mailpit/app/kustomization.yaml
  kubernetes/main/apps/networking/mailpit/install.yaml
Labels: area/kubernetes

feat(bitwarden): deploy
  kubernetes/main/apps/databases/postgres-backup/app/v16/cronjob.yaml
  kubernetes/main/apps/selfhosted/bitwarden/app/database.yaml
  kubernetes/main/apps/selfhosted/bitwarden/app/external-secret.yaml
  kubernetes/main/apps/selfhosted/bitwarden/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/bitwarden/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/bitwarden/install.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix: move mqtt creds to external secret
  kubernetes/main/apps/home-automation/evcc/app/config/evcc.yaml
  kubernetes/main/apps/home-automation/evcc/app/external-secret.yaml
  kubernetes/main/apps/home-automation/evcc/app/helm-release.yaml
  kubernetes/main/apps/home-automation/evcc/app/kustomization.yaml
  kubernetes/main/apps/home-automation/frigate/app/config/config.yaml
  kubernetes/main/apps/home-automation/frigate/app/external-secret.yaml
  kubernetes/main/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/frigate/app/kustomization.yaml
  kubernetes/main/apps/home-automation/tcpsolis2mqtt/app/config/config.yaml
  kubernetes/main/apps/home-automation/tcpsolis2mqtt/app/external-secret.yaml
  kubernetes/main/apps/home-automation/tcpsolis2mqtt/app/helm-release.yaml
  kubernetes/main/apps/home-automation/tcpsolis2mqtt/app/kustomization.yaml
  kubernetes/main/apps/home-automation/teslamate/app/external-secret.yaml
  kubernetes/main/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/external-secret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/main/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

feat(evcc): add sponsor token
  kubernetes/main/apps/home-automation/evcc/app/config/evcc.yaml
  kubernetes/main/apps/home-automation/evcc/app/external-secret.yaml
Labels: area/kubernetes

fix: housekeeping
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v16/loadbalancer.yaml
  kubernetes/main/apps/dev/it-tools/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/mastodon/app/helm-release.yaml
Labels: area/kubernetes

Update allowedVersions.json5 with new minor version of Kubernetes.
  .github/renovate/allowedVersions.json5
Labels: area/ci

fix(talos): generate config before upgrading
  .taskfiles/talos/taskfile.yaml
Labels: none

fix(unifi-external-dns): change port
  kubernetes/storage/apps/networking/external-dns/unifi/helm-release.yaml
Labels: area/kubernetes

fix(storage): update local path
  kubernetes/main/apps/media/nfs-pvc.yaml
  kubernetes/main/apps/selfhosted/immich/app/nfs-pvc.yaml
  kubernetes/storage/apps/default/jellyfin/app/helm-release.yaml
  kubernetes/storage/apps/default/minio/app/helm-release.yaml
  kubernetes/storage/apps/default/samba/app/helm-release.yaml
Labels: area/kubernetes

fix(spegel): remove for now
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/spegel/app/helm-release.yaml
  kubernetes/main/apps/storage/spegel/app/kustomization.yaml
  kubernetes/main/apps/storage/spegel/app/kustomizeconfig.yaml
  kubernetes/main/apps/storage/spegel/app/values.yaml
  kubernetes/main/apps/storage/spegel/install.yaml
Labels: area/kubernetes

fix(unifi-external-dns): change port
  kubernetes/main/apps/networking/external-dns/unifi/helm-release.yaml
Labels: area/kubernetes

fix(kps): update settings
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(external-secrets): specify image repos
  kubernetes/main/apps/security/external-secrets/app/helm-release.yaml
Labels: area/kubernetes
