Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/docs, area/docker, area/kubernetes

feat(arc): move to oci
  kubernetes/apps/actions-runner-system/actions-runner-controller/operator/helm-release.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/operator/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/operator/oci-repository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/homelab.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/oci-repoistory.yaml
Labels: area/kubernetes

feat(gatus): switch to sidecar
  kubernetes/apps/ai/kokoro/app/helm-release.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v17/gatus.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v17/kustomization.yaml
  kubernetes/apps/databases/postgres18/app/gatus.yaml
  kubernetes/apps/databases/postgres18/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/webhook/httproute.yaml
  kubernetes/apps/home-automation/evcc/install.yaml
  kubernetes/apps/home-automation/home-assistant/install.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/observability/gatus/app/config/config.yaml
  kubernetes/apps/observability/gatus/app/helm-release.yaml
  kubernetes/apps/security/onepassword/app/helm-release.yaml
  kubernetes/apps/security/pocket-id/install.yaml
  kubernetes/apps/selfhosted/radicale/install.yaml
  kubernetes/apps/social/element/install.yaml
  kubernetes/apps/storage/restic-rest/app/helm-release.yaml
  kubernetes/apps/storage/restic-rest/install.yaml
  kubernetes/components/gatus/external/configmap.yaml
  kubernetes/components/gatus/external/kustomization.yaml
  kubernetes/components/gatus/internal/configmap.yaml
  kubernetes/components/gatus/internal/kustomization.yaml
Labels: area/kubernetes

feat(envoy): switch to gcr mirror
  kubernetes/apps/networking/envoy-gateway/app/envoy.yaml
  kubernetes/apps/networking/envoy-gateway/app/oci-repository.yaml
  kubernetes/bootstrap/helmfile.d/00-crds.yaml
Labels: area/kubernetes

feat(influxdb): sunset
  kubernetes/apps/databases/influxdb/app/external-secret.yaml
  kubernetes/apps/databases/influxdb/app/helm-release.yaml
  kubernetes/apps/databases/influxdb/app/httproute.yaml
  kubernetes/apps/databases/influxdb/app/kustomization.yaml
  kubernetes/apps/databases/influxdb/install.yaml
  kubernetes/apps/databases/kustomization.yaml
Labels: area/kubernetes

feat(generic-device-plugin): sunset
  kubernetes/apps/downloads/qbittorrent/install.yaml
  kubernetes/apps/system/generic-device-plugin/app/config/config.yaml
  kubernetes/apps/system/generic-device-plugin/app/helm-release.yaml
  kubernetes/apps/system/generic-device-plugin/app/kustomization.yaml
  kubernetes/apps/system/generic-device-plugin/app/oci-repository.yaml
  kubernetes/apps/system/generic-device-plugin/install.yaml
  kubernetes/apps/system/kustomization.yaml
Labels: area/kubernetes

fix(flux): config updates
  kubernetes/apps/flux-system/flux-instance/app/helm-release.yaml
  kubernetes/flux/cluster/install.yaml
Labels: area/kubernetes

fix: update brew file
  .taskfiles/workstation/resources/Brewfile
Labels: none

fix(renovate): regex fo cloudnative-pg cluster images
  .renovate/customManagers.json5
Labels: none

feat(k8tz): move to oci
  kubernetes/apps/kube-system/k8tz/app/helm-release.yaml
  kubernetes/apps/kube-system/k8tz/app/kustomization.yaml
  kubernetes/apps/kube-system/k8tz/app/oci-repository.yaml
Labels: area/kubernetes

feat(metric-server): move to oci
  kubernetes/apps/kube-system/metrics-server/app/helm-release.yaml
  kubernetes/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/apps/kube-system/metrics-server/app/oci-repository.yaml
Labels: area/kubernetes

feat(cloudflared): move to upstream image
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/kubernetes

feat(grafana): move to oci
  kubernetes/apps/observability/grafana/app/helm-release.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/oci-repository.yaml
Labels: area/kubernetes

fix(es): update config
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
  kubernetes/apps/security/external-secrets/app/helm-values.yaml
  kubernetes/apps/security/external-secrets/app/kustomization.yaml
Labels: area/kubernetes

feat(immich): move valkey to upstream image
  kubernetes/apps/selfhosted/immich/app/helm-release.yaml
Labels: area/kubernetes

feat(openebs): move to oci
  kubernetes/apps/storage/openebs/app/helm-release.yaml
  kubernetes/apps/storage/openebs/app/kustomization.yaml
  kubernetes/apps/storage/openebs/app/oci-repository.yaml
Labels: area/kubernetes

feat(volsync): move to oci
  kubernetes/apps/storage/volsync/app/helm-release.yaml
  kubernetes/apps/storage/volsync/app/kustomization.yaml
  kubernetes/apps/storage/volsync/app/oci-repository.yaml
Labels: area/kubernetes

feat(descheduler): move to oci
  kubernetes/apps/system/descheduler/app/helm-release.yaml
  kubernetes/apps/system/descheduler/app/kustomization.yaml
  kubernetes/apps/system/descheduler/app/oci-repository.yaml
Labels: area/kubernetes

feat(intel-device-plugin): move to oci
  kubernetes/apps/system/intel-device-plugins/app/helm-release.yaml
  kubernetes/apps/system/intel-device-plugins/app/kustomization.yaml
  kubernetes/apps/system/intel-device-plugins/app/oci-repository.yaml
  kubernetes/apps/system/intel-device-plugins/gpu/helm-release.yaml
  kubernetes/apps/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/apps/system/intel-device-plugins/gpu/oci-repository.yaml
Labels: area/kubernetes

feat(nfd): move to oci
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
  kubernetes/apps/system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/system/node-feature-discovery/app/oci-repository.yaml
Labels: area/kubernetes

feat(helm): remove unused repos
  kubernetes/flux/meta/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/actions-runner-controller-charts.yaml
  kubernetes/flux/meta/repositories/helm/backube-charts.yaml
  kubernetes/flux/meta/repositories/helm/grafana-charts.yaml
  kubernetes/flux/meta/repositories/helm/influxdata-charts.yaml
  kubernetes/flux/meta/repositories/helm/intel-charts.yaml
  kubernetes/flux/meta/repositories/helm/k8tz-charts.yaml
  kubernetes/flux/meta/repositories/helm/kubernetes-sigs-descheduler-charts.yaml
  kubernetes/flux/meta/repositories/helm/kubernetes-sigs-metrics-server-charts.yaml
  kubernetes/flux/meta/repositories/helm/kubernetes-sigs-node-feature-discovery-charts.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/openebs-charts.yaml
  kubernetes/flux/meta/repositories/kustomization.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/foxxmd/multi-scrobbler ( 0.10.0 …"
  kubernetes/apps/media/multiscrobbler/app/helm-release.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/foxxmd/multi-scrobbler ( 0.10.0 …" (#5403)
  kubernetes/apps/media/multiscrobbler/app/helm-release.yaml
Labels: area/kubernetes

fix: remove birdnet leftovers
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat: fixes after cluster rebuild + some new hardware
  ansible/roles/pikvm_os/templates/override.yaml.j2
  kubernetes/apps/databases/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/install.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/install.yaml
  kubernetes/apps/kube-system/etcd-backup/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/openebs/app/helm-release.yaml
  kubernetes/apps/storage/openebs/app/kustomization.yaml
  kubernetes/apps/storage/zfs-volumes/app/games.yaml
  kubernetes/apps/storage/zfs-volumes/app/immich.yaml
  kubernetes/apps/storage/zfs-volumes/app/kustomization.yaml
  kubernetes/apps/storage/zfs-volumes/app/media.yaml
  kubernetes/apps/storage/zfs-volumes/app/restic-rest.yaml
  kubernetes/apps/storage/zfs-volumes/app/samba.yaml
  kubernetes/apps/storage/zfs-volumes/install.yaml
  kubernetes/apps/system/intel-device-plugins/gpu/nodefeaturerule.yaml
  kubernetes/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/ansible, area/kubernetes

fix: give gramps more memory
  kubernetes/apps/selfhosted/gramps/app/helm-release.yaml
Labels: area/kubernetes

fix: dragonfly dashboard
  kubernetes/apps/databases/dragonfly/app/helm-release.yaml
Labels: area/kubernetes

feat: upgrade to postgres 18
  .renovate/customManagers.json5
  .taskfiles/talos/taskfile.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v17/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v17/loadbalancer.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v17/postgres-cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v17/scheduled-backup.yaml
  kubernetes/apps/databases/cloudnative-pg/install.yaml
  kubernetes/apps/databases/ext-postgres-operator/install.yaml
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/postgres-backup/app/kustomization.yaml
  kubernetes/apps/databases/postgres-backup/app/v17/external-secret.yaml
  kubernetes/apps/databases/postgres-backup/app/v17/helm-release.yaml
  kubernetes/apps/databases/postgres-backup/app/v17/kustomization.yaml
  kubernetes/apps/databases/postgres-backup/app/v17/oci-repository.yaml
  kubernetes/apps/databases/postgres-backup/install.yaml
  kubernetes/apps/databases/postgres18/app/cluster.yaml
  kubernetes/apps/databases/postgres18/app/external-secret.yaml
  kubernetes/apps/databases/postgres18/app/grafana-dashboard.yaml
  kubernetes/apps/databases/postgres18/app/kustomization.yaml
  kubernetes/apps/databases/postgres18/app/objectstore.yaml
  kubernetes/apps/databases/postgres18/app/pod-monitor.yaml
  kubernetes/apps/databases/postgres18/app/recovery-job.yaml
  kubernetes/apps/databases/postgres18/backup-rest/external-secret.yaml
  kubernetes/apps/databases/postgres18/backup-rest/helm-release.yaml
  kubernetes/apps/databases/postgres18/backup-rest/oci-repository.yaml
  kubernetes/apps/databases/postgres18/readme.md
  kubernetes/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/apps/observability/gatus/app/config/config.yaml
  kubernetes/apps/selfhosted/immich/app/database.yaml
  kubernetes/apps/selfhosted/immich/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/install.yaml
  kubernetes/apps/social/element/app/external-secret.yaml
Labels: area/kubernetes

remove watchstate and pause jellyfin
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/watchstate/app/helm-release.yaml
  kubernetes/apps/media/watchstate/app/kustomization.yaml
  kubernetes/apps/media/watchstate/app/oci-repository.yaml
  kubernetes/apps/media/watchstate/install.yaml
Labels: area/kubernetes

fix: minor gatus updates
  kubernetes/apps/observability/gatus/app/config/config.yaml
  kubernetes/apps/observability/gatus/app/helm-release.yaml
Labels: area/kubernetes

feat: pre load models for ollama
  kubernetes/apps/ai/ollama/app/configmaps.yaml
  kubernetes/apps/ai/ollama/app/helm-release.yaml
  kubernetes/apps/ai/ollama/app/kustomization.yaml
Labels: area/kubernetes

feat: another minecraft server
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/minecraft2/app/helm-release.yaml
  kubernetes/apps/games/minecraft2/app/kustomization.yaml
  kubernetes/apps/games/minecraft2/app/oci-repository.yaml
  kubernetes/apps/games/minecraft2/install.yaml
Labels: area/kubernetes

feat: bye bye birdnet
  kubernetes/apps/selfhosted/birdnet/app/external-secret.yaml
  kubernetes/apps/selfhosted/birdnet/app/helm-release.yaml
  kubernetes/apps/selfhosted/birdnet/app/kustomization.yaml
  kubernetes/apps/selfhosted/birdnet/app/oci-repository.yaml
  kubernetes/apps/selfhosted/birdnet/install.yaml
Labels: area/kubernetes

misc updates
  .gitignore
  .renovate/grafanadashboards.json5
  .taskfiles/workstation/resources/Brewfile
  ansible/roles/wmbusmeters/tasks/main.yaml
  backups/backup_jobs.yaml
  backups/backup_to_external_disk.sh
  kubernetes/apps/observability/kube-prometheus-stack/app/grafana-dashboard.yaml
  kubernetes/apps/observability/silence-operator/app/helm-release.yaml
  kubernetes/apps/observability/silence-operator/app/oci-repository.yaml
  kubernetes/apps/observability/smartctl-exporter/app/grafana-dashboard.yaml
  kubernetes/apps/selfhosted/immich/app/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
  kubernetes/apps/system/spegel/app/grafana-dashboard.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/ansible, area/kubernetes

feat: sunset silence operator
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/silence-operator/app/helm-release.yaml
  kubernetes/apps/observability/silence-operator/app/kustomization.yaml
  kubernetes/apps/observability/silence-operator/app/oci-repository.yaml
  kubernetes/apps/observability/silence-operator/install.yaml
  kubernetes/apps/observability/silence-operator/silences/cephnodediskspacewarning.yaml
  kubernetes/apps/observability/silence-operator/silences/kubepersistentvolumefillingup.yaml
  kubernetes/apps/observability/silence-operator/silences/kustomization.yaml
  kubernetes/apps/observability/silence-operator/silences/smartctldinterfaceslow.yaml
  kubernetes/apps/observability/silence-operator/silences/smartdeviceinterfaceslow.yaml
Labels: area/kubernetes

feat: use upstream repo for openebs
  kubernetes/apps/storage/openebs/app/oci-repository.yaml
Labels: area/kubernetes

fix: update descheduler config
  kubernetes/apps/system/descheduler/app/helm-release.yaml
Labels: area/kubernetes

fix: update envoy config
  kubernetes/apps/networking/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

fix: cilium config updates
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

Update allowedVersions.json5 with new minor version of Kubernetes.
  .renovate/allowedVersions.json5
Labels: none

feat: update flux to version 0.38.1
  kubernetes/apps/flux-system/flux-instance/app/helm-release.yaml
  kubernetes/apps/flux-system/flux-instance/app/oci-repository.yaml
  kubernetes/apps/flux-system/flux-operator/app/helm-release.yaml
  kubernetes/apps/flux-system/flux-operator/app/oci-repository.yaml
  kubernetes/bootstrap/helmfile.d/01-apps.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "docker/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
