Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

feat(container): Update image ghcr.io/ahinko/simple-pg-backup to v2
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

Cilium L2 LoadBalancer out, MetalLB back in
  infrastructure/talos/integrations/cni/cilium.yaml
  kubernetes/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/apps/games/minecraft/app/helm-release.yaml
  kubernetes/apps/home-automation/emqx/cluster/loadbalancer.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/apps/networking/k8s-gateway/app/helm-release.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/metallb/app/helm-release.yaml
  kubernetes/apps/networking/metallb/app/kustomization.yaml
  kubernetes/apps/networking/metallb/config/kustomization.yaml
  kubernetes/apps/networking/metallb/config/layer2-advertisement.yaml
  kubernetes/apps/networking/metallb/config/layer2-pool.yaml
  kubernetes/apps/networking/metallb/install.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/metallb-charts.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

Upgrade Postgres cluster to version 16
  docs/snippets.md
  kubernetes/apps/databases/cloudnative-pg/clusters/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/postgres-cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/sops.secrets.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/loadbalancer.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/scheduled-backup.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/sops.secrets.yaml
  kubernetes/apps/databases/ext-postgres-operator/app/sops.secrets.yaml
  kubernetes/apps/databases/postgres-backup/app/sops.secrets.yaml
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
  kubernetes/apps/databases/postgres-backup/app/v16/kustomization.yaml
  kubernetes/apps/databases/postgres-backup/app/v16/sops.secrets.yaml
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
  kubernetes/apps/selfhosted/nextcloud/app/database.yaml
Labels: area/kubernetes, area/docs

Update nginx config
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

Remove persistence from Immich web server since it isn't needed/used
  kubernetes/apps/selfhosted/immich/app/nfs-pvc.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

Update Kubelet CSR approver to latest version
  infrastructure/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
Labels: none

Move Nextcloud from NFS share to Ceph storage
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/data-pvc.yaml
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
  kubernetes/apps/selfhosted/nextcloud/app/kustomization.yaml
  kubernetes/apps/selfhosted/nextcloud/app/nfs-pvc.yaml
  kubernetes/apps/selfhosted/nextcloud/app/sops.secrets.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/github-actions-runner to 39111f1
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

fix(container): update image sissbruecker/linkding to v1.21.1
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image gha-runner-scale-set to v0.6.1
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

fix(container): update image gha-runner-scale-set-controller to v0.6.1
  kubernetes/apps/dev/actions-runner-controller/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/sabnzbd to v4.1.0
  kubernetes/apps/downloads/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-gpu to 0.28.0
  kubernetes/apps/kube-tools/intel-device-plugins/gpu/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-operator to 0.28.0
  kubernetes/apps/kube-tools/intel-device-plugins/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/esphome/esphome to v2023.9.0
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.13.1
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image plexinc/pms-docker to v1.32.6.7557-1cf77d501
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

fix(helm): update chart weave-gitops to 4.0.31
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.9.1
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.686
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image ghcr.io/zwave-js/zwave-js-ui to v9
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.50
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v2.0.3
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-09-27t15-22-50z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.1
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart node-problem-detector to 2.3.11
  kubernetes/apps/kube-tools/node-problem-detector/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart k8tz to 0.14.0
  kubernetes/apps/kube-tools/k8tz/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.0.3
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image emqx/emqx to v5.3.0
  kubernetes/apps/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.17.1
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart minecraft-bedrock to 2.3.0
  kubernetes/apps/games/minecraft/app/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image ghcr.io/recyclarr/recyclarr to v6
  kubernetes/apps/downloads/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-09-30t07-02-29z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.51
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v2.0.4
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.688
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image sissbruecker/linkding to v1.22.0
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/thanos/thanos to v0.32.4
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.6
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.80.0
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes
