Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.25
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/ahinko/github-actions-runner to v2.305.0
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.6.2
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/siderolabs/kubelet to v1.27.3
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-k8s.sh
Labels: none

fix(helm): update chart cilium to 1.13.4
  infrastructure/talos/integrations/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart vector to 0.22.1
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.17.0
  .pre-commit-config.yaml
Labels: none

fix(container): update image redis to v17.11.5
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.sops to 1.6.2
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

fix(container): update image quay.io/minio/minio to release.2023-06-16t02-41-06z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.11.8
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.61.0
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v38.1.6
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to dc7860e
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart emqx-operator to 2.1.4
  kubernetes/apps/home-automation/emqx/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.12.2
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v38.1.7
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/coder/code-server to v4.14.0
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.29
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/home-automation/zwavejs/app/backup.yaml
  kubernetes/apps/media/bazarr/app/backup.yaml
  kubernetes/apps/media/lidarr/app/backup.yaml
  kubernetes/apps/media/radarr/app/backup.yaml
  kubernetes/apps/media/sabnzbd/app/backup.yaml
  kubernetes/apps/media/sonarr-requests/app/backup.yaml
  kubernetes/apps/media/sonarr/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.26
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 1.6.16
  kubernetes/apps/selfhosted/windmill/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.11.6
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 1.6.17
  kubernetes/apps/selfhosted/windmill/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.57.3
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.7.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.62.0
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

fix(container): update image plexinc/pms-docker to v1.32.4.7195-7c8f9d3b6
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

fix(container): update image quay.io/minio/minio to release.2023-06-19t19-52-50z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.62.1
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.8.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image kube-prometheus-stack to v47
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image emqx/emqx to v5.1.0
  kubernetes/apps/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.19.0
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.544
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/git-sync/git-sync to v3.6.7
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 7.1.0
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

fix(helm): update chart node-problem-detector to 2.3.5
  kubernetes/apps/kube-tools/node-problem-detector/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/miniflux/miniflux to v2.0.45
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart intel-device-plugins-gpu to 0.27.1
  kubernetes/apps/kube-tools/intel-device-plugins/gpu/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
