Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

fix(container): update image louislam/uptime-kuma to v1.21.2
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart goldilocks to 6.5.2
  kubernetes/cluster/monitoring/goldilocks/helm-release.yaml
Labels: area/kubernetes

feat(helm): Update chart loki to 5.0.0
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.9.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart vpa to 1.7.1
  kubernetes/cluster/monitoring/vpa/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v35.7.11
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(helm): update chart descheduler to 0.26.1
  kubernetes/cluster/kube-tools/descheduler/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.52.7
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.3.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

ci(deps): update peter-evans/create-pull-request action to v5.0.0
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/ci

fix(helm): update chart reloader to v1.0.22
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.13.0
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

ci(deps): update peter-evans/create-or-update-comment action to v3.0.0
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

chore(deps): update budimanjojo/talhelper to v1.6.3
  .taskfiles/tools.yaml
Labels: none

fix(helm): update chart grafana to 6.52.8
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 45.9.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart prometheus-smartctl-exporter to 0.3.2
  kubernetes/cluster/monitoring/smartctl-exporter/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.11.3
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/analogj/scrutiny to v0.7.0
  docker/atlas/scrutiny/docker-compose.yaml
Labels: area/docker

feat(container): update image influxdb to v2.7.0
  kubernetes/cluster/databases/influxdb/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart actions-runner-controller to 0.23.1
  kubernetes/cluster/selfhosted/actions-runner-controller/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.5
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(container): update siderolabs/talos to v1.3.7
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

ci(deps): update tj-actions/changed-files action to v35.7.12
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

chore(deps): update budimanjojo/talhelper to v1.6.4
  .taskfiles/tools.yaml
Labels: none

fix(helm): update chart grafana to 6.52.9
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(container): update image quay.io/minio/minio to release.2023-04-07t05-28-58z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.13.1
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(helm): update cert-manager to v1.11.1
  kubernetes/cluster/cert-manager/helm-release.yaml
  kubernetes/cluster/cert-manager/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.21
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.17
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/analogj/scrutiny to v0.7.1
  docker/atlas/scrutiny/docker-compose.yaml
Labels: area/docker

feat(container): update image ghcr.io/home-assistant/home-assistant to v2023.4.2
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

feat(container): update image bitnami/redis-exporter to v1.50.0
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.7
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

feat(container): update image plexinc/pms-docker to v1.32.0.6918-6f393eda1
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

fix(container): update image timberio/vector to v0.28.2
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart vector to 0.20.2
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v35.8.0
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

ci(deps): update actions/checkout action to v3.5.1
  .github/workflows/helm-release-diff.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci
