Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

fix(container): update redis/redis
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.59.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): Update chart kube-prometheus-stack to 43.1.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.5.5
  .taskfiles/tools.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v34.60.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/sct/overseerr to v1.31.0
  kubernetes/cluster/media/overseerr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sabnzbd to v3.7.1
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.61.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/home-assistant/home-assistant to v2022.12.7
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.63.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.63.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.63.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update haproxytech/haproxy-alpine to v2.7.1
  infrastructure/ansible/roles/udmpro/files/scripts/10-onboot-haproxy.sh
  kubernetes/cluster/networking/haproxy/helm-release.yaml
Labels: area/ansible, area/kubernetes

ci(deps): update peter-evans/find-comment action to v2.2.0
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

fix(helm): update chart kyverno to 2.6.5
  kubernetes/cluster/kube-tools/kyverno/helm-release.yaml
  kubernetes/cluster/kube-tools/kyverno/kustomization.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.65.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart cilium to 1.12.5
  .taskfiles/kubernetes.yaml
  kubernetes/cluster/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.67.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/home-assistant/home-assistant to v2022.12.8
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.16.1
  kubernetes/cluster/databases/cloudnative-pg/helm-release.yaml
Labels: area/kubernetes

chore(deps): update kubernetes-sigs/node-feature-discovery to v0.12.0
  kubernetes/cluster/kube-tools/node-feature-discovery/kustomization.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.68.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update node-feature-discovery
  kubernetes/cluster/kube-tools/node-feature-discovery/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.10.8
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.70.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart goldilocks to 6.4.0
  kubernetes/cluster/monitoring/goldilocks/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.3.18
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.70.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update fluxcd/flux2 to v0.38.2
  kubernetes/flux/flux-system/gotk-components.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.70.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.6.2
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.3.6
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 43.1.4
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(container): update image louislam/uptime-kuma to v1.19.0
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 17.4.0
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update oxsecurity/megalinter action to v6.16.0
  .github/workflows/mega-linter.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.72.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.72.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.73.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.73.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci
