Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

feat(terraform): update terraform cloudflare to 4.17.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

fix(helm): update chart reloader to 1.0.44
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.2.0
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/siderolabs/kubelet to v1.28.3
  infrastructure/ansible/roles/k8s/defaults/main.yaml
  infrastructure/talos/talconfig.yaml
Labels: none

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.2.1
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.61.1
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image app-template to v2
  kubernetes/apps/downloads/bazarr/app/helm-release.yaml
  kubernetes/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/apps/downloads/recyclarr/app/helm-release.yaml
  kubernetes/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/wyoming-piper/app/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/media/bonob/app/helm-release.yaml
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/apps/media/navidrome/app/helm-release.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helm-release.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/typesense/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
  kubernetes/apps/selfhosted/nextcloud/redis/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image k8s-ycl to v1
  kubernetes/apps/kube-tools/k8s-ycl/app/helm-release.yaml
Labels: area/kubernetes

Update app-template version
  kubernetes/apps/downloads/bazarr/app/helm-release.yaml
  kubernetes/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/apps/downloads/recyclarr/app/helm-release.yaml
  kubernetes/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/frigate/app/config-pvc.yaml
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/apps/home-automation/frigate/app/kustomization.yaml
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/wyoming-piper/app/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/media/bonob/app/helm-release.yaml
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/apps/media/navidrome/app/helm-release.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helm-release.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/pvc.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/proxy/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/proxy/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/server/config/immich-config.json
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/typesense/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
  kubernetes/apps/selfhosted/nextcloud/redis/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
Labels: area/kubernetes

Update k8s-ycl to latest chart version
  kubernetes/apps/kube-tools/k8s-ycl/app/helm-release.yaml
Labels: area/kubernetes

Upgrade app-template
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes

Misc maintenance updates
  .github/renovate.json5
  .github/renovate/regexManagers.json5
  .github/workflows/flux-diff.yaml
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  kubernetes/apps/databases/postgres-backup/app/v16/sops.secrets.yaml
  kubernetes/apps/downloads/radarr/app/scripts/pushover-notify.sh
  kubernetes/apps/downloads/sonarr/app/scripts/pushover-notify.sh
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  scripts/backup-to-external-disk.sh
Labels: area/ci, area/kubernetes

WiP: Started looking at deploying Elements
  kubernetes/apps/selfhosted/elements/app/cluster/database.yaml
  kubernetes/apps/selfhosted/elements/app/cluster/element-cluster.yaml
  kubernetes/apps/selfhosted/elements/app/cluster/kustomization.yaml
  kubernetes/apps/selfhosted/elements/app/cluster/sops.secrets.yaml
  kubernetes/apps/selfhosted/elements/app/kustomization.yaml
  kubernetes/apps/selfhosted/elements/app/operator/helm-release.yaml
  kubernetes/apps/selfhosted/elements/app/operator/kustomization.yaml
  kubernetes/apps/selfhosted/elements/app/updater/helm-release.yaml
  kubernetes/apps/selfhosted/elements/app/updater/kustomization.yaml
  kubernetes/apps/selfhosted/elements/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/flux/repositories/helm/element-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Add new camera to frigate config
  kubernetes/apps/home-automation/frigate/app/config/config.yaml
  kubernetes/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.82.1
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/proxy/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.10.1
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image influxdb to v2.7.3
  kubernetes/apps/databases/influxdb/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.9.4
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/redis to v7.2.2
  kubernetes/apps/selfhosted/nextcloud/redis/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/thanos/thanos to v0.32.5
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.3
  infrastructure/talos/integrations/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.14.0
  .taskfiles/tools.yaml
Labels: none

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.2.2
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.12
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart cloudnative-pg to 0.19.0
  kubernetes/apps/databases/cloudnative-pg/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.6
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.46
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/kubernetes-kubectl to v1.28.3
  kubernetes/apps/kube-system/tainter/app/cronjob.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/cronjob.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.12.6
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v6.0.2
  kubernetes/apps/downloads/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart metallb to 0.13.12
  kubernetes/apps/networking/metallb/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.2.3
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to v4.18.0
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.10.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.10.5
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.14.3
  kubernetes/apps/kube-tools/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.10.3
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-10-24t04-42-36z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/ahinko/github-actions-runner to v2.311.0
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

fix(helm): update chart element-operator to 2.12.4
  kubernetes/apps/selfhosted/elements/app/operator/helm-release.yaml
Labels: area/kubernetes
