Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

feat(container): update image quay.io/minio/minio to release.2023-03-09t23-16-13z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.8.4
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

chore(deps): update fluxcd/flux2 to v0.41.1
  kubernetes/flux/flux-system/gotk-components.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.2.0
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.15
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v35.1.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update haproxytech/haproxy-alpine to v2.7.4
  infrastructure/ansible/roles/udmpro/files/scripts/10-onboot-haproxy.sh
  kubernetes/cluster/networking/haproxy/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.0.20
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.52.2
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 0.2.8
  kubernetes/cluster/kube-system/kubelet-csr-approver/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v35.2.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/sonarr to v3.0.10.1567
  kubernetes/cluster/media/sonarr-uhd/helm-release.yaml
  kubernetes/cluster/media/sonarr/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.52.3
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v36.0.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update tj-actions/changed-files action to v35.7.0
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(helm): update chart thanos to 12.2.1
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.3.4
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-03-13t19-46-17z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.16.1
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart redis to 17.8.5
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update peter-evans/create-pull-request action to v4.2.4
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/ci

ci(deps): update tj-actions/changed-files action to v35.7.1
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

ci(deps): update actions/checkout action to v3.4.0
  .github/workflows/helm-release-diff.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v36.0.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update budimanjojo/talhelper to v1.6.2
  .taskfiles/tools.yaml
Labels: none

fix(container): update image plexinc/pms-docker to v1.31.2.6810-a607d384f
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

fix(container): update siderolabs/talos to v1.3.6
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

feat(container): update image esphome/esphome to v2023.3.0
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.3.0
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.52.4
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.3.5
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to v4.11.0
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.13.1
  .taskfiles/kubernetes.yaml
  kubernetes/cluster/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v35.7.2
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

chore(deps): replace image k8s.gcr.io/autoscaling/vpa-recommender with registry.k8s.io/autoscaling/vpa-recommender 0.13.0
  kubernetes/cluster/monitoring/vpa/helm-release.yaml
Labels: area/kubernetes

chore(deps): replace image k8s.gcr.io/external-dns/external-dns with registry.k8s.io/external-dns/external-dns v0.13.2
  kubernetes/cluster/networking/external-dns/helm-release.yaml
  kubernetes/cluster/networking/external-dns/kustomization.yaml
Labels: area/kubernetes

chore(deps): replace image k8s.gcr.io/node-problem-detector/node-problem-detector with registry.k8s.io/node-problem-detector/node-problem-detector v0.8.12
  kubernetes/cluster/kube-tools/node-problem-detector/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform minio to 1.13.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

fix(container): update haproxytech/haproxy-alpine to v2.7.5
  infrastructure/ansible/roles/udmpro/files/scripts/10-onboot-haproxy.sh
  kubernetes/cluster/networking/haproxy/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.26.3
  kubernetes/cluster/kube-system/tainter/cronjob.yaml
  kubernetes/cluster/networking/cloudflare-ddns/cronjob.yaml
Labels: area/kubernetes

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
