Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

ci(deps): update allenporter/flux-local action to 2.1.0
  .github/workflows/flux-diff.yaml
Labels: area/ci

feat(helm): update chart vector to 0.23.0
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
Labels: area/kubernetes

ci(deps): update allenporter/flux-local action to 3.0.0
  .github/workflows/flux-diff.yaml
Labels: area/ci

ci(deps): update docker/setup-buildx-action action to v2.9.0
  .github/workflows/publish-schemas.yaml
Labels: area/ci

feat(container): update image ghcr.io/ahinko/github-actions-runner to v2.306.0
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.32.1
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/kubernetes-schemas to 164a5b0
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.33
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/home-automation/zwavejs/app/backup.yaml
  kubernetes/apps/media/bazarr/app/backup.yaml
  kubernetes/apps/media/lidarr/app/backup.yaml
  kubernetes/apps/media/radarr/app/backup.yaml
  kubernetes/apps/media/sabnzbd/app/backup.yaml
  kubernetes/apps/media/sonarr-requests/app/backup.yaml
  kubernetes/apps/media/sonarr/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.30
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.6.5
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/sabnzbd to v4.0.3
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/bazarr to v1.2.3
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/redis to v7.0.12
  kubernetes/apps/selfhosted/nextcloud/redis/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 1.6.35
  kubernetes/apps/selfhosted/windmill/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.58.2
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update fluxcd/flux2 to v2.0.1
  kubernetes/bootstrap/kustomization.yaml
Labels: area/kubernetes

ci(deps): update fluxcd/flux2 action to v2.0.1
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.559
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(terraform): update terraform minio to 1.15.3
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: area/terraform

feat(container): update image quay.io/minio/minio to release.2023-07-11t21-29-34z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.10.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

ci(deps): update renovatebot/github-action action to v38.1.13
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(terraform): update terraform kubernetes to 2.22.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: area/terraform

chore(deps): update image ghcr.io/ahinko/github-actions-runner to 677d3a2
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

ci(deps): update docker/setup-buildx-action action to v2.9.1
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.34
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/home-automation/zwavejs/app/backup.yaml
  kubernetes/apps/media/bazarr/app/backup.yaml
  kubernetes/apps/media/lidarr/app/backup.yaml
  kubernetes/apps/media/radarr/app/backup.yaml
  kubernetes/apps/media/sabnzbd/app/backup.yaml
  kubernetes/apps/media/sonarr-requests/app/backup.yaml
  kubernetes/apps/media/sonarr/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.31
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

fix(container): update image kyverno to v3.0.2
  kubernetes/apps/kube-tools/kyverno/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.11.8
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.19
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.20.0
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v47.6.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform minio to 1.16.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: area/terraform

ci(deps): update renovatebot/github-action action to v39.0.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): Update image kube-prometheus-stack to v48
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/kubernetes-schemas to ba27827
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v48.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.8.0
  .taskfiles/tools.yaml
Labels: none

fix(helm): update chart kubelet-csr-approver to 1.0.2
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/kubernetes
