Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(helm): update chart vector to 0.17.1
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.42.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart grafana to 6.44.11
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.44.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update haproxytech/haproxy-alpine to v2.7.0
  infrastructure/ansible/roles/udmpro/files/scripts/10-onboot-haproxy.sh
  kubernetes/cluster/networking/haproxy/helm-release.yaml
Labels: area/ansible, area/kubernetes

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.15.2
  .pre-commit-config.yaml
Labels: none

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.28.4
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.47.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart node-problem-detector to 2.3.2
  kubernetes/cluster/kube-tools/node-problem-detector/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.48.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update community.sops to 1.5.0
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.9
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.4
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.48.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart redis to 17.3.14
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.48.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart app-template to 1.2.0
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
  kubernetes/cluster/default/minio/helm-release.yaml
  kubernetes/cluster/home-automation/frigate/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
  kubernetes/cluster/kube-tools/intel-gpu-exporter/helm-release.yaml
  kubernetes/cluster/kube-tools/intel-gpu-plugin/helm-release.yaml
  kubernetes/cluster/media/lidarr/helm-release.yaml
  kubernetes/cluster/media/overseerr/helm-release.yaml
  kubernetes/cluster/media/radarr/helm-release.yaml
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
  kubernetes/cluster/media/sonarr-uhd/helm-release.yaml
  kubernetes/cluster/media/sonarr/helm-release.yaml
  kubernetes/cluster/monitoring/speedtest-exporter/helm-release.yaml
  kubernetes/cluster/selfhosted/radicale/helm-release.yaml
Labels: area/kubernetes

fix(container): update haproxytech/haproxy-alpine to v2.6.7
  infrastructure/ansible/roles/udmpro/files/scripts/10-onboot-haproxy.sh
  kubernetes/cluster/networking/haproxy/helm-release.yaml
Labels: area/ansible, area/kubernetes

fix(terraform): update terraform kubernetes to 2.16.1
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

ci(deps): update renovatebot/github-action action to v34.49.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update community.general to 6.1.0
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

ci(deps): update renovatebot/github-action action to v34.49.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart minecraft-bedrock to 2.0.1
  kubernetes/cluster/games/minecraft/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.50.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/coder/code-server to v4.9.0
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2-code/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart crowdsec to 0.8.0
  kubernetes/cluster/networking/crowdsec/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.10.7
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart external-dns to 1.12.0
  kubernetes/cluster/networking/external-dns/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v0.0.126
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.51.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart metrics-server to 3.8.3
  kubernetes/cluster/kube-system/metrics-server/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 3.6.1
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.25.5
  kubernetes/cluster/kube-system/tainter/cronjob.yaml
  kubernetes/cluster/networking/cloudflare-ddns/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/siderolabs/kubelet to v1.25.5
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-k8s.sh
Labels: none

fix(container): update image nextcloud to v25.0.2
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.52.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart kyverno to 2.6.4
  kubernetes/cluster/kube-tools/kyverno/helm-release.yaml
  kubernetes/cluster/kube-tools/kyverno/kustomization.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.53.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.6.0
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.54.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
