Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/docs, area/docker, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "docker/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

fix(renovate): add mastodon group
  .github/renovate/groups.json5
Labels: area/ci

fix(gh-workflows): revert update
  .github/workflows/docker-image-tester.yaml
  .github/workflows/flux-diff.yaml
Labels: area/ci

fix(image-tester): use buildx inspect
  .github/workflows/docker-image-tester.yaml
Labels: area/ci

feat(samba): move from docker to storage cluster
  backups/backup_to_external_disk.sh
  backups/deployment.yaml
  backups/kubectl-rsync
  docker/atlas/samba/docker-compose.yaml
  infrastructure/ansible/provision_metal.yaml
  infrastructure/ansible/roles/backup/tasks/main.yaml
  infrastructure/ansible/roles/docker/tasks/main.yml
  infrastructure/ansible/roles/homelab/tasks/main.yaml
  kubernetes/storage/apps/default/samba/app/configs/kustomization.yaml
  kubernetes/storage/apps/default/samba/app/configs/smb-conf.yaml
  kubernetes/storage/apps/default/samba/app/configs/user1.yaml
  kubernetes/storage/apps/default/samba/app/configs/user2.yaml
  kubernetes/storage/apps/default/samba/app/helm-release.yaml
  kubernetes/storage/apps/default/samba/app/kustomization.yaml
  kubernetes/storage/apps/default/samba/install.yaml
Labels: area/ansible, area/docker, area/kubernetes

fix(backup): fix issue when db backup sometimes failed
  kubernetes/main/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

feat(teslamate): deploy
  kubernetes/main/apps/databases/postgres-backup/app/v16/cronjob.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
  kubernetes/main/apps/home-automation/teslamate/app/database.yaml
  kubernetes/main/apps/home-automation/teslamate/app/external-secret.yaml
  kubernetes/main/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/teslamate/app/kustomization.yaml
  kubernetes/main/apps/home-automation/teslamate/install.yaml
Labels: area/kubernetes

feat(evcc): deploy, still WiP
  kubernetes/main/apps/home-automation/evcc/app/config/evcc.yaml
  kubernetes/main/apps/home-automation/evcc/app/helm-release.yaml
  kubernetes/main/apps/home-automation/evcc/app/kustomization.yaml
  kubernetes/main/apps/home-automation/evcc/install.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: area/kubernetes

fix(cilium): remove envoy
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
  kubernetes/storage/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

misc fixes
  .taskfiles/kubernetes/taskfile.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/main/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/main/apps/storage/openebs/app/helm-release.yaml
  kubernetes/main/apps/storage/spegel/app/values.yaml
  kubernetes/main/flux/vars/sops.cluster-secrets.yaml
  scripts/automatic-docker-updates.sh
  scripts/delete-stuck-namespace.sh
Labels: area/kubernetes

fix(radarr): update env variables
  kubernetes/main/apps/downloads/radarr/app/helm-release.yaml
Labels: area/kubernetes

fix(sabnzbd): update volume mounts
  kubernetes/main/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/main/apps/downloads/sabnzbd/install.yaml
Labels: area/kubernetes

fix(frigate): update config to work with 0.14
  kubernetes/main/apps/home-automation/frigate/app/config/config.yaml
  kubernetes/main/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/kubernetes

fix(home-assistant): merge with code
  kubernetes/main/apps/home-automation/home-assistant-code/app/helm-release.yaml
  kubernetes/main/apps/home-automation/home-assistant-code/app/kustomization.yaml
  kubernetes/main/apps/home-automation/home-assistant-code/install.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: area/kubernetes

fix(grafana): add teslamate dashboards
  kubernetes/main/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/main/apps/observability/grafana/app/external-secret.yaml
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(zigbee): enable watchdog
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

fix(evcc): update config, WIP
  kubernetes/main/apps/home-automation/evcc/app/config/evcc.yaml
Labels: area/kubernetes

feat(emqx): native init user
  kubernetes/main/apps/home-automation/emqx/app/external-secret.yaml
  kubernetes/main/apps/home-automation/emqx/app/kustomization.yaml
  kubernetes/main/apps/home-automation/emqx/cluster/cluster.yaml
  kubernetes/main/apps/home-automation/emqx/cluster/emqx-init-script-configmap.yaml
  kubernetes/main/apps/home-automation/emqx/cluster/kustomization.yaml
  kubernetes/main/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

fix: housekeeping
  backups/backup_to_external_disk.sh
  kubernetes/main/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/immich/app/nfs-pvc.yaml
Labels: area/kubernetes

feat(mailpit): deploy
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/apps/networking/mailpit/app/helm-release.yaml
  kubernetes/main/apps/networking/mailpit/app/kustomization.yaml
  kubernetes/main/apps/networking/mailpit/install.yaml
Labels: area/kubernetes

feat(bitwarden): deploy
  kubernetes/main/apps/databases/postgres-backup/app/v16/cronjob.yaml
  kubernetes/main/apps/selfhosted/bitwarden/app/database.yaml
  kubernetes/main/apps/selfhosted/bitwarden/app/external-secret.yaml
  kubernetes/main/apps/selfhosted/bitwarden/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/bitwarden/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/bitwarden/install.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix: move mqtt creds to external secret
  kubernetes/main/apps/home-automation/evcc/app/config/evcc.yaml
  kubernetes/main/apps/home-automation/evcc/app/external-secret.yaml
  kubernetes/main/apps/home-automation/evcc/app/helm-release.yaml
  kubernetes/main/apps/home-automation/evcc/app/kustomization.yaml
  kubernetes/main/apps/home-automation/frigate/app/config/config.yaml
  kubernetes/main/apps/home-automation/frigate/app/external-secret.yaml
  kubernetes/main/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/frigate/app/kustomization.yaml
  kubernetes/main/apps/home-automation/tcpsolis2mqtt/app/config/config.yaml
  kubernetes/main/apps/home-automation/tcpsolis2mqtt/app/external-secret.yaml
  kubernetes/main/apps/home-automation/tcpsolis2mqtt/app/helm-release.yaml
  kubernetes/main/apps/home-automation/tcpsolis2mqtt/app/kustomization.yaml
  kubernetes/main/apps/home-automation/teslamate/app/external-secret.yaml
  kubernetes/main/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/external-secret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/main/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

feat(evcc): add sponsor token
  kubernetes/main/apps/home-automation/evcc/app/config/evcc.yaml
  kubernetes/main/apps/home-automation/evcc/app/external-secret.yaml
Labels: area/kubernetes

fix: housekeeping
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v16/loadbalancer.yaml
  kubernetes/main/apps/dev/it-tools/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/mastodon/app/helm-release.yaml
Labels: area/kubernetes

Update allowedVersions.json5 with new minor version of Kubernetes.
  .github/renovate/allowedVersions.json5
Labels: area/ci

fix(talos): generate config before upgrading
  .taskfiles/talos/taskfile.yaml
Labels: none

fix(unifi-external-dns): change port
  kubernetes/storage/apps/networking/external-dns/unifi/helm-release.yaml
Labels: area/kubernetes

fix(storage): update local path
  kubernetes/main/apps/media/nfs-pvc.yaml
  kubernetes/main/apps/selfhosted/immich/app/nfs-pvc.yaml
  kubernetes/storage/apps/default/jellyfin/app/helm-release.yaml
  kubernetes/storage/apps/default/minio/app/helm-release.yaml
  kubernetes/storage/apps/default/samba/app/helm-release.yaml
Labels: area/kubernetes

fix(spegel): remove for now
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/spegel/app/helm-release.yaml
  kubernetes/main/apps/storage/spegel/app/kustomization.yaml
  kubernetes/main/apps/storage/spegel/app/kustomizeconfig.yaml
  kubernetes/main/apps/storage/spegel/app/values.yaml
  kubernetes/main/apps/storage/spegel/install.yaml
Labels: area/kubernetes

fix(unifi-external-dns): change port
  kubernetes/main/apps/networking/external-dns/unifi/helm-release.yaml
Labels: area/kubernetes

fix(kps): update settings
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(external-secrets): specify image repos
  kubernetes/main/apps/security/external-secrets/app/helm-release.yaml
Labels: area/kubernetes

fix(cilium): remove deprecated values/settings
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix(frigate): remove config config-map
  kubernetes/main/apps/home-automation/frigate/app/config/config.yaml
  kubernetes/main/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/frigate/app/kustomization.yaml
Labels: area/kubernetes

feat(znapzend): deploy
  kubernetes/storage/apps/default/znapzend/app/external-secret.yaml
  kubernetes/storage/apps/default/znapzend/app/helm-release.yaml
  kubernetes/storage/apps/default/znapzend/app/kustomization.yaml
  kubernetes/storage/apps/default/znapzend/install.yaml
Labels: area/kubernetes

fix: remove unused secret
  kubernetes/main/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

fix(nfs): update path
  kubernetes/main/apps/downloads/nfs-pvc.yaml
Labels: area/kubernetes

fix(ansible): remove znapzend role
  infrastructure/ansible/provision_metal.yaml
  infrastructure/ansible/roles/znapzend/tasks/main.yaml
Labels: area/ansible

fix(talos): clean up config
  infrastructure/talos/talconfig.yaml
Labels: none

feat(spegel): re-deploy
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/spegel/app/helm-release.yaml
  kubernetes/main/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/main/apps/kube-system/spegel/app/kustomizeconfig.yaml
  kubernetes/main/apps/kube-system/spegel/app/values.yaml
  kubernetes/main/apps/kube-system/spegel/install.yaml
Labels: area/kubernetes

fix(nginx): rename certificates to fix workflow issue, remove cloudflare ips
  .github/workflows/publish-cloudflare-networks.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/certificates/homelab.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/certificates/kustomization.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/certificates/social.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/cloudflare-ip-ranges.txt
  kubernetes/main/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/ci, area/kubernetes
