Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/cluster, area/docs, area/docker, area/terraform

Initial metal cluster kustomizations + yaml
  kubernetes/metal/base/charts.yaml
  kubernetes/metal/base/config.yaml
  kubernetes/metal/base/core.yaml
  kubernetes/metal/base/crds.yaml
  kubernetes/metal/base/flux-system/gotk-components.yaml
  kubernetes/metal/base/flux-system/gotk-patches.yaml
  kubernetes/metal/base/flux-system/gotk-sync.yaml
  kubernetes/metal/base/flux-system/kustomization.yaml
  kubernetes/metal/charts/cilium-charts.yaml
  kubernetes/metal/charts/kubernetes-sigs-node-feature-discovery-charts.yaml
  kubernetes/metal/charts/kustomization.yaml
  kubernetes/metal/config/cluster-settings.yaml
  kubernetes/metal/config/kustomization.yaml
  kubernetes/metal/config/namespaces/kube-system.yaml
  kubernetes/metal/config/namespaces/kustomization.yaml
  kubernetes/metal/config/sops.cluster-secrets.yaml
  kubernetes/metal/core/kube-system/cilium/helm-release.yaml
  kubernetes/metal/core/kube-system/cilium/kustomization.yaml
  kubernetes/metal/core/kube-system/kustomization.yaml
  kubernetes/metal/core/kube-system/node-feature-discovery/helm-release.yaml
  kubernetes/metal/core/kube-system/node-feature-discovery/kustomization.yaml
  kubernetes/metal/core/kustomization.yaml
  kubernetes/metal/crds/kustomization.yaml
  kubernetes/metal/crds/node-feature-discovery/crds.yaml
  kubernetes/metal/crds/node-feature-discovery/kustomization.yaml
Labels: none

Add ansible roles and playbook for pikvm
  .taskfiles/tools.yaml
  ansible/kvm/.envrc
  ansible/kvm/ansible.cfg
  ansible/kvm/inventory/hosts.yaml
  ansible/kvm/playbooks/provision.yaml
  ansible/kvm/roles/pikvm.os/defaults/main.yaml
  ansible/kvm/roles/pikvm.os/handlers/main.yaml
  ansible/kvm/roles/pikvm.os/tasks/main.yaml
  ansible/kvm/roles/pikvm.os/templates/override.yaml.j2
  ansible/kvm/roles/pikvm.os/templates/tc358743-edid.hex.j2
  ansible/kvm/roles/pikvm.os/vars/main.yaml
  ansible/requirements.yaml
Labels: area/ansible

Terraform + cloudflare
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/api_keys.tf
  terraform/cloudflare/dns_records.tf
  terraform/cloudflare/firewall_rules.tf
  terraform/cloudflare/main.tf
  terraform/cloudflare/sops.secrets.yaml
  terraform/cloudflare/zone_settings.tf
Labels: area/terraform

Use correct repo name
  .github/renovate.json5
  kubernetes/management/base/flux-system/gotk-sync.yaml
  kubernetes/metal/base/flux-system/gotk-sync.yaml
  scripts/provision-sidero.sh
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.50.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

Add Github workflows
  .github/scripts/container-parser.sh
  .github/scripts/helm-release-differ.sh
  .github/scripts/lib/functions.sh
  .github/workflows/helm-release-differ.yaml
  .github/workflows/linting.yaml
  .github/workflows/scan-containers.yaml
Labels: area/ci

Documentation updates
  .taskfiles/sidero.yaml
  .taskfiles/tools.yaml
  docs/management-cluster.md
Labels: area/docs

Fixes to sidero provision script
  scripts/provision-sidero.sh
Labels: none

ci(deps): update aquasecurity/trivy-action action to v0.3.0
  .github/workflows/scan-containers.yaml
Labels: area/ci

Update readme
  README.md
Labels: none

Updated readme
  README.md
Labels: none

Update task files
  .taskfiles/flux.yaml
  .taskfiles/sidero.yaml
  Taskfile.yml
Labels: none

Minor updates to configs
  kubernetes/management/config/cluster-settings.yaml
  kubernetes/management/sidero-system/clusters/metal.yaml
  kubernetes/management/sidero-system/environments/default.yaml
  kubernetes/management/sidero-system/serverclasses/controlplane.yaml
  kubernetes/management/sidero-system/servers/helios.yaml
Labels: none

Updates to Sidero provision script
  docs/management-cluster.md
  scripts/provision-sidero.sh
Labels: area/docs

Remove config
  kubernetes/management/sidero-system/serverclasses/controlplane.yaml
Labels: none

Update config
  kubernetes/management/sidero-system/serverclasses/controlplane.yaml
  kubernetes/management/sidero-system/serverclasses/node.yaml
Labels: none

fix(container): update siderolabs/talos to v1.0.5
  .taskfiles/sidero.yaml
  kubernetes/management/sidero-system/clusters/metal.yaml
  kubernetes/management/sidero-system/environments/default.yaml
Labels: none

Persist config between boot to hopefully fix network issues
  kubernetes/management/sidero-system/serverclasses/controlplane.yaml
  kubernetes/management/sidero-system/serverclasses/node.yaml
Labels: none

Simplify config
  kubernetes/management/sidero-system/serverclasses/controlplane.yaml
  kubernetes/management/sidero-system/serverclasses/node.yaml
Labels: none

add dependency
  kubernetes/management/base/sidero-system.yaml
Labels: none

More testing
  kubernetes/management/apps/kube-system/dhcpd/dhcpd-config.yaml
  kubernetes/management/config/cluster-settings.yaml
  kubernetes/management/sidero-system/servers/helios.yaml
Labels: none

Downgrade k8s
  kubernetes/management/sidero-system/serverclasses/controlplane.yaml
  kubernetes/management/sidero-system/serverclasses/node.yaml
Labels: none

Update ip
  kubernetes/management/integrations/cilium-quick-install/quick-install.yaml
  kubernetes/management/integrations/cilium-quick-install/values.yaml
Labels: none

Add VIP to helios
  kubernetes/management/sidero-system/servers/helios.yaml
Labels: none

feat(container): update kubernetes to v1.24.0
  kubernetes/management/sidero-system/serverclasses/controlplane.yaml
  kubernetes/management/sidero-system/serverclasses/node.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v32.52.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

.github/labeler.yml:

---

area/ansible:
  - "ansible/**/*"
area/ci:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "terraform/**/*"
