Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

Deploy radicale
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/namespace.yaml
  kubernetes/apps/selfhosted/radicale/config-pvc.yaml
  kubernetes/apps/selfhosted/radicale/config/config.cfg
  kubernetes/apps/selfhosted/radicale/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/kustomization.yaml
  kubernetes/apps/selfhosted/radicale/sops.secrets.yaml
Labels: area/kubernetes

Fixes for k8s 1.25
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/networking/crowdsec/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/helm-release.yaml
  kubernetes/core/kube-system/tainter/cronjob.yaml
  kubernetes/core/kubelet-serving-cert-approver/deployment.yaml
  kubernetes/core/networking/metallb/helm-release.yaml
  kubernetes/core/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.195.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart minio to 11.10.2
  kubernetes/apps/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2022.9.4
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.1.5
  kubernetes/apps/databases/redis/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart crowdsec to 0.6.0
  kubernetes/apps/networking/crowdsec/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.12.2
  .taskfiles/kubernetes.yaml
  kubernetes/core/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart app-template to 0.2.1
  kubernetes/apps/apps/uptime-kuma/helm-release.yaml
  kubernetes/apps/home-automation/frigate/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
  kubernetes/apps/media/lidarr/helm-release.yaml
  kubernetes/apps/media/overseerr/helm-release.yaml
  kubernetes/apps/media/radarr/helm-release.yaml
  kubernetes/apps/media/sabnzbd/helm-release.yaml
  kubernetes/apps/media/sonarr-uhd/helm-release.yaml
  kubernetes/apps/media/sonarr/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/helm-release.yaml
  kubernetes/core/kube-system/intel-gpu-plugin/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.195.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update budimanjojo/talhelper to v1.4.1
  .taskfiles/tools.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.25.1
  kubernetes/apps/networking/cloudflare-ddns/cronjob.yaml
  kubernetes/core/kube-system/tainter/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/siderolabs/kubelet to v1.25.1
  infrastructure/kubernetes/talconfig.yaml
  infrastructure/kubernetes/upgrade-k8s.sh
Labels: none

feat(helm): update chart descheduler to 0.25.0
  kubernetes/apps/kube-system/descheduler/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.1.6
  kubernetes/apps/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart node-problem-detector to 2.2.6
  kubernetes/apps/kube-system/node-problem-detector/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.196.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.197.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.197.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.1.4
  kubernetes/apps/games/minecraft/backup.yaml
  kubernetes/apps/kube-system/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2022.9.5
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.198.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/sct/overseerr to v1.30.0
  kubernetes/apps/media/overseerr/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwavejs2mqtt to v7.2.0
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.4.2
  .taskfiles/tools.yaml
Labels: none

fix(helm): update chart reloader to v0.0.119
  kubernetes/apps/kube-system/reloader/helm-release.yaml
Labels: area/kubernetes

ci(deps): update oxsecurity/megalinter action to v6.10.0
  .github/workflows/mega-linter.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.199.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update siderolabs/talos to v1.2.3
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/kubernetes/talconfig.yaml
  infrastructure/kubernetes/upgrade-talos.sh
Labels: none

fix(helm): update chart minio to 11.10.3
  kubernetes/apps/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.1.7
  kubernetes/apps/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update peter-evans/create-pull-request action to v4.1.2
  .github/workflows/schedule-cloudflare-ip-ranges-updates.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.201.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(terraform): update terraform cloudflare to 3.24.0
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

chore(deps): update budimanjojo/talhelper to v1.4.4
  .taskfiles/tools.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v32.201.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.25.2
  kubernetes/apps/networking/cloudflare-ddns/cronjob.yaml
  kubernetes/core/kube-system/tainter/cronjob.yaml
Labels: area/kubernetes

fix(container): update redis/redis
  kubernetes/apps/databases/redis/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.13.0
  .pre-commit-config.yaml
Labels: none

fix(container): update image ghcr.io/home-assistant/home-assistant to v2022.9.6
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes
