Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(helm): update chart goldilocks to 6.5.1
  kubernetes/cluster/monitoring/goldilocks/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart vpa to 1.6.1
  kubernetes/cluster/monitoring/vpa/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.4.7
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.10.11
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.130.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image quay.io/minio/minio to release.2023-02-10t18-48-39z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

feat(helm): Update chart kube-prometheus-stack to 45.0.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.131.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update budimanjojo/talhelper to v1.6.0
  .taskfiles/tools.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v34.132.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/cloudnative-pg/postgresql to v15.2
  kubernetes/cluster/databases/cloudnative-pg/clusters/postgres-cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.15
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.11
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.132.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image emqx/emqx to v5.0.17
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 4.6.1
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

feat(container): update image louislam/uptime-kuma to v1.20.0
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.2.4
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

Fix bug in Github workflow where version was not parsed
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
Labels: area/ci

Remove Kyverno ingress policy
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
  kubernetes/cluster/databases/influxdb/helm-release.yaml
  kubernetes/cluster/default/minio/helm-release.yaml
  kubernetes/cluster/flux-system/webhook/github/ingress.yaml
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
  kubernetes/cluster/home-automation/frigate/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
  kubernetes/cluster/kube-system/cilium/helm-release.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/kustomization.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/update-ingress-annotations.yaml
  kubernetes/cluster/media/lidarr/helm-release.yaml
  kubernetes/cluster/media/radarr/helm-release.yaml
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
  kubernetes/cluster/media/sonarr-uhd/helm-release.yaml
  kubernetes/cluster/media/sonarr/helm-release.yaml
  kubernetes/cluster/monitoring/goldilocks/helm-release.yaml
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
  kubernetes/cluster/monitoring/loki/helm-release.yaml
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
  kubernetes/cluster/networking/external-dns/helm-release.yaml
  kubernetes/cluster/networking/external-services/plex.yaml
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/selfhosted/actions-runner-controller/helm-release.yaml
  kubernetes/cluster/selfhosted/radicale/helm-release.yaml
Labels: area/kubernetes

Update prometheus rules and grafana dashboards
  kubernetes/cluster/databases/cloudnative-pg/clusters/kustomization.yaml
  kubernetes/cluster/databases/cloudnative-pg/clusters/prometheus-rule.yaml
  kubernetes/cluster/default/minio/dashboard/kustomization.yaml
  kubernetes/cluster/default/minio/kustomization.yaml
  kubernetes/cluster/flux-system/addons/kustomization.yaml
  kubernetes/cluster/flux-system/addons/monitoring/kustomization.yaml
  kubernetes/cluster/flux-system/addons/monitoring/podmonitor.yaml
  kubernetes/cluster/flux-system/addons/monitoring/prometheusrule.yaml
  kubernetes/cluster/flux-system/kustomization.yaml
  kubernetes/cluster/kube-tools/kyverno/kustomization.yaml
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
  kubernetes/cluster/monitoring/thanos/dashboard/kustomization.yaml
  kubernetes/cluster/monitoring/thanos/kustomization.yaml
  kubernetes/cluster/networking/ingress-nginx/dashboard/kustomization.yaml
  kubernetes/cluster/networking/ingress-nginx/kustomization.yaml
  kubernetes/cluster/rook-ceph/dashboard/ceph-cluster-dashboard.json
  kubernetes/cluster/rook-ceph/dashboard/ceph-osd-dashboard.json
  kubernetes/cluster/rook-ceph/dashboard/ceph-pools-dashboard.json
  kubernetes/cluster/rook-ceph/dashboard/kustomization.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
Labels: area/kubernetes

Fix Loki config
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v35.5.3
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(helm): update chart thanos to 12.0.5
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

feat(container): update image plexinc/pms-docker to v1.31.0.6654-02189b09f
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

feat(helm): update chart ingress-nginx to 4.5.0
  kubernetes/cluster/networking/ingress-nginx/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.136.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart cilium to 1.12.7
  .taskfiles/kubernetes.yaml
  kubernetes/cluster/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 45.0.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.1.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(container): update haproxytech/haproxy-alpine to v2.7.3
  infrastructure/ansible/roles/udmpro/files/scripts/10-onboot-haproxy.sh
  kubernetes/cluster/networking/haproxy/helm-release.yaml
Labels: area/ansible, area/kubernetes

fix(container): update image louislam/uptime-kuma to v1.20.1
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.5.2
  kubernetes/cluster/networking/ingress-nginx/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.138.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart emqx-operator to 2.1.1
  kubernetes/cluster/home-automation/emqx/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart haproxy to 1.18.0
  kubernetes/cluster/networking/haproxy/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform kubernetes to 2.18.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: area/terraform

feat(helm): update chart cilium to 1.13.0
  .taskfiles/kubernetes.yaml
  kubernetes/cluster/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart cloudnative-pg to 0.17.0
  kubernetes/cluster/databases/cloudnative-pg/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v35.5.4
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
