Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

Do not schedule Home Assistant on specific node
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

Update Terraform dependencies
  infrastructure/terraform/minio/.terraform.lock.hcl
Labels: area/terraform

ci(deps): update renovatebot/github-action action to v34.122.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.2.2
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart app-template to 1.3.1
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
  kubernetes/cluster/default/minio/helm-release.yaml
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
  kubernetes/cluster/home-automation/frigate/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
  kubernetes/cluster/media/lidarr/helm-release.yaml
  kubernetes/cluster/media/radarr/helm-release.yaml
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
  kubernetes/cluster/media/sonarr-uhd/helm-release.yaml
  kubernetes/cluster/media/sonarr/helm-release.yaml
  kubernetes/cluster/monitoring/speedtest-exporter/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/cluster/selfhosted/radicale/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.124.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.124.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/sabnzbd to v3.7.2
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.124.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart haproxy to 1.17.6
  kubernetes/cluster/networking/haproxy/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.1
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart goldilocks to 6.4.2
  kubernetes/cluster/monitoring/goldilocks/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-gpu to 0.26.0
  kubernetes/cluster/kube-tools/intel-device-plugins/gpu/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-operator to 0.26.0
  kubernetes/cluster/kube-tools/intel-device-plugins/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v35.5.1
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(helm): update chart external-dns to 1.12.1
  kubernetes/cluster/networking/external-dns/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.7.2
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.4
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 4.5.0
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.125.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.8.4
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart node-problem-detector to 2.3.3
  kubernetes/cluster/kube-tools/node-problem-detector/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart goldilocks to 6.5.0
  kubernetes/cluster/monitoring/goldilocks/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.2.3
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 4.5.1
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.5
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 3.34.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

ci(deps): update renovatebot/github-action action to v34.128.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart kube-prometheus-stack to 44.4.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 4.6.0
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.128.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart thanos to 12.0.4
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.8.5
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.7.3
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.128.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update tj-actions/changed-files action to v35.5.2
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

ci(deps): update tj-actions/changed-files action to v35.5.2
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(container): update siderolabs/talos to v1.3.4
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

chore(deps): update budimanjojo/talhelper to v1.5.9
  .taskfiles/tools.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v34.128.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci
