Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

feat(helm): update chart kube-prometheus-stack to 45.5.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.154.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart grafana to 6.51.3
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.2
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-assistant/home-assistant to v2023.3.1
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

feat(container): update image bitnami/redis-exporter to v1.48.0
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.1.2
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.17
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.13
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.51.5
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.11
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.10.1
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.3
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.157.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.157.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart metrics-server to 3.8.4
  kubernetes/cluster/kube-system/metrics-server/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.6.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(container): update image timberio/vector to v0.28.1
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.12
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart vector to 0.20.1
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr to v3.0.10.1566
  kubernetes/cluster/media/sonarr-uhd/helm-release.yaml
  kubernetes/cluster/media/sonarr/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.52.1
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 0.2.7
  kubernetes/cluster/kube-system/kubelet-csr-approver/helm-release.yaml
Labels: area/kubernetes

ci(deps): update actions/labeler action to v4.0.3
  .github/workflows/meta-labeler.yaml
Labels: area/ci

fix(helm): update chart redis to 17.8.3
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.158.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.158.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update rook-ceph-suite to v1.11.1
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.1.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

feat(helm): update chart kube-prometheus-stack to 45.7.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v35.6.2
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.159.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image plexinc/pms-docker to v1.31.1.6782-77dfff442
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

ci(deps): update tj-actions/changed-files action to v35.6.3
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.159.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update tj-actions/changed-files action to v35.6.4
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

ci(deps): update tj-actions/changed-files action to v35.6.4
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.3.3
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 2.7.1
  kubernetes/cluster/kube-tools/kyverno/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.10.1
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes
