Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(cnpg): dont use deprecated maintenance mode
  .taskfiles/talos/taskfile.yaml
Labels: none

feat(talos): replace sops and use 1password for secrets
  .taskfiles/talos/taskfile.yaml
  infrastructure/talos/op.env
  infrastructure/talos/talsecret.yaml
Labels: none

fix: misc clean up
  .gitignore
  .sourceignore
Labels: none

fix(sops): remove last traces of sops and age
  .gitattributes
  .github/linters/.prettierignore
  .github/linters/.yamllint.yaml
  .gitignore
  .sourceignore
  .taskfiles/tools/resources/Brewfile
  .vscode/extensions.json
  .vscode/settings.json
  infrastructure/ansible/ansible.cfg
  infrastructure/ansible/inventory/group_vars/metal/users.yaml
  infrastructure/ansible/inventory/host_vars/kronos/kronos.sops.yaml
  infrastructure/ansible/requirements.yaml
Labels: area/ci

fix(ci): dont flux diff repositories
  .github/workflows/docker-image-tester.yaml
  .github/workflows/flux-diff.yaml
Labels: area/ci

feat(flux-operator): deploy
  .taskfiles/flux/taskfile.yaml
  kubernetes/main/apps/flux-system/add-ons/install.yaml
  kubernetes/main/apps/flux-system/add-ons/monitoring/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/monitoring/podmonitor.yaml
  kubernetes/main/apps/flux-system/add-ons/monitoring/prometheusrule.yaml
  kubernetes/main/apps/flux-system/operator/app/helm-release.yaml
  kubernetes/main/apps/flux-system/operator/app/kustomization.yaml
  kubernetes/main/apps/flux-system/operator/install.yaml
  kubernetes/main/bootstrap/flux/kustomization.yaml
  kubernetes/main/bootstrap/helmfile.yaml
  kubernetes/repositories/helm/controlplaneio-charts.yaml
  kubernetes/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat(flux-op): deploy instance
  .taskfiles/flux/taskfile.yaml
  kubernetes/main/flux/config/flux.yaml
  kubernetes/main/flux/instance/cluster.yaml
  kubernetes/main/flux/instance/instance.yaml
  kubernetes/main/flux/instance/kustomization.yaml
Labels: area/kubernetes

fix(talos): add note to self on how to upgrade s01
  .taskfiles/talos/taskfile.yaml
Labels: none

fix(sonarr): fix environment variable name
  kubernetes/main/apps/downloads/sonarr/app/external-secret.yaml
Labels: area/kubernetes

fix: cleanups
  kubernetes/main/apps/selfhosted/gramps/app/helm-release.yaml
  kubernetes/main/flux/instance/cluster.yaml
Labels: area/kubernetes

feat(maybe): deploy
  kubernetes/main/apps/databases/postgres-backup/app/v16/cronjob.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/selfhosted/maybe/app/database.yaml
  kubernetes/main/apps/selfhosted/maybe/app/external-secret.yaml
  kubernetes/main/apps/selfhosted/maybe/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/maybe/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/maybe/install.yaml
Labels: area/kubernetes

fix(hass): add token and url to instance in code server
  kubernetes/main/apps/home-automation/home-assistant/app/external-secret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
Labels: area/kubernetes

fix(helmfile): flux-operator helm chart version
  kubernetes/main/bootstrap/helmfile.yaml
Labels: area/kubernetes

fix(helmfile): flux-operator helm chart version (#3799)
  kubernetes/main/bootstrap/helmfile.yaml
Labels: area/kubernetes

feat(homepage): deploy. Apparently I need a dashboard so that I can keep track of what I have running in the cluster
  kubernetes/main/apps/dev/it-tools/app/helm-release.yaml
  kubernetes/main/apps/downloads/bazarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/deemix/app/helm-release.yaml
  kubernetes/main/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/main/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/main/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/main/apps/home-automation/emqx/cluster/ingress.yaml
  kubernetes/main/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/main/apps/home-automation/evcc/app/helm-release.yaml
  kubernetes/main/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/main/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/main/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/main/apps/media/navidrome/app/helm-release.yaml
  kubernetes/main/apps/networking/mailpit/app/helm-release.yaml
  kubernetes/main/apps/observability/alertmanager/app/helm-release.yaml
  kubernetes/main/apps/observability/gatus/app/helm-release.yaml
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/gramps/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/homepage/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/homepage/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/homepage/install.yaml
  kubernetes/main/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/main/apps/selfhosted/kitchenowl/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/selfhosted/mastodon/app/ingress.yaml
  kubernetes/main/apps/selfhosted/maybe/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/ocis/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/radicale/app/helm-release.yaml
  kubernetes/main/apps/storage/minio/app/helm-release.yaml
  kubernetes/repositories/helm/jameswynn-charts.yaml
  kubernetes/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat(etcd): deploy automatic backup
  kubernetes/main/apps/kube-system/etcd-backup/app/external-secret.yaml
  kubernetes/main/apps/kube-system/etcd-backup/app/helm-release.yaml
  kubernetes/main/apps/kube-system/etcd-backup/app/kustomization.yaml
  kubernetes/main/apps/kube-system/etcd-backup/app/service-account.yaml
  kubernetes/main/apps/kube-system/etcd-backup/install.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

fix(immich): deploy valkey instance. Immich isn't compatible with dragonfly
  kubernetes/main/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/main/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/immich/app/valkey/helm-release.yaml
  kubernetes/main/apps/selfhosted/immich/app/valkey/kustomization.yaml
Labels: area/kubernetes

fix: remove unused chart repos
  kubernetes/repositories/helm/angelnu-charts.yaml
  kubernetes/repositories/helm/haproxy-charts.yaml
  kubernetes/repositories/helm/kustomization.yaml
  kubernetes/repositories/helm/stevehipwell-charts.yaml
Labels: area/kubernetes

feat(gdp): deploy generic device plugin
  kubernetes/main/apps/kube-system/generic-device-plugin/app/config/config.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/app/helm-release.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/app/kustomization.yaml
  kubernetes/main/apps/kube-system/generic-device-plugin/install.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

feat(qbittorrent): deploy
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/config/dnsdist.conf
  kubernetes/main/apps/downloads/qbittorrent/app/external-secret.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/main/apps/downloads/qbittorrent/install.yaml
Labels: area/kubernetes

fix: misc
  .taskfiles/talos/taskfile.yaml
  docs/snippets.md
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/kube-system/fstrim/app/helm-release.yaml
Labels: area/kubernetes, area/docs

feat(task): "deploy buoy" task
  .taskfiles/kubernetes/resources/buoy-pod.tmpl.yaml
  .taskfiles/kubernetes/taskfile.yaml
Labels: none

fix(zfs-scrub): do actual scrub instead of just a status check
  kubernetes/main/apps/storage/zfs-scrub/app/cronjob.yaml
Labels: area/kubernetes

fix(rook): prepare for cluster rebuild some day
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

feat(plex): welcome back... for now
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/media/plex/app/helm-release.yaml
  kubernetes/main/apps/media/plex/app/kustomization.yaml
  kubernetes/main/apps/media/plex/app/pvc-cache.yaml
  kubernetes/main/apps/media/plex/install.yaml
Labels: area/kubernetes

fix(renovate): update path for moved task
  .github/renovate/regexManagers.json5
Labels: area/ci

fix(task): misc updates
  .taskfiles/flux/taskfile.yaml
  .taskfiles/talos/taskfile.yaml
Labels: none

fix(backup): fix broken backup script
  backups/backup_to_external_disk.sh
  backups/deployment.yaml
Labels: none

fix(descheduler): update config
  kubernetes/main/apps/kube-system/descheduler/app/helm-release.yaml
Labels: area/kubernetes

fix(authentik): sunset, remove, bye bye
  kubernetes/main/apps/databases/postgres-backup/app/v16/cronjob.yaml
  kubernetes/main/apps/security/authentik/app/database.yaml
  kubernetes/main/apps/security/authentik/app/external-secret.yaml
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
  kubernetes/main/apps/security/authentik/app/kustomization.yaml
  kubernetes/main/apps/security/authentik/install.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/repositories/helm/authentik-charts.yaml
  kubernetes/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat(searxng): deploy
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/selfhosted/searxng/app/external-secret.yaml
  kubernetes/main/apps/selfhosted/searxng/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/searxng/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/searxng/app/resources/limiter.toml
  kubernetes/main/apps/selfhosted/searxng/app/resources/settings.yml
  kubernetes/main/apps/selfhosted/searxng/install.yaml
Labels: area/kubernetes

fix(homepage): fix typos
  kubernetes/main/apps/selfhosted/kitchenowl/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/ocis/app/helm-release.yaml
Labels: area/kubernetes

feat(maloja): deploy
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/media/maloja/app/external-secret.yaml
  kubernetes/main/apps/media/maloja/app/helm-release.yaml
  kubernetes/main/apps/media/maloja/app/kustomization.yaml
  kubernetes/main/apps/media/maloja/install.yaml
Labels: area/kubernetes

feat(multi-scrobbler): deploy
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/media/multiscrobbler/app/external-secret.yaml
  kubernetes/main/apps/media/multiscrobbler/app/helm-release.yaml
  kubernetes/main/apps/media/multiscrobbler/app/kustomization.yaml
  kubernetes/main/apps/media/multiscrobbler/install.yaml
Labels: area/kubernetes

fix(cert-manager): add prometheus rules
  kubernetes/main/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheus-rules.yaml
Labels: area/kubernetes

fix(hass): add python path to fix issue when installing some hacs integrations
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(multiscrobbler): scrobble more
  kubernetes/main/apps/media/multiscrobbler/app/external-secret.yaml
  kubernetes/main/apps/media/multiscrobbler/app/helm-release.yaml
  kubernetes/main/apps/media/navidrome/app/helm-release.yaml
Labels: area/kubernetes

feat(cluster): more replicas
  kubernetes/main/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/helm-release.yaml
  kubernetes/main/apps/dev/actions-runner-controller/operator/helm-release.yaml
  kubernetes/main/apps/home-automation/emqx/app/helm-release.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/values.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/app/helm-release.yaml
  kubernetes/main/apps/kube-system/reloader/app/helm-release.yaml
  kubernetes/main/apps/security/external-secrets/app/helm-release.yaml
  kubernetes/main/apps/security/external-secrets/stores/onepassword/helm-release.yaml
  kubernetes/main/apps/storage/snapshot-controller/app/helm-release.yaml
  kubernetes/main/apps/storage/volsync/app/helm-release.yaml
Labels: area/kubernetes

fix(grafana): update cert manager dash board
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(smartctl): update config
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/helm-release.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/prometheus-rules.yaml
Labels: area/kubernetes

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
