Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

fix(helm): update chart cilium to 1.12.3
  .taskfiles/kubernetes.yaml
  kubernetes/cluster/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart metallb to 0.13.7
  kubernetes/cluster/networking/metallb/helm-release.yaml
  kubernetes/cluster/networking/metallb/kustomization.yaml
Labels: area/kubernetes

feat(helm): update cert-manager to v1.10.0
  kubernetes/cluster/cert-manager/helm-release.yaml
  kubernetes/cluster/cert-manager/kustomization.yaml
Labels: area/kubernetes

ci(deps): update endbug/label-sync action to v2.3.1
  .github/workflows/meta-sync-labels.yaml
Labels: area/ci

fix(helm): update chart descheduler to 0.25.2
  kubernetes/cluster/kube-tools/descheduler/helm-release.yaml
Labels: area/kubernetes

ci(deps): update peter-evans/create-pull-request action to v4.2.0
  .github/workflows/schedule-cloudflare-ip-ranges-updates.yaml
Labels: area/ci

ci(deps): update peter-evans/find-comment action to v2.0.1
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.240.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image docker.io/intel/intel-gpu-plugin to v0.25.0
  kubernetes/cluster/kube-tools/intel-gpu-plugin/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.240.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(terraform): update terraform cloudflare to 3.26.0
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

ci(deps): update renovatebot/github-action action to v32.240.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart kube-prometheus-stack to 41.5.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(container): update image xperimental/nextcloud-exporter to v0.6.0
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image nextcloud to v25
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(container): update image plexinc/pms-docker to v1.29.1.6316-f4cdfea9c
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

fix(container): update image ghcr.io/home-assistant/home-assistant to v2022.10.5
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.10.4
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.241.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image k8s.gcr.io/external-dns/external-dns to v0.13.1
  kubernetes/cluster/networking/external-dns/helm-release.yaml
  kubernetes/cluster/networking/external-dns/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 3.2.2
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.3.7
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.241.7
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.241.8
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image quay.io/minio/minio to release.2022-10-21t22-37-48z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.42.5
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.241.9
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.241.10
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.241.11
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.1.8
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v33.0.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): Update image postgres to v15
  docker/atlas/postgres/docker-compose.yaml
Labels: area/docker

ci(deps): update oxsecurity/megalinter action to v6.13.0
  .github/workflows/mega-linter.yaml
Labels: area/ci

ci(deps): update peter-evans/create-or-update-comment action to v2.1.0
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v33.1.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart botkube to v0.15.0
  kubernetes/cluster/monitoring/botkube/helm-release.yaml
Labels: area/kubernetes

chore(deps): update fluxcd/flux2 to v0.36.0
  kubernetes/flux/flux-system/gotk-components.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.43.0
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v33.2.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart node-problem-detector to 2.3.0
  kubernetes/cluster/kube-tools/node-problem-detector/helm-release.yaml
Labels: area/kubernetes
