Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

Update allowedVersions.json5 with new VChord version.
  .renovate/allowedVersions.json5
Labels: none

fix: update backup script
  backups/backup.sh
  backups/backup_jobs.yaml
  backups/backup_to_external_disk.sh
  backups/kubectl-rsync
Labels: none

feat: add postgis
  kubernetes/apps/databases/postgres18/app/cluster.yaml
Labels: area/kubernetes

fix: update cilium config
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

fix: update talos just commands
  kubernetes/talos/mod.just
Labels: area/kubernetes

Revert "fix(helm): update chart ghcr.io/home-operations/charts-mirror/headlam…"
  kubernetes/apps/observability/headlamp/app/oci-repository.yaml
Labels: area/kubernetes

Revert "fix(helm): update chart ghcr.io/home-operations/charts-mirror/headlam…" (#6059)
  kubernetes/apps/observability/headlamp/app/oci-repository.yaml
Labels: area/kubernetes

fix: misc maintenance
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .gitignore
  kubernetes/apps/downloads/recyclarr/app/config/recyclarr.yml
  kubernetes/apps/downloads/recyclarr/app/helm-release.yaml
  kubernetes/apps/kube-system/k8tz/app/oci-repository.yaml
  kubernetes/apps/renovate/renovate-operator/jobs/ahinko.yaml
  kubernetes/apps/selfhosted/atuin/app/helm-release.yaml
  kubernetes/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/components/volsync/restic/replicationdestination.yaml
  kubernetes/components/volsync/restic/replicationsource.yaml
Labels: area/ci, area/kubernetes

fix: prevent low disk space
  kubernetes/talos/machineconfig.yaml.j2
Labels: area/kubernetes

fix: flux config updates
  kubernetes/apps/flux-system/flux-instance/app/helm-release.yaml
  kubernetes/flux/cluster/install.yaml
Labels: area/kubernetes

feat: replace ollama with llama-cpp+swap
  kubernetes/apps/ai/kustomization.yaml
  kubernetes/apps/ai/llama-swap/app/configmaps.yaml
  kubernetes/apps/ai/llama-swap/app/helm-release.yaml
  kubernetes/apps/ai/llama-swap/app/kustomization.yaml
  kubernetes/apps/ai/llama-swap/app/oci-repository.yaml
  kubernetes/apps/ai/llama-swap/app/pvc.yaml
  kubernetes/apps/ai/llama-swap/app/resource-claim.yaml
  kubernetes/apps/ai/llama-swap/install.yaml
  kubernetes/apps/ai/ollama/app/configmaps.yaml
  kubernetes/apps/ai/ollama/app/helm-release.yaml
  kubernetes/apps/ai/open-webui/app/helm-release.yaml
Labels: area/kubernetes

feat: sunset mastodon + related stuff
  .renovate/groups.json5
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production.yaml
  kubernetes/apps/networking/certificates/app/kustomization.yaml
  kubernetes/apps/networking/certificates/app/social.yaml
  kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/networking/cloudflared/app/external-secret.yaml
  kubernetes/apps/networking/cloudflared/app/grafana-dashboard.yaml
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/oci-repository.yaml
  kubernetes/apps/networking/cloudflared/install.yaml
  kubernetes/apps/networking/envoy-gateway/app/envoy.yaml
  kubernetes/apps/networking/external-dns/unifi/helm-release.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/mastodon-fakerelay/app/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon-fakerelay/app/kustomization.yaml
  kubernetes/apps/selfhosted/mastodon-fakerelay/app/oci-repository.yaml
  kubernetes/apps/selfhosted/mastodon-fakerelay/install.yaml
  kubernetes/apps/selfhosted/mastodon-getmoarfediverse/app/cronjob.yaml
  kubernetes/apps/selfhosted/mastodon-getmoarfediverse/app/external-secret.yaml
  kubernetes/apps/selfhosted/mastodon-getmoarfediverse/app/kustomization.yaml
  kubernetes/apps/selfhosted/mastodon-getmoarfediverse/install.yaml
  kubernetes/apps/selfhosted/mastodon/README.md
  kubernetes/apps/selfhosted/mastodon/app/database.yaml
  kubernetes/apps/selfhosted/mastodon/app/external-secret.yaml
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon/app/kustomization.yaml
  kubernetes/apps/selfhosted/mastodon/app/oci-repository.yaml
  kubernetes/apps/selfhosted/mastodon/app/pvc.yaml
  kubernetes/apps/selfhosted/mastodon/install.yaml
Labels: area/kubernetes

feat: sunset homepage
  kubernetes/apps/selfhosted/homepage/app/configuration.yaml
  kubernetes/apps/selfhosted/homepage/app/helm-release.yaml
  kubernetes/apps/selfhosted/homepage/app/kustomization.yaml
  kubernetes/apps/selfhosted/homepage/app/oci-repository.yaml
  kubernetes/apps/selfhosted/homepage/app/rbac.yaml
  kubernetes/apps/selfhosted/homepage/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat: deploy forgejo
  Brewfile
  kubernetes/apps/development/forgejo-runner/app/external-secret.yaml
  kubernetes/apps/development/forgejo-runner/app/helm-release.yaml
  kubernetes/apps/development/forgejo-runner/app/kustomization.yaml
  kubernetes/apps/development/forgejo-runner/app/oci-repository.yaml
  kubernetes/apps/development/forgejo-runner/install.yaml
  kubernetes/apps/development/forgejo/app/database.yaml
  kubernetes/apps/development/forgejo/app/external-secret.yaml
  kubernetes/apps/development/forgejo/app/helm-release.yaml
  kubernetes/apps/development/forgejo/app/kustomization.yaml
  kubernetes/apps/development/forgejo/app/oci-repository.yaml
  kubernetes/apps/development/forgejo/install.yaml
  kubernetes/apps/development/kustomization.yaml
Labels: area/kubernetes

feat: sunset kokoro
  kubernetes/apps/ai/kokoro/app/helm-release.yaml
  kubernetes/apps/ai/kokoro/app/kustomization.yaml
  kubernetes/apps/ai/kokoro/app/oci-repository.yaml
  kubernetes/apps/ai/kokoro/install.yaml
  kubernetes/apps/ai/kustomization.yaml
Labels: area/kubernetes

feat: move renovate to development namespace
  kubernetes/apps/development/kustomization.yaml
  kubernetes/apps/development/renovate/app/helm-release.yaml
  kubernetes/apps/development/renovate/app/httproute.yaml
  kubernetes/apps/development/renovate/app/kustomization.yaml
  kubernetes/apps/development/renovate/app/oci-repository.yaml
  kubernetes/apps/development/renovate/install.yaml
  kubernetes/apps/development/renovate/jobs/external-secret.yaml
  kubernetes/apps/development/renovate/jobs/forgejo.yaml
  kubernetes/apps/development/renovate/jobs/github.yaml
  kubernetes/apps/development/renovate/jobs/kustomization.yaml
  kubernetes/apps/renovate/kustomization.yaml
Labels: area/kubernetes

feat: deploy aliasvault
  .renovate/groups.json5
  kubernetes/apps/security/aliasvault/app/database.yaml
  kubernetes/apps/security/aliasvault/app/external-secret.yaml
  kubernetes/apps/security/aliasvault/app/helm-release.yaml
  kubernetes/apps/security/aliasvault/app/kustomization.yaml
  kubernetes/apps/security/aliasvault/app/oci-repository.yaml
  kubernetes/apps/security/aliasvault/install.yaml
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

feat: deploy dashboard
  kubernetes/apps/ai/open-webui/app/helm-release.yaml
  kubernetes/apps/downloads/bazarr/app/helm-release.yaml
  kubernetes/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/evcc/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/apps/media/maloja/app/helm-release.yaml
  kubernetes/apps/media/multiscrobbler/app/helm-release.yaml
  kubernetes/apps/media/navidrome/app/helm-release.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/observability/alertmanager/app/helm-release.yaml
  kubernetes/apps/observability/gatus/app/helm-release.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/headlamp/app/httproute.yaml
  kubernetes/apps/security/pocket-id/app/helm-release.yaml
  kubernetes/apps/selfhosted/curator/app/external-secret.yaml
  kubernetes/apps/selfhosted/dashboard/app/helm-release.yaml
  kubernetes/apps/selfhosted/dashboard/app/kustomization.yaml
  kubernetes/apps/selfhosted/dashboard/app/oci-repository.yaml
  kubernetes/apps/selfhosted/dashboard/app/rbac.yaml
  kubernetes/apps/selfhosted/dashboard/install.yaml
  kubernetes/apps/selfhosted/gramps/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/helm-release.yaml
  kubernetes/apps/selfhosted/karakeep/app/helm-release.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/opencloud/app/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy curator
  kubernetes/apps/selfhosted/curator/app/helm-release.yaml
  kubernetes/apps/selfhosted/curator/app/kustomization.yaml
  kubernetes/apps/selfhosted/curator/app/oci-repository.yaml
  kubernetes/apps/selfhosted/curator/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat: deploy adguard home
  adguard/AdGuardHome.yaml
  kubernetes/apps/networking/adguard-home/app/helm-release.yaml
  kubernetes/apps/networking/adguard-home/app/kustomization.yaml
  kubernetes/apps/networking/adguard-home/app/oci-repository.yaml
  kubernetes/apps/networking/adguard-home/install.yaml
  kubernetes/apps/networking/adguard-home/secret/external-secret.yaml
  kubernetes/apps/networking/adguard-home/secret/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes

fix: misc maintenance
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .renovate/grafanadashboards.json5
  .renovaterc.json5
  kubernetes/mod.just
Labels: area/ci, area/kubernetes

fix: dragonfly pod monitoring
  kubernetes/apps/databases/dragonfly/app/helm-release.yaml
  kubernetes/apps/databases/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/databases/dragonfly/cluster/networkpolicy.yaml
  kubernetes/apps/databases/dragonfly/cluster/podmonitor.yaml
Labels: area/kubernetes

fix: change model in llama-swap
  kubernetes/apps/ai/llama-swap/app/configmaps.yaml
  kubernetes/apps/ai/llama-swap/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy doco-cd + ansible fixes
  ansible/ansible.cfg
  ansible/inventory/group_vars/rpi/ansible.yml
  ansible/inventory/group_vars/rpi/apt.yaml
  ansible/inventory/group_vars/rpi/docker.yaml
  ansible/inventory/group_vars/rpi/fish_users.yaml
  ansible/inventory/group_vars/rpi/sshkeys.yaml
  ansible/inventory/group_vars/rpi/sudoers.yaml
  ansible/inventory/group_vars/rpi/users.yaml
  ansible/inventory/hosts.yaml
  ansible/provision_rpi.yaml
  ansible/roles/docker/defaults/main.yaml
  ansible/roles/docker/tasks/main.yaml
  ansible/roles/fish/tasks/install.yaml
  ansible/roles/fish/templates/starship.toml.j2
  ansible/roles/hostname/tasks/main.yaml
  ansible/roles/pikvm_os/tasks/main.yaml
  docker/rpi01/.doco-cd.yaml
  docker/rpi01/.doco-cd/docker-compose.app.yaml
Labels: area/docker

feat: deploy adguard home on rpi
  docker/rpi01/.doco-cd.yaml
  docker/rpi01/adguard-home/compose.yaml
Labels: area/docker

feat: deploy adguard lens
  kubernetes/apps/observability/adguard-lens/app/database.yaml
  kubernetes/apps/observability/adguard-lens/app/external-secret.yaml
  kubernetes/apps/observability/adguard-lens/app/helm-release.yaml
  kubernetes/apps/observability/adguard-lens/app/kustomization.yaml
  kubernetes/apps/observability/adguard-lens/app/oci-repository.yaml
  kubernetes/apps/observability/adguard-lens/install.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix: update databases to backup
  kubernetes/apps/databases/postgres18/backup-rest/helm-release.yaml
Labels: area/kubernetes

feat: add usb watchdog to rpi running zwave stick
  ansible/provision_iot.yaml
  ansible/roles/udev/tasks/main.yaml
  ansible/roles/usb-watchdog/handlers/main.yaml
  ansible/roles/usb-watchdog/tasks/main.yaml
  ansible/roles/usb-watchdog/templates/usb-watchdog.sh.j2
  ansible/roles/wmbusmeters/tasks/main.yaml
Labels: none

feat(1pw-connect): Use upstream OCI chart
  .justfile
  kubernetes/apps/actions-runner-system/actions-runner-controller/install.yaml
  kubernetes/apps/databases/ext-postgres-operator/install.yaml
  kubernetes/apps/databases/postgres18/install.yaml
  kubernetes/apps/development/forgejo/install.yaml
  kubernetes/apps/downloads/lidarr/install.yaml
  kubernetes/apps/downloads/qbittorrent/install.yaml
  kubernetes/apps/downloads/qui/install.yaml
  kubernetes/apps/downloads/radarr/install.yaml
  kubernetes/apps/downloads/sabnzbd/install.yaml
  kubernetes/apps/downloads/slskd/install.yaml
  kubernetes/apps/downloads/sonarr/install.yaml
  kubernetes/apps/networking/adguard-home/install.yaml
  kubernetes/apps/observability/adguard-lens/install.yaml
  kubernetes/apps/observability/alertmanager/install.yaml
  kubernetes/apps/security/aliasvault/install.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/onepassword-connect/app/clustersecretstore.yaml
  kubernetes/apps/security/onepassword-connect/app/helm-release.yaml
  kubernetes/apps/security/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/security/onepassword-connect/app/oci-repository.yaml
  kubernetes/apps/security/onepassword-connect/install.yaml
  kubernetes/apps/security/onepassword/app/helm-release.yaml
  kubernetes/apps/security/onepassword/install.yaml
  kubernetes/apps/security/onepassword/store/kustomization.yaml
  kubernetes/apps/selfhosted/immich/install.yaml
  kubernetes/apps/selfhosted/karakeep/install.yaml
  kubernetes/apps/selfhosted/miniflux/install.yaml
  kubernetes/apps/selfhosted/opencloud/install.yaml
  kubernetes/apps/selfhosted/radicale/install.yaml
  kubernetes/apps/social/element/install.yaml
  kubernetes/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/bootstrap/mod.just
  kubernetes/bootstrap/resources.env
  kubernetes/bootstrap/resources.yaml.j2
Labels: area/kubernetes

fix(brew): update deps
  Brewfile
Labels: none

fix: better zwave probes
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

fix: misc fixes for forgejo and renovate
  kubernetes/apps/development/forgejo-runner/app/helm-release.yaml
  kubernetes/apps/development/forgejo/app/helm-release.yaml
  kubernetes/apps/development/renovate/app/oci-repository.yaml
  kubernetes/apps/development/renovate/jobs/forgejo.yaml
  kubernetes/apps/development/renovate/jobs/github.yaml
Labels: area/kubernetes

fix(mosquitto): add persistent storage
  kubernetes/apps/databases/mosquitto/app/helm-release.yaml
  kubernetes/apps/databases/mosquitto/install.yaml
Labels: area/kubernetes

fix typo
  docker/rpi01/.doco-cd/docker-compose.app.yaml
Labels: area/docker

fix(forgejo): update session time
  kubernetes/apps/development/forgejo/app/helm-release.yaml
Labels: area/kubernetes

feat(es): add prometheus rule
  kubernetes/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/apps/security/external-secrets/app/prometheus-rule.yaml
Labels: area/kubernetes

Update allowedVersions.json5 with new minor version of Kubernetes.
  .renovate/allowedVersions.json5
Labels: none
