Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

feat(container): update immich group to v1.85.0
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/proxy/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart emqx-operator to 2.2.4
  kubernetes/apps/home-automation/emqx/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-11-06t22-26-08z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.51
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image registry.k8s.io/external-dns/external-dns to v0.14.0
  kubernetes/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart element-operator to 2.12.6
  kubernetes/apps/selfhosted/elements/app/operator/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart element-updater to 2.12.6
  kubernetes/apps/selfhosted/elements/app/updater/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.56
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v2.0.11
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

fix(helm): update chart weave-gitops to 4.0.34
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook adrienverge/yamllint to v1.33.0
  .pre-commit-config.yaml
Labels: none

fix(container): update image thanos to v12.14.2
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image redis to v18.3.0
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update siderolabs/talos to v1.5.5
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/common.sh
  infrastructure/talos/talconfig.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.717
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.3.2
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.3.2
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.15.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.11.2
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.sops to 1.6.7
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

chore(deps): update community.general to 7.5.1
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

chore(deps): update community.general to 8.0.1
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.720
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-11-11t08-14-41z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr to v5.1.3.8246
  kubernetes/apps/downloads/radarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.57
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v2.0.12
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

feat(container): update image app-template to v2.2.0
  kubernetes/apps/downloads/bazarr/app/helm-release.yaml
  kubernetes/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/apps/downloads/recyclarr/app/helm-release.yaml
  kubernetes/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/wyoming-piper/app/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/media/bonob/app/helm-release.yaml
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/apps/media/navidrome/app/helm-release.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helm-release.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/proxy/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/typesense/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
  kubernetes/apps/selfhosted/nextcloud/redis/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image kube-prometheus-stack to v53
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/miniflux/miniflux to v2.0.50
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image louislam/uptime-kuma to v1.23.4
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart nextcloud to 4.5.0
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 8.0.2
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

fix(helm): update chart cilium to 1.14.4
  infrastructure/talos/integrations/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.86.0
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/proxy/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image kube-prometheus-stack to v54
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.3.1
  kubernetes/apps/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.3.3
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/github-actions-runner to 77a9790
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/esphome/esphome to v2023.11.0
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes
