Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/docs, area/docker, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "docker/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

fix(renovate): update config
  .github/renovate/commitMessage.json5
  .github/renovate/regexManagers.json5
  .github/renovate/versioning.json5
Labels: area/ci

fix(arc): move secret
  kubernetes/apps/actions-runner-system/actions-runner-controller/operator/external-secret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/operator/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/external-secret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/homelab.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
Labels: area/kubernetes

fix(rook): move config
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

fix(nginx): update block agents
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

fix(flux): update webhook
  kubernetes/apps/flux-system/operator/instance/webhook/receiver.yaml
Labels: area/kubernetes

fix(renovate): update config
  .github/renovate.json5
  .github/renovate/regexManagers.json5
  .github/renovate/semanticCommits.json5
Labels: area/ci

fix(bootstrap): add extra manifests to talos config
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/prometheus-operator/app/helm-release.yaml
  kubernetes/apps/observability/prometheus-operator/app/kustomization.yaml
  kubernetes/apps/observability/prometheus-operator/install.yaml
  kubernetes/bootstrap/helmfile.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
  kubernetes/flux/meta/repositories/oci/prometheus-operator-crds.yaml
Labels: area/kubernetes

fix(node-exporter): we are using oci repo for this now
  kubernetes/apps/observability/node-exporter/app/helm-release.yaml
Labels: area/kubernetes

fix(rook): use ghcr
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

fix(homepage): spring cleaning
  kubernetes/apps/selfhosted/homepage/app/helm-release.yaml
  kubernetes/apps/selfhosted/homepage/app/kustomization.yaml
  kubernetes/apps/selfhosted/homepage/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix(repo): more spring cleaning and fix
  kubernetes/apps/networking/external-dns/unifi/helm-release.yaml
  kubernetes/apps/selfhosted/birdnet/install.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/it-tools/app/helm-release.yaml
Labels: area/kubernetes

fix(talos): update config
  infrastructure/talos/talconfig.yaml
Labels: none

fix(cilium): update annotation
  kubernetes/apps/kube-system/cilium/config/kube-api.yaml
Labels: area/kubernetes

fix(etcd-backup): enable and update CP IP
  kubernetes/apps/kube-system/etcd-backup/app/helm-release.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

fix(cloudflared): use secret for tunnel id
  kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/networking/cloudflared/app/external-secret.yaml
  kubernetes/apps/networking/cloudflared/install.yaml
Labels: area/kubernetes

feat(grafana): oidc with pocket id
  kubernetes/apps/observability/grafana/app/external-secret.yaml
  kubernetes/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(renovate): update config
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
Labels: area/ci

fix(renovate): update groups
  .github/renovate/groups.json5
Labels: area/ci

fix(vscode): update settings
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

feat: switch to home-operation images
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/homelab.yaml
  kubernetes/apps/downloads/bazarr/app/helm-release.yaml
  kubernetes/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

fix(external-dns): use gateway name instead of label
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/social.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/apps/networking/external-dns/unifi/helm-release.yaml
Labels: area/kubernetes

fix: circumvent Dockerhub's rate limiting by using own docker images
  kubernetes/apps/databases/influxdb/app/helm-release.yaml
  kubernetes/apps/games/minecraft/app/helm-release.yaml
  kubernetes/apps/home-automation/evcc/app/helm-release.yaml
  kubernetes/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/apps/media/maloja/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/helm-release.yaml
  kubernetes/apps/selfhosted/ocis/app/helm-release.yaml
  kubernetes/apps/storage/znapzend/app/helm-release.yaml
Labels: area/kubernetes

fix: pin github action versions
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix: update renovate config
  .github/renovate.json5
  .github/renovate/commitMessage.json5
  .github/renovate/disabledDatasources.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  .github/workflows/schedule-renovate.yaml
  .renovate/allowedVersions.json5
  .renovate/autoMerge.json5
  .renovate/grafanadashboards.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/regexManagers.json5
  .renovate/semanticCommits.json5
  .renovate/versioning.json5
  .renovaterc.json5
Labels: area/ci

fix: move to own docker images
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/kube-system/etcd-backup/app/helm-release.yaml
  kubernetes/apps/observability/grafana/app/helm-release.yaml
  kubernetes/apps/security/onepassword/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/valkey/helm-release.yaml
  kubernetes/apps/system/intel-device-plugins/app/helm-release.yaml
  kubernetes/apps/system/intel-device-plugins/gpu/helm-release.yaml
Labels: area/kubernetes

fix(mastodon): disable search
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
Labels: area/kubernetes

fix: update renovate config
  .renovaterc.json5
Labels: none

fix: remove old ansible vars
  infrastructure/ansible/inventory/host_vars/carkey/apt.yaml
  infrastructure/ansible/inventory/host_vars/carkey/docker.yaml
  infrastructure/ansible/inventory/host_vars/carkey/homelab.yaml
Labels: area/ansible

fix renovate config
  .github/workflows/renovate.yaml
  .renovaterc.json5
Labels: area/ci

ci(github-action): update action actions/create-github-app-token ( v1.11.6 → v1.11.7 ) (#4468)
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
  .github/workflows/scan-supported-k8s-version.yaml
Labels: area/ci

fix(renovate): update config
  .github/workflows/renovate.yaml
  .renovaterc.json5
Labels: area/ci

fix: update workflow
  .github/workflows/flux-local.yaml
Labels: area/ci

fix: update zfs snippet
  docs/zfs.md
Labels: area/docs

fix(minecraft): switch to oci
  kubernetes/apps/games/minecraft/app/helm-release.yaml
  kubernetes/flux/meta/repositories/helm/itzg-minecraft-server-charts.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/oci/itzg-minecraft-server.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
Labels: area/kubernetes

fix: update hostPath
  kubernetes/apps/games/romm/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/storage/minio/app/helm-release.yaml
  kubernetes/apps/storage/samba/app/helm-release.yaml
  kubernetes/apps/storage/znapzend/app/helm-release.yaml
Labels: area/kubernetes

fix: update hostname
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

fix(etcd-backup): remove annotations and affinity
  kubernetes/apps/kube-system/etcd-backup/app/helm-release.yaml
Labels: area/kubernetes

fix(jellyfin): pause
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/apps/media/jellyfin/install.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

feat: add prometheus rules
  kubernetes/apps/networking/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/networking/external-dns/cloudflare/prometheus-rule.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrules/dockerhub.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
Labels: area/kubernetes

fix: update smartctl-exporter config
  kubernetes/apps/observability/smartctl-exporter/app/helm-release.yaml
  kubernetes/apps/observability/smartctl-exporter/app/prometheus-rules.yaml
Labels: area/kubernetes
