Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

changes
  kubernetes/management/integrations/cni/quick-install.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.99.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update dependency ghcr.io/analogj/scrutiny to v0.4.14
  docker/atlas/scrutiny/docker-compose.yaml
Labels: area/docker

ci(deps): update renovatebot/github-action action to v32.99.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.99.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update pre-commit hook antonbabenko/pre-commit-terraform to v1.73.0
  .pre-commit-config.yaml
Labels: none

ci(deps): update azure/setup-helm action to v3
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.8.9
  .pre-commit-config.yaml
Labels: none

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.8.10
  .pre-commit-config.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v32.99.6
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.8.11
  .pre-commit-config.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v32.99.8
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.99.9
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(terraform): update terraform cloudflare to v3.18.0
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

chore(deps): update dependency fluxcd/flux2 to v0.31.3
  kubernetes/management/base/flux-system/gotk-components.yaml
  kubernetes/metal/base/flux-system/gotk-components.yaml
Labels: area/kubernetes

fix(container): update dependency ghcr.io/ahinko/simple-k8s-backup to v3.0.5
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/postgres.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

ci(deps): update aquasecurity/trivy-action action to v0.5.1
  .github/workflows/scan-containers.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.100.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(terraform): update terraform kubernetes to v2.12.0
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

ci(deps): update renovatebot/github-action action to v32.100.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.102.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.103.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.103.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.103.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.105.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.3.0
  .pre-commit-config.yaml
Labels: none

fix(container): update dependency plexinc/pms-docker to 1.27.2.5929-a806c5905
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

ci(deps): update renovatebot/github-action action to v32.105.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.105.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(terraform): update terraform kubernetes to v2.12.1
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

ci(deps): update renovatebot/github-action action to v32.105.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update dependency ghcr.io/analogj/scrutiny to v0.4.15
  docker/atlas/scrutiny/docker-compose.yaml
Labels: area/docker

chore(deps): update pre-commit hook adrienverge/yamllint to v1.27.1
  .pre-commit-config.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v32.107.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.108.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.109.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.8.12
  .pre-commit-config.yaml
Labels: none

ci(deps): update megalinter/megalinter action to v6
  .github/workflows/linting.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.110.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update dependency community.general to v5.3.0
  infrastructure/requirements.yaml
Labels: none

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
