Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(cilium): remove deprecated values/settings
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix(frigate): remove config config-map
  kubernetes/main/apps/home-automation/frigate/app/config/config.yaml
  kubernetes/main/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/main/apps/home-automation/frigate/app/kustomization.yaml
Labels: area/kubernetes

feat(znapzend): deploy
  kubernetes/storage/apps/default/znapzend/app/external-secret.yaml
  kubernetes/storage/apps/default/znapzend/app/helm-release.yaml
  kubernetes/storage/apps/default/znapzend/app/kustomization.yaml
  kubernetes/storage/apps/default/znapzend/install.yaml
Labels: area/kubernetes

fix: remove unused secret
  kubernetes/main/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

fix(nfs): update path
  kubernetes/main/apps/downloads/nfs-pvc.yaml
Labels: area/kubernetes

fix(ansible): remove znapzend role
  infrastructure/ansible/provision_metal.yaml
  infrastructure/ansible/roles/znapzend/tasks/main.yaml
Labels: none

fix(talos): clean up config
  infrastructure/talos/talconfig.yaml
Labels: none

feat(spegel): re-deploy
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/spegel/app/helm-release.yaml
  kubernetes/main/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/main/apps/kube-system/spegel/app/kustomizeconfig.yaml
  kubernetes/main/apps/kube-system/spegel/app/values.yaml
  kubernetes/main/apps/kube-system/spegel/install.yaml
Labels: area/kubernetes

fix(nginx): rename certificates to fix workflow issue, remove cloudflare ips
  .github/workflows/publish-cloudflare-networks.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/certificates/homelab.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/certificates/kustomization.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/certificates/social.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/cloudflare-ip-ranges.txt
  kubernetes/main/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/ci, area/kubernetes

fix(docker): update a few docker images
  kubernetes/main/apps/dev/actions-runner-controller/runners/homelab.yaml
  kubernetes/main/tools/rook/wipe-job.yaml
Labels: area/kubernetes

fix: typos
  kubernetes/main/apps/kube-system/tainter/app/cronjob.yaml
Labels: area/kubernetes

fix(fstrim): move to alpine image
  kubernetes/main/apps/kube-system/fstrim/app/helm-release.yaml
Labels: area/kubernetes

fix(talos): turn of discovery service
  infrastructure/talos/talconfig.yaml
Labels: none

fix(github): update workflows
  .github/workflows/docker-image-tester.yaml
  .github/workflows/flux-diff.yaml
Labels: area/ci

fix(renovate): group grafana dashboards
  .github/renovate/grafanadashboards.json5
Labels: area/ci

fix(renovate): update config
  .github/renovate/allowedVersions.json5
Labels: area/ci

fix(tasks): remove unused tasks
  .taskfiles/maintenance/taskfile.yaml
  Taskfile.yml
Labels: none

fix(cert-manager): update config
  kubernetes/main/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

fix(cilium): update LB annotations
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v16/loadbalancer.yaml
  kubernetes/main/apps/games/minecraft/app/helm-release.yaml
  kubernetes/main/apps/home-automation/emqx/cluster/cluster.yaml
  kubernetes/main/apps/home-automation/evcc/app/helm-release.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/main/apps/storage/samba/app/helm-release.yaml
Labels: area/kubernetes

fix(images): change to new docker images
  backups/deployment.yaml
  kubernetes/main/apps/kube-system/tainter/app/cronjob.yaml
  kubernetes/main/apps/networking/cloudflare-ddns/app/cronjob.yaml
  kubernetes/main/apps/selfhosted/radicale/app/helm-release.yaml
Labels: area/kubernetes

fix(misc): update configs
  kubernetes/main/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/mastodon/app/helm-release.yaml
Labels: area/kubernetes

fix(task): cleanup and maintenance
  .taskfiles/bootstrap/taskfile.yaml
  .taskfiles/flux/taskfile.yaml
  .taskfiles/talos/taskfile.yaml
  .taskfiles/tools/taskfile.yaml
  infrastructure/ansible/inventory/group_vars/metal/hostname.yaml
  infrastructure/ansible/inventory/hosts.yaml
Labels: none

feat(dragonfly): replace valkey
  kubernetes/main/apps/databases/dragonfly/app/helm-release.yaml
  kubernetes/main/apps/databases/dragonfly/app/kustomization.yaml
  kubernetes/main/apps/databases/dragonfly/app/rbac.yaml
  kubernetes/main/apps/databases/dragonfly/cluster/dragonfly-cluster.yaml
  kubernetes/main/apps/databases/dragonfly/cluster/kustomization.yaml
  kubernetes/main/apps/databases/dragonfly/install.yaml
  kubernetes/main/apps/databases/kustomization.yaml
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
  kubernetes/main/apps/security/authentik/install.yaml
  kubernetes/main/apps/security/authentik/valkey/helm-release.yaml
  kubernetes/main/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/main/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/immich/app/valkey/helm-release.yaml
  kubernetes/main/apps/selfhosted/immich/app/valkey/kustomization.yaml
  kubernetes/main/apps/selfhosted/immich/install.yaml
  kubernetes/main/apps/selfhosted/mastodon/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/mastodon/install.yaml
  kubernetes/main/apps/selfhosted/mastodon/valkey/helm-release.yaml
  kubernetes/main/apps/selfhosted/mastodon/valkey/kustomization.yaml
Labels: area/kubernetes

fix(misc): updates and maintenance
  .gitattributes
  .taskfiles/kubernetes/taskfile.yaml
  Taskfile.yml
  infrastructure/talos/talconfig.yaml
  kubernetes/main/apps/games/minecraft/app/helm-release.yaml
  kubernetes/main/bootstrap/kustomization.yaml
  kubernetes/main/flux/config/flux.yaml
Labels: area/kubernetes

feat(zfs): deploy scrub cron
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/zfs-scrub/app/cronjob.yaml
  kubernetes/main/apps/storage/zfs-scrub/app/kustomization.yaml
  kubernetes/main/apps/storage/zfs-scrub/install.yaml
Labels: area/kubernetes

fix(terraform): remove
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/account.tf
  infrastructure/terraform/cloudflare/cloudflare_secrets.sops.yaml
  infrastructure/terraform/cloudflare/domain_extra1.tf
  infrastructure/terraform/cloudflare/domain_family.tf
  infrastructure/terraform/cloudflare/domain_homelab.tf
  infrastructure/terraform/cloudflare/domain_social.tf
  infrastructure/terraform/cloudflare/locals.tf
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/modules/cf_domain/dns.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/main.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/outputs.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/variables.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/waf.tf
  infrastructure/terraform/cloudflare/providers.tf
Labels: none

fix: remove host path type
  kubernetes/main/apps/downloads/bazarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/main/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/main/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/main/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/main/apps/media/navidrome/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/main/apps/storage/minio/app/helm-release.yaml
  kubernetes/main/apps/storage/samba/app/helm-release.yaml
Labels: area/kubernetes

fix(evcc): move config to secret
  kubernetes/main/apps/home-automation/evcc/app/config/evcc.yaml
  kubernetes/main/apps/home-automation/evcc/app/external-secret.yaml
  kubernetes/main/apps/home-automation/evcc/app/helm-release.yaml
  kubernetes/main/apps/home-automation/evcc/app/kustomization.yaml
Labels: area/kubernetes

fix: update docs
  README.md
  docs/cluster/provision.md
  docs/hosts.md
  docs/network.md
Labels: area/docs

fix: update tasks, remove sops dependency from cluster, move some files
  .taskfiles/bootstrap/taskfile.yaml
  .taskfiles/flux/taskfile.yaml
  .taskfiles/talos/taskfile.yaml
  .taskfiles/tools/resources/Brewfile
  .taskfiles/tools/taskfile.yaml
  .vscode/settings.json
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.yaml
  kubernetes/main/apps/security/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/main/apps/security/external-secrets/stores/onepassword/sops.secrets.yaml
  kubernetes/main/bootstrap/flux/kustomization.yaml
  kubernetes/main/bootstrap/helmfile.yaml
  kubernetes/main/bootstrap/op.env
  kubernetes/main/bootstrap/secrets/cluster-secrets.yaml.j2
  kubernetes/main/bootstrap/secrets/github-deploy-key.secret.yaml.j2
  kubernetes/main/bootstrap/secrets/onepassword-connect.secret.yaml.j2
  kubernetes/main/bootstrap/sops.agekey.yaml
  kubernetes/main/bootstrap/sops.github-deploy-token.yaml
  kubernetes/main/flux/apps.yaml
  kubernetes/main/flux/config/cluster.yaml
  kubernetes/main/flux/vars/kustomization.yaml
  kubernetes/main/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

fix(immich): update port and path
  kubernetes/main/apps/selfhosted/immich/app/server/helm-release.yaml
Labels: area/kubernetes

fix(talos): set network interface on s01
  infrastructure/talos/talconfig.yaml
Labels: none

fix: misc updates
  .gitignore
  .pre-commit-config.yaml
  infrastructure/ansible/roles/pikvm_os/templates/override.yaml.j2
  kubernetes/main/tmpl/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes

fix(mastodon): updates needed for 4.3
  kubernetes/main/apps/selfhosted/mastodon/app/external-secret.yaml
  kubernetes/main/apps/selfhosted/mastodon/app/helm-release.yaml
Labels: area/kubernetes

fix(bitwarden): uninstall
  kubernetes/main/apps/selfhosted/bitwarden/app/database.yaml
  kubernetes/main/apps/selfhosted/bitwarden/app/external-secret.yaml
  kubernetes/main/apps/selfhosted/bitwarden/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/bitwarden/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/bitwarden/install.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat(gramps): deploy
  kubernetes/main/apps/selfhosted/gramps/app/external-secret.yaml
  kubernetes/main/apps/selfhosted/gramps/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/gramps/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/gramps/install.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat(deemix): deploy
  kubernetes/main/apps/downloads/deemix/app/helm-release.yaml
  kubernetes/main/apps/downloads/deemix/app/kustomization.yaml
  kubernetes/main/apps/downloads/deemix/install.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
Labels: area/kubernetes

fix(lidarr): change image
  kubernetes/main/apps/downloads/lidarr/app/helm-release.yaml
Labels: area/kubernetes

fix(backups): update list of dbs to update
  kubernetes/main/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

fix(lidarr): change image again
  kubernetes/main/apps/downloads/lidarr/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
