Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

chore(deps): update pre-commit hook antonbabenko/pre-commit-terraform to v1.83.2
  .pre-commit-config.yaml
Labels: none

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.24.2
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform minio to 1.18.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: area/terraform

ci(deps): update actions/checkout action to v4.0.0
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image quay.io/minio/minio to release.2023-09-04t19-57-37z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v50.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 4.2.1
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.8.3
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.77.0
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.14.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

fix(helm): update chart node-problem-detector to 2.3.8
  kubernetes/apps/kube-tools/node-problem-detector/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.40
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.45
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.2.5
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.25.0
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

Delete schema publishing and use public schemas instead
  .github/workflows/publish-schemas.yaml
  .gitignore
  .vscode/settings.json
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
  kubernetes/apps/dev/kubernetes-schemas/app/kustomization.yaml
  kubernetes/apps/dev/kubernetes-schemas/install.yaml
  kubernetes/apps/dev/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
Labels: area/ci, area/kubernetes

Remove unused tools and helm repos
  .taskfiles/tools.yaml
  kubernetes/flux/repositories/helm/crowdsec-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Tweak resources
  kubernetes/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/apps/home-automation/wyoming-piper/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
Labels: area/kubernetes

Deploy pinut
  infrastructure/ansible/inventory/host_vars/pinut/apt.yaml
  infrastructure/ansible/inventory/host_vars/pinut/nut.yaml
  infrastructure/ansible/inventory/host_vars/pinut/pinut.sops.yaml
  infrastructure/ansible/inventory/hosts.yaml
  infrastructure/ansible/provision_pinut.yaml
  infrastructure/ansible/roles/nut/defaults/main.yaml
  infrastructure/ansible/roles/nut/tasks/configure.yaml
  infrastructure/ansible/roles/nut/tasks/main.yaml
  infrastructure/ansible/roles/nut/templates/docker-compose.yaml.j2
  infrastructure/ansible/roles/nut/templates/nut/nut.conf.j2
  infrastructure/ansible/roles/nut/templates/nut/ups.conf.j2
  infrastructure/ansible/roles/nut/templates/nut/upsd.conf.j2
  infrastructure/ansible/roles/nut/templates/nut/upsd.users.j2
  infrastructure/ansible/roles/nut/templates/nut/upsmon.conf.j2
Labels: area/ansible

Updated package url for k8s on nas
  docs/cluster/k8s_on_nas.md
  infrastructure/ansible/roles/docker/tasks/main.yml
  infrastructure/ansible/roles/k8s/tasks/install_cri.yaml
  infrastructure/ansible/roles/k8s/tasks/install_kubelet.yaml
  infrastructure/ansible/roles/k8s/tasks/setup_repo.yaml
Labels: area/ansible, area/docs

Remove deprecated NFS setting
  kubernetes/apps/downloads/nfs-pvc.yaml
  kubernetes/apps/media/nfs-pvc.yaml
  kubernetes/apps/selfhosted/nextcloud/app/nfs-pvc.yaml
Labels: area/kubernetes

Update hosts to run payloads on
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

update recyclarr config
  kubernetes/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/redis to v7.2.1
  kubernetes/apps/selfhosted/nextcloud/redis/helm-release.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/external-dns/external-dns to v0.13.6
  kubernetes/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update siderolabs/talos to v1.5.2
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/common.sh
  infrastructure/talos/talconfig.yaml
Labels: none

fix(helm): update chart grafana to 6.59.4
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart node-problem-detector to 2.3.10
  kubernetes/apps/kube-tools/node-problem-detector/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart node-feature-discovery to 0.14.0
  kubernetes/apps/kube-tools/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-09-07t02-05-02z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/ahinko/github-actions-runner to v2.309.0
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

fix(helm): update chart external-dns to 1.13.1
  kubernetes/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.665
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart nextcloud to 4.3.1
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.46
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.2.6
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

ci(deps): update tibdex/github-app-token action to v1.9.0
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-pr-size-label.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image thanos to v12.13.3
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-assistant/home-assistant to v2023.9.1
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.7.2
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
