Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

feat(container): Update image quay.io/minio/minio to v2023
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.4.1
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.82.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/onedr0p/radarr to v4.3.2.6857
  kubernetes/cluster/media/radarr/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 6.2.0
  infrastructure/ansible/requirements.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v34.82.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart loki to 3.8.1
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 11.6.8
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.83.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image quay.io/thanos/thanos to v0.30.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

ci(deps): update actions/checkout action to v3.3.0
  .github/workflows/helm-release-differ.yaml
  .github/workflows/mega-linter.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-cloudflare-ip-ranges-updates.yaml
  .github/workflows/schedule-renovate.yaml
  .github/workflows/terraform-security-scan.yaml
Labels: area/ci

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.11
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.6
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v0.0.129
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.84.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): Update image ghcr.io/home-assistant/home-assistant to v2023
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.84.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.29.1
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.90.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update oxsecurity/megalinter action to v6.18.0
  .github/workflows/mega-linter.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.92.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.92.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(terraform): update terraform sops to 0.7.2
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

ci(deps): update renovatebot/github-action action to v34.93.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image quay.io/minio/minio to release.2023-01-06t18-11-18z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.94.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.1.2
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(container): update image louislam/uptime-kuma to v1.19.4
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.4.2
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.12
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.7
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

chore(deps): update fluxcd/flux2 to v0.38.3
  kubernetes/flux/flux-system/gotk-components.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.6.3
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.50.0
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(container): update image plexinc/pms-docker to v1.30.1.6562-915986d62
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

fix(helm): update cert-manager to v1.10.2
  kubernetes/cluster/cert-manager/helm-release.yaml
  kubernetes/cluster/cert-manager/kustomization.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook adrienverge/yamllint to v1.29.0
  .pre-commit-config.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v34.97.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(terraform): update terraform cloudflare to 3.32.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

fix(helm): update chart loki to 3.8.2
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes
