Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v2.1.2
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.4
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image quay.io/minio/minio to release.2023-12-02t10-51-33z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image kube-prometheus-stack to v55
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

Revert "chore(deps): update budimanjojo/talhelper to v1.16.1 (#2320)"
  .taskfiles/tools.yaml
Labels: none

Revert "chore(deps): update budimanjojo/talhelper to v1.16.1 (#2320)" (#2328)
  .taskfiles/tools.yaml
Labels: none

Revert "fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.61 (#2323)"
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/backend/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.61 (#2323)" (#2329)
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/backend/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/ahinko/simple-pg-backup to v2.1.2 (#2324)"
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/ahinko/simple-pg-backup to v2.1.2 (#2324)" (#2330)
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.16.1
  .taskfiles/tools.yaml
Labels: none

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.61
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/backend/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v2.1.2
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 4.5.5
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart influxdb2 to 2.1.2
  kubernetes/apps/databases/influxdb/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update actions/labeler action to v5.0.0
  .github/workflows/meta-labeler.yaml
Labels: area/ci

chore(deps): update community.general to 8.1.0
  infrastructure/ansible/requirements.yaml
Labels: none

feat(container): update image ghcr.io/angelnu/cni-plugins to v1.4.0
  kubernetes/apps/networking/multus/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/bjw-s/k8s-ycl to v0.2.0
  kubernetes/apps/kube-tools/k8s-ycl/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image plexinc/pms-docker to v1.32.8.7639-fb6452ebf
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

ci(deps): update renovatebot/github-action action to v39.2.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v39.2.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image thanos to v12.16.2
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-12-07t04-16-00z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart element-operator to 2.12.14
  kubernetes/apps/selfhosted/element/app/operator/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart element-updater to 2.12.14
  kubernetes/apps/selfhosted/element/app/updater/helm-release.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v55.0.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v55.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.90.2
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.62
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/backend/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v2.1.3
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

fix(container): update image sissbruecker/linkding to v1.23.1
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-assistant/home-assistant to v2023.12.1
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.16.2
  .taskfiles/tools.yaml
Labels: none

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.63
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/backend/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v2.1.4
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-12-09t18-17-51z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image app-template to v2.4.0
  kubernetes/apps/downloads/bazarr/app/helm-release.yaml
  kubernetes/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/apps/downloads/recyclarr/app/helm-release.yaml
  kubernetes/apps/downloads/sabnzbd/app/helm-release.yaml
  kubernetes/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/wyoming-piper/app/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/media/bonob/app/helm-release.yaml
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/apps/media/navidrome/app/helm-release.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helm-release.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/typesense/helm-release.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/backend/helm-release.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/frontend/helm-release.yaml
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
  kubernetes/apps/selfhosted/nextcloud/redis/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
  kubernetes/apps/storage/zot/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image k8s-ycl to v1.2.0
  kubernetes/apps/kube-tools/k8s-ycl/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image louislam/uptime-kuma to v1.23.9
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
