Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

ci(deps): update renovatebot/github-action action to v34.13.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.3.0
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.8.2
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2-code/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.2.3
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 11.5.7
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

feat(container): update image quay.io/thanos/thanos to v0.29.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(helm): Update chart app-template to 1.0.1
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
  kubernetes/cluster/default/minio/helm-release.yaml
  kubernetes/cluster/home-automation/frigate/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
  kubernetes/cluster/kube-tools/intel-gpu-exporter/helm-release.yaml
  kubernetes/cluster/kube-tools/intel-gpu-plugin/helm-release.yaml
  kubernetes/cluster/media/lidarr/helm-release.yaml
  kubernetes/cluster/media/overseerr/helm-release.yaml
  kubernetes/cluster/media/radarr/helm-release.yaml
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
  kubernetes/cluster/media/sonarr-uhd/helm-release.yaml
  kubernetes/cluster/media/sonarr/helm-release.yaml
  kubernetes/cluster/monitoring/speedtest-exporter/helm-release.yaml
  kubernetes/cluster/selfhosted/radicale/helm-release.yaml
Labels: area/kubernetes

fix(container): update image influxdb to v2.5.1
  kubernetes/cluster/databases/influxdb/helm-release.yaml
Labels: area/kubernetes

fix(container): update image nextcloud to v25.0.1
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.10.5
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.17.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/home-assistant/home-assistant to v2022.11.1
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/sabnzbd to v3.7.0
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.28.2
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.3.8
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.18.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.19.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image docker.io/frrouting/frr to v8.4.0
  infrastructure/udm-pro/roles/udmpro/files/scripts/10-onboot-ffr.sh
Labels: area/ansible

ci(deps): update oxsecurity/megalinter action to v6.14.0
  .github/workflows/mega-linter.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.19.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart grafana to 6.43.4
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.20.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart loki to 3.3.2
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(terraform): update terraform http to 3.2.1
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

feat(helm): update chart nextcloud to 3.3.0
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.8.3
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2-code/helm-release.yaml
Labels: area/kubernetes

fix(container): update image timberio/vector to v0.25.1
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.3.2
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 6.0.0
  infrastructure/requirements.yaml
Labels: none

fix(container): update image plexinc/pms-docker to v1.29.2.6364-6d72b0cf6
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

feat(container): update image quay.io/minio/minio to release.2022-11-08t05-27-07z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.20.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart thanos to 11.5.8
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2022.11.2
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.3.3
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.21.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.4.1
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.43.5
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.21.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.21.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
