Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

feat(helm): update chart kube-prometheus-stack to 43.3.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.99.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/analogj/scrutiny to v0.6.0
  docker/atlas/scrutiny/docker-compose.yaml
Labels: area/docker

feat(helm): update chart emqx-operator to 2.1.0
  kubernetes/cluster/home-automation/emqx/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 3.10.0
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart vpa to 1.6.0
  kubernetes/cluster/monitoring/vpa/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.0.14
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-01-12t02-06-16z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(container): update siderolabs/talos to v1.3.2
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.1.4
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 43.3.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.10.9
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.100.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): Update chart reloader to v1.0.1
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart haproxy to 1.17.5
  kubernetes/cluster/networking/haproxy/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.100.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update budimanjojo/talhelper to v1.5.6
  .taskfiles/tools.yaml
Labels: none

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.29.2
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.102.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.102.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): Update chart kube-prometheus-stack to 44.0.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.102.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image k8s.gcr.io/external-dns/external-dns to v0.13.2
  kubernetes/cluster/networking/external-dns/helm-release.yaml
  kubernetes/cluster/networking/external-dns/kustomization.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.102.7
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.13
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.8
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.102.8
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart kube-prometheus-stack to 44.2.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(container): update redis/redis
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 44.2.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.104.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.7.0
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

chore(deps): update kubernetes-sigs/node-feature-discovery to v0.12.1
  kubernetes/cluster/kube-tools/node-feature-discovery/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.1.5
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(container): update image louislam/uptime-kuma to v1.19.5
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart descheduler to 0.26.0
  kubernetes/cluster/kube-tools/descheduler/helm-release.yaml
Labels: area/kubernetes

Minor updates to Renovate, linters and gitignore
  .github/linters/.ansible-lint
  .github/renovate/autoMerge.json5
  .gitignore
  .sops.yaml
Labels: area/ci

Deploy ESPHome
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
  kubernetes/cluster/home-automation/esphome/kustomization.yaml
  kubernetes/cluster/home-automation/esphome/pvc.yaml
  kubernetes/cluster/home-automation/esphome/sops.secrets.yaml
  kubernetes/cluster/home-automation/kustomization.yaml
  kubernetes/config/cluster-settings.yaml
Labels: area/kubernetes

Deploy Action runner controller
  kubernetes/charts/actions-runner-controller-charts.yaml
  kubernetes/charts/kustomization.yaml
  kubernetes/cluster/selfhosted/actions-runner-controller/helm-release.yaml
  kubernetes/cluster/selfhosted/actions-runner-controller/kustomization.yaml
  kubernetes/cluster/selfhosted/actions-runner-controller/pvc.yaml
  kubernetes/cluster/selfhosted/actions-runner-controller/runners/homelab.yaml
  kubernetes/cluster/selfhosted/actions-runner-controller/runners/kustomization.yaml
  kubernetes/cluster/selfhosted/actions-runner-controller/sops.secrets.yaml
Labels: area/kubernetes

Add pod annotations on misc pods
  kubernetes/cluster/cert-manager/helm-release.yaml
  kubernetes/cluster/monitoring/loki/helm-release.yaml
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
  kubernetes/cluster/networking/external-dns/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
