Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

feat(postgres): deploy v17 cluster
  .github/renovate/versioning.json5
  .taskfiles/talos/taskfile.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/external-secret.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/kustomization.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/kustomization.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v17/gatus.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v17/kustomization.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v17/loadbalancer.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v17/postgres-cluster.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/v17/scheduled-backup.yaml
  kubernetes/main/apps/databases/ext-postgres-operator/app/helm-release.yaml
  kubernetes/main/apps/databases/postgres-backup/app/v16/kustomization.yaml
  kubernetes/main/apps/databases/postgres-backup/app/v17/cronjob.yaml
  kubernetes/main/apps/databases/postgres-backup/app/v17/external-secret.yaml
  kubernetes/main/apps/databases/postgres-backup/app/v17/kustomization.yaml
  kubernetes/main/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/mastodon/app/helm-release.yaml
Labels: area/ci, area/kubernetes

fix(postgres): add prometheus rules
  kubernetes/main/apps/databases/cloudnative-pg/clusters/kustomization.yaml
  kubernetes/main/apps/databases/cloudnative-pg/clusters/prometheus-rule.yaml
Labels: area/kubernetes

fix(kca): update provider regex and add metrics
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/values.yaml
Labels: area/kubernetes

fix(renovate): update backup deployment with versions
  .github/renovate.json5
  backups/deployment.yaml
Labels: area/ci

fix(renovate): loose versioning for plex
  .github/renovate/versioning.json5
Labels: area/ci

fix(github): fix issues in kubernetes version workflow
  .github/scripts/kubernetes-version.sh
  .github/workflows/scan-supported-k8s-version.yaml
Labels: area/ci

fix: maintenance
  .taskfiles/talos/taskfile.yaml
  .taskfiles/tools/taskfile.yaml
  kubernetes/main/apps/dev/it-tools/app/helm-release.yaml
  kubernetes/main/apps/downloads/bazarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/lidarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/main/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/main/apps/downloads/sonarr/app/helm-release.yaml
  kubernetes/main/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/app/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/main/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/ocis/app/helm-release.yaml
  kubernetes/main/apps/storage/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(snapshot-controller): remove webhook config
  kubernetes/main/apps/storage/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes

feat(rook): enable insights and rook modules
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(external-dns): trigger on events
  kubernetes/main/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/main/apps/networking/external-dns/unifi/helm-release.yaml
Labels: area/kubernetes

fix(plex): probes
  kubernetes/main/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

feat(cilium): enable netkit
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

hack(hass): python path
  kubernetes/main/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

feat(gatus): monitor emqx
  kubernetes/main/apps/home-automation/emqx/cluster/gatus.yaml
  kubernetes/main/apps/home-automation/emqx/cluster/kustomization.yaml
Labels: area/kubernetes

fix(postgres-backup): update and backup atuin
  kubernetes/main/apps/databases/postgres-backup/app/v17/cronjob.yaml
Labels: area/kubernetes

fix(talos): 1.9.0 updates
  infrastructure/talos/talconfig.yaml
Labels: none

Update allowedVersions.json5 with new minor version of Kubernetes.
  .github/renovate/allowedVersions.json5
Labels: area/ci

fix(talos): remove default values
  infrastructure/talos/talconfig.yaml
Labels: none

fix(talos): remove kernel args
  infrastructure/talos/talconfig.yaml
Labels: none

fix(postgres-backup): update version
  kubernetes/main/apps/databases/postgres-backup/app/v17/cronjob.yaml
Labels: area/kubernetes

fix(gatus): update config
  kubernetes/main/apps/observability/gatus/app/config/config.yaml
Labels: area/kubernetes

fix(grafana): update smartctl dashboard
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(smartctl-exporter): add more devices
  kubernetes/main/apps/observability/smartctl-exporter/app/helm-release.yaml
Labels: area/kubernetes

fix(rook): still need this
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

fix(ksm): pause for now
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix(cilium): revert config change since we don't use bgp
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix(flux): Bootstrap issues with flux-operator, thanks @onedr0p
  .taskfiles/flux/taskfile.yaml
  kubernetes/main/flux/config/cluster.yaml
  kubernetes/main/flux/config/kustomization.yaml
Labels: area/kubernetes

fix(docs): Add note about fixing PG replication issues related to Immich
  docs/snippets.md
Labels: area/docs

fix(talos): update config
  infrastructure/talos/talconfig.yaml
Labels: none

fix(project): update yaml schemas
  .vscode/settings.json
  kubernetes/main/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheus-rules.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/external-secret.yaml
  kubernetes/main/apps/home-automation/emqx/app/external-secret.yaml
  kubernetes/main/apps/home-automation/emqx/cluster/pod-monitor.yaml
  kubernetes/main/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/main/apps/networking/external-dns/unifi/external-secret.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/observability/prometheus-operator/app/helm-release.yaml
  kubernetes/main/apps/observability/smartctl-exporter/app/prometheus-rules.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/external-secret.yaml
  kubernetes/main/apps/security/external-secrets/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/atuin/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/selfhosted/immich/app/valkey/helm-release.yaml
Labels: area/kubernetes

feat(gatus): move to sqlite
  kubernetes/main/apps/observability/gatus/app/config/config.yaml
  kubernetes/main/apps/observability/gatus/app/database.yaml
  kubernetes/main/apps/observability/gatus/app/helm-release.yaml
  kubernetes/main/apps/observability/gatus/app/kustomization.yaml
  kubernetes/main/apps/observability/gatus/app/pvc.yaml
  kubernetes/main/apps/observability/gatus/install.yaml
Labels: area/kubernetes

feat(atuin): remove metrics
  kubernetes/main/apps/selfhosted/atuin/app/helm-release.yaml
Labels: area/kubernetes

feat(misc): new years cleanup
  kubernetes/main/apps/downloads/deemix/app/helm-release.yaml
  kubernetes/main/apps/downloads/deemix/app/kustomization.yaml
  kubernetes/main/apps/downloads/deemix/install.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
  kubernetes/main/apps/home-automation/wyoming-piper/app/helm-release.yaml
  kubernetes/main/apps/home-automation/wyoming-piper/app/kustomization.yaml
  kubernetes/main/apps/home-automation/wyoming-piper/app/pvc.yaml
  kubernetes/main/apps/home-automation/wyoming-piper/install.yaml
  kubernetes/main/apps/media/bonob/app/helm-release.yaml
  kubernetes/main/apps/media/bonob/app/kustomization.yaml
  kubernetes/main/apps/media/bonob/install.yaml
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/observability/kube-state-metrics/app/helm-release.yaml
  kubernetes/main/apps/observability/kube-state-metrics/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-state-metrics/install.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/selfhosted/gramps/app/external-secret.yaml
  kubernetes/main/apps/selfhosted/gramps/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/gramps/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/gramps/install.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/selfhosted/maybe/app/database.yaml
  kubernetes/main/apps/selfhosted/maybe/app/external-secret.yaml
  kubernetes/main/apps/selfhosted/maybe/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/maybe/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/maybe/install.yaml
Labels: area/kubernetes

feat(system): Move misc workloads to system namespace
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/system/descheduler/app/helm-release.yaml
  kubernetes/main/apps/system/descheduler/app/kustomization.yaml
  kubernetes/main/apps/system/descheduler/install.yaml
  kubernetes/main/apps/system/fstrim/app/helm-release.yaml
  kubernetes/main/apps/system/fstrim/app/kustomization.yaml
  kubernetes/main/apps/system/fstrim/install.yaml
  kubernetes/main/apps/system/generic-device-plugin/app/config/config.yaml
  kubernetes/main/apps/system/generic-device-plugin/app/helm-release.yaml
  kubernetes/main/apps/system/generic-device-plugin/app/kustomization.yaml
  kubernetes/main/apps/system/generic-device-plugin/install.yaml
  kubernetes/main/apps/system/intel-device-plugins/app/helm-release.yaml
  kubernetes/main/apps/system/intel-device-plugins/app/kustomization.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/helm-release.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/nodefeaturerule.yaml
  kubernetes/main/apps/system/intel-device-plugins/install.yaml
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/apps/system/namespace.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/helm-release.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/install.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/google-coral-device.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/main/apps/system/reloader/app/helm-release.yaml
  kubernetes/main/apps/system/reloader/app/kustomization.yaml
  kubernetes/main/apps/system/reloader/install.yaml
  kubernetes/main/apps/system/spegel/app/helm-release.yaml
  kubernetes/main/apps/system/spegel/app/kustomization.yaml
  kubernetes/main/apps/system/spegel/app/kustomizeconfig.yaml
  kubernetes/main/apps/system/spegel/app/values.yaml
  kubernetes/main/apps/system/spegel/install.yaml
  kubernetes/main/bootstrap/helmfile.yaml
Labels: area/kubernetes

fix(it-tools): move to selfhosted namespace
  kubernetes/main/apps/dev/kustomization.yaml
  kubernetes/main/apps/selfhosted/it-tools/app/helm-release.yaml
  kubernetes/main/apps/selfhosted/it-tools/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/it-tools/install.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix(slskd): disable metrics
  kubernetes/main/apps/downloads/slskd/app/helm-release.yaml
Labels: area/kubernetes

fix(postgres): don't backup old databases
  kubernetes/main/apps/databases/postgres-backup/app/v17/cronjob.yaml
Labels: area/kubernetes

fix(rook): remove enableVolumeGroupSnapshot setting
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/ceph-object-store-user-pg.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

fix(observability): ignore correct disks
  kubernetes/main/apps/observability/silence-operator/silences/cephnodediskspacewarning.yaml
Labels: area/kubernetes

fix(nginx): update settings
  kubernetes/main/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes
