Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

ci(deps): update actions/setup-python action to v4.7.0
  .github/workflows/publish-schemas.yaml
Labels: area/ci

fix(container): update image kube-prometheus-stack to v48.1.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.8.4
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/kubernetes-schemas to af4f0f2
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.3
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 1.6.37
  kubernetes/apps/selfhosted/windmill/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-assistant/home-assistant to v2023.7.2
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.67.1
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.67.2
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 1.6.38
  kubernetes/apps/selfhosted/windmill/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.560
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image redis to v17.13.1
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

Group Flux updates
  .github/renovate/groups.json5
Labels: area/ci

Set nameservers on worker nodes
  infrastructure/talos/talconfig.yaml
Labels: none

Update firewall rules on CF
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/modules/cf_domain/firewall.tf
  infrastructure/terraform/minio/.terraform.lock.hcl
Labels: area/terraform

Update frigate config
  kubernetes/apps/home-automation/frigate/app/config/config.yaml
  kubernetes/apps/home-automation/frigate/app/data-pvc.yaml
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/apps/home-automation/frigate/app/kustomization.yaml
Labels: area/kubernetes

Retire Zwave stick gen 5
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/app/backup.yaml
  kubernetes/apps/home-automation/zwavejs/app/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/app/kustomization.yaml
  kubernetes/apps/home-automation/zwavejs/app/pvc.yaml
  kubernetes/apps/home-automation/zwavejs/install.yaml
  kubernetes/apps/kube-tools/node-feature-discovery/rules/aeotec-zwave-device.yaml
  kubernetes/apps/kube-tools/node-feature-discovery/rules/kustomization.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

Update flux
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

Uptime kuma should not run on Atlas due to DNS issues
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
Labels: area/kubernetes

Update Grafana config
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.13.2
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

Flux Diff should only look for diffs in kubernetes dir
  .github/workflows/flux-diff.yaml
Labels: area/ci

Upgrade Cilium to 1.14 RC and replace MetalLB with Cilium:ss LB functionality
  .github/renovate/groups.json5
  infrastructure/talos/integrations/cni/cilium.yaml
  infrastructure/talos/integrations/cni/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/clusters/loadbalancer.yaml
  kubernetes/apps/games/minecraft/app/helm-release.yaml
  kubernetes/apps/home-automation/emqx/cluster/loadbalancer.yaml
  kubernetes/apps/home-automation/emqx/install.yaml
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/install.yaml
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/install.yaml
  kubernetes/apps/networking/k8s-gateway/app/helm-release.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/metallb/app/helm-release.yaml
  kubernetes/apps/networking/metallb/app/kustomization.yaml
  kubernetes/apps/networking/metallb/config/kustomization.yaml
  kubernetes/apps/networking/metallb/config/layer2-advertisement.yaml
  kubernetes/apps/networking/metallb/config/layer2-pool.yaml
  kubernetes/apps/networking/metallb/install.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/metallb-charts.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/ci, area/kubernetes

Enable Multus and add IOT vlan to esphome and home assistant
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/networking/multus/install.yaml
Labels: area/kubernetes

Uptime-Kuma should NOT run on Atlas
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
Labels: area/kubernetes

Make Kyverno work again
  kubernetes/apps/kube-tools/kyverno/app/helm-release.yaml
Labels: area/kubernetes

Esphome and Home Assistant should only run on worker nodes with access to IOT vlan
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.0-snapshot.4
  infrastructure/talos/integrations/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/kubernetes-schemas to d73922b
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.565
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.4
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.30
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 1.6.39
  kubernetes/apps/selfhosted/windmill/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 7.2.0
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.21.0
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.11.10
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/esphome/esphome to v2023.7.0
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update rook-ceph-suite to v1.12.0
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/kubernetes-kubectl to v1.27.4
  kubernetes/apps/kube-system/tainter/app/cronjob.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.575
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
