Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

feat(helm): update chart metrics-server to 3.10.0
  kubernetes/cluster/kube-system/metrics-server/helm-release.yaml
Labels: area/kubernetes

feat(container): update image timberio/vector to v0.29.0
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart app-template to 1.4.0
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
  kubernetes/cluster/default/minio/helm-release.yaml
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
  kubernetes/cluster/home-automation/frigate/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
  kubernetes/cluster/media/bazarr/helm-release.yaml
  kubernetes/cluster/media/lidarr/helm-release.yaml
  kubernetes/cluster/media/radarr/helm-release.yaml
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
  kubernetes/cluster/media/sonarr-uhd/helm-release.yaml
  kubernetes/cluster/media/sonarr/helm-release.yaml
  kubernetes/cluster/monitoring/speedtest-exporter/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/cluster/selfhosted/radicale/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart vector to 0.21.0
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-04-13t03-08-07z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.9.4
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.0.22
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/siderolabs/kubelet to v1.26.4
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-k8s.sh
Labels: none

feat(terraform): update terraform minio to 1.14.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: area/terraform

ci(deps): update actions/checkout action to v3.5.2
  .github/workflows/helm-release-diff.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.4.4
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.11.4
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.10.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.27.1
  kubernetes/cluster/kube-system/tainter/cronjob.yaml
  kubernetes/cluster/networking/cloudflare-ddns/cronjob.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.53.0
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/lidarr to v1.1.4.3027
  kubernetes/cluster/media/lidarr/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr to v4.4.4.7068
  kubernetes/cluster/media/radarr/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-smartctl-exporter to 0.4.0
  kubernetes/cluster/monitoring/smartctl-exporter/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.8
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.22
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.18
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.9
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.7.0
  .taskfiles/tools.yaml
Labels: none

fix(container): update redis/redis to v7.0.11
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart actions-runner-controller to 0.23.2
  kubernetes/cluster/selfhosted/actions-runner-controller/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.14.0
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.4.5
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(container): update image plexinc/pms-docker to v1.32.0.6950-8521b7d99
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

fix(container): update image tomsquest/docker-radicale to v3.1.8.2
  kubernetes/cluster/selfhosted/radicale/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.9.5
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.1.0
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.12.3
  kubernetes/cluster/kube-tools/node-feature-discovery/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.4.3
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.13.2
  .taskfiles/kubernetes.yaml
  kubernetes/cluster/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart node-feature-discovery to 0.13.0
  kubernetes/cluster/kube-tools/node-feature-discovery/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.0.23
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(helm): update chart vpa to 1.7.2
  kubernetes/cluster/monitoring/vpa/helm-release.yaml
Labels: area/kubernetes

feat(container): update siderolabs/talos to v1.4.0
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

feat(helm): update chart grafana to 6.54.0
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.4.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform
