Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

feat: taskfile -> just + rework talos config gen
  .justfile
  .renovate/customManagers.json5
  .renovate/groups.json5
  .renovate/overrides.json5
  .taskfiles/flux/taskfile.yaml
  .taskfiles/kubernetes/taskfile.yaml
  .taskfiles/talos/taskfile.yaml
  .taskfiles/workstation/taskfile.yaml
  .vscode/settings.json
  Brewfile
  Taskfile.yml
  kubernetes/mod.just
  kubernetes/talos/machineconfig.yaml.j2
  kubernetes/talos/mod.just
  kubernetes/talos/nodes/n01.yaml.j2
  kubernetes/talos/nodes/n02.yaml.j2
  kubernetes/talos/nodes/n03.yaml.j2
  kubernetes/talos/nodes/s01.yaml.j2
  kubernetes/talos/schematic.yaml.j2
  kubernetes/talos/talconfig.yaml
  kubernetes/talos/talsecret.env
  kubernetes/talos/talsecret.yaml
Labels: area/kubernetes

feat: migrate to intel gpu resource driver
  kubernetes/apps/ai/ollama/app/configmaps.yaml
  kubernetes/apps/ai/ollama/app/helm-release.yaml
  kubernetes/apps/ai/ollama/app/kustomization.yaml
  kubernetes/apps/ai/ollama/app/resource-claim.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/helm-release.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/kustomization.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/oci-repository.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/install.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/resource-claim.yaml
  kubernetes/apps/media/plex/install.yaml
  kubernetes/apps/system/intel-device-plugins/app/helm-release.yaml
  kubernetes/apps/system/intel-device-plugins/app/kustomization.yaml
  kubernetes/apps/system/intel-device-plugins/app/oci-repository.yaml
  kubernetes/apps/system/intel-device-plugins/gpu/helm-release.yaml
  kubernetes/apps/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/apps/system/intel-device-plugins/gpu/nodefeaturerule.yaml
  kubernetes/apps/system/intel-device-plugins/gpu/oci-repository.yaml
  kubernetes/apps/system/intel-device-plugins/install.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/node-feature-discovery/app/grafana-dashboard.yaml
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
  kubernetes/apps/system/node-feature-discovery/app/oci-repository.yaml
  kubernetes/apps/system/node-feature-discovery/install.yaml
  kubernetes/apps/system/node-feature-discovery/rules/google-coral-device.yaml
  kubernetes/apps/system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/components/namespace/namespace.yaml
Labels: area/kubernetes

fix: renovate config fixes
  .renovate/groups.json5
  .renovaterc.json5
Labels: none

feat(mqtt): vernemq, its time to go and its because of you, not me
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/mosquitto/app/helm-release.yaml
  kubernetes/apps/databases/mosquitto/app/kustomization.yaml
  kubernetes/apps/databases/mosquitto/app/oci-repository.yaml
  kubernetes/apps/databases/mosquitto/app/pvc.yaml
  kubernetes/apps/databases/mosquitto/install.yaml
  kubernetes/apps/databases/vernemq/app/external-secret.yaml
  kubernetes/apps/databases/vernemq/app/grafanadashboard.yaml
  kubernetes/apps/databases/vernemq/app/helm-release.yaml
  kubernetes/apps/home-automation/evcc/app/external-secret.yaml
  kubernetes/apps/home-automation/evcc/install.yaml
  kubernetes/apps/home-automation/home-assistant/install.yaml
  kubernetes/apps/home-automation/tcpsolis2mqtt/app/config/config.yaml
  kubernetes/apps/home-automation/tcpsolis2mqtt/install.yaml
  kubernetes/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/apps/home-automation/teslamate/install.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/install.yaml
Labels: area/kubernetes

feat(hass): deploy code server
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

Update allowedVersions.json5 with new minor version of Kubernetes.
  .renovate/allowedVersions.json5
Labels: none

fix: allowed kubernetes version needs updates
  .github/scripts/kubernetes-version.sh
Labels: area/ci

fix: remove old docs
  docs/snippets.md
Labels: area/docs

fix: update things I dont really understand but everyone else is updating
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/apps/networking/envoy-gateway/app/envoy.yaml
  kubernetes/apps/networking/envoy-gateway/app/helm-release.yaml
Labels: area/kubernetes

fix: do not remove pods based on node taints
  kubernetes/apps/system/descheduler/app/helm-release.yaml
Labels: area/kubernetes

feat: update pocket-id to version 2
  kubernetes/apps/security/pocket-id/app/external-secret.yaml
  kubernetes/apps/security/pocket-id/app/helm-release.yaml
  kubernetes/apps/security/pocket-id/app/kustomization.yaml
Labels: area/kubernetes

fix: update arc config
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

fix: update talos version
  kubernetes/talos/machineconfig.yaml.j2
Labels: area/kubernetes

fix: auto merge renovate
  .renovate/autoMerge.json5
Labels: none

fix: streamline user
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/slskd/install.yaml
Labels: area/kubernetes

feat: deploy headlamp
  kubernetes/apps/observability/headlamp/app/helm-release.yaml
  kubernetes/apps/observability/headlamp/app/httproute.yaml
  kubernetes/apps/observability/headlamp/app/kustomization.yaml
  kubernetes/apps/observability/headlamp/app/oci-repository.yaml
  kubernetes/apps/observability/headlamp/app/rbac.yaml
  kubernetes/apps/observability/headlamp/install.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

feat: update renovate operator
  kubernetes/apps/renovate/renovate-operator/app/oci-repository.yaml
  kubernetes/apps/renovate/renovate-operator/jobs/ahinko.yaml
Labels: area/kubernetes

fix(prompp): update mirror
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(jellyfin): resource claim
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/apps/media/jellyfin/app/resource-claim.yaml
Labels: area/kubernetes

feat: deploy etcd-defrag
  kubernetes/apps/kube-system/etcd-defrag/app/helm-release.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/kustomization.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/oci-repository.yaml
  kubernetes/apps/kube-system/etcd-defrag/app/service-account.yaml
  kubernetes/apps/kube-system/etcd-defrag/install.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

fix: update gitignore
  .gitignore
Labels: none

feat(mosquitto): remove cache pvc
  kubernetes/apps/databases/mosquitto/app/helm-release.yaml
  kubernetes/apps/databases/mosquitto/app/kustomization.yaml
  kubernetes/apps/databases/mosquitto/app/pvc.yaml
  kubernetes/apps/databases/mosquitto/install.yaml
Labels: area/kubernetes

feat: switch back to official images
  kubernetes/apps/databases/postgres18/backup-rest/helm-release.yaml
  kubernetes/apps/games/minecraft/app/helm-release.yaml
  kubernetes/apps/games/minecraft2/app/helm-release.yaml
  kubernetes/apps/home-automation/evcc/app/helm-release.yaml
  kubernetes/apps/home-automation/teslamate/app/helm-release.yaml
  kubernetes/apps/kube-system/etcd-backup/app/helm-release.yaml
  kubernetes/apps/media/maloja/app/helm-release.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/storage/znapzend/app/helm-release.yaml
Labels: area/kubernetes

fix: update old file path for finding talos and k8s versions in github workflows
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
  .github/workflows/scan-supported-k8s-version.yaml
Labels: area/ci

feat(immich): move to dragnfly + config updates
  kubernetes/apps/databases/dragonfly/cluster/cluster.yaml
  kubernetes/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/apps/selfhosted/immich/app/external-secret.yaml
  kubernetes/apps/selfhosted/immich/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/ml-pvc.yaml
Labels: area/kubernetes

feat(docmost): sunset
  kubernetes/apps/selfhosted/docmost/app/database.yaml
  kubernetes/apps/selfhosted/docmost/app/external-secret.yaml
  kubernetes/apps/selfhosted/docmost/app/helm-release.yaml
  kubernetes/apps/selfhosted/docmost/app/kustomization.yaml
  kubernetes/apps/selfhosted/docmost/app/oci-repository.yaml
  kubernetes/apps/selfhosted/docmost/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat: upgrade os storage
  kubernetes/talos/machineconfig.yaml.j2
  kubernetes/talos/nodes/n01.yaml.j2
  kubernetes/talos/nodes/n02.yaml.j2
  kubernetes/talos/nodes/n03.yaml.j2
  kubernetes/talos/nodes/s01.yaml.j2
Labels: area/kubernetes

fix: broken grafana dashboards
  kubernetes/apps/databases/cloudnative-pg/app/configmaps/cloudnative-pg.json
  kubernetes/apps/databases/cloudnative-pg/app/grafana-dashboard.yaml
  kubernetes/apps/databases/cloudnative-pg/app/helm-release.yaml
  kubernetes/apps/databases/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/databases/postgres18/app/grafana-dashboard.yaml
  kubernetes/apps/databases/postgres18/app/kustomization.yaml
  kubernetes/apps/observability/grafana/install.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/system/spegel/app/helm-release.yaml
  kubernetes/apps/system/spegel/app/kustomization.yaml
Labels: area/kubernetes

feat: move barman cloud to own kustomization
  kubernetes/apps/databases/barman-cloud/app/kustomization.yaml
  kubernetes/apps/databases/barman-cloud/install.yaml
  kubernetes/apps/databases/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/databases/kustomization.yaml
Labels: area/kubernetes

feat(postgres): load extensions through imagevolumes
  .renovate/customManagers.json5
  kubernetes/apps/databases/postgres18/app/cluster.yaml
Labels: area/kubernetes

fix: misc
  .renovate/autoMerge.json5
  kubernetes/apps/cert-manager/cert-manager/app/prometheus-rules.yaml
  kubernetes/bootstrap/helmfile.d/00-crds.yaml
Labels: area/kubernetes

fix(aliasvault): bye bye
  kubernetes/apps/databases/postgres18/backup-rest/helm-release.yaml
  kubernetes/apps/security/aliasvault/app/database.yaml
  kubernetes/apps/security/aliasvault/app/external-secret.yaml
  kubernetes/apps/security/aliasvault/app/helm-release.yaml
  kubernetes/apps/security/aliasvault/app/kustomization.yaml
  kubernetes/apps/security/aliasvault/app/oci-repository.yaml
  kubernetes/apps/security/aliasvault/install.yaml
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

feat: add some minor docs
  docs/immich.md
  docs/replace-os-disk-with-ceph-mons.md
Labels: area/docs

feat: immich + vchord versioning
  .github/scripts/immich-vchord-allowed-version.sh
  .github/workflows/scan-immich-vchord-version.yaml
  .renovate/allowedVersions.json5
  .renovate/customManagers.json5
Labels: area/ci

misc cleanup
  .renovate/groups.json5
  .taskfiles/bootstrap/taskfile.yaml
  Brewfile
Labels: none

feat(cilium): use official oci chart
  kubernetes/apps/kube-system/cilium/app/oci-repository.yaml
Labels: area/kubernetes

feat: add prometheus rule for when node is rebooted
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrules/nodes.yaml
Labels: area/kubernetes

fix: volsync pvc update
  kubernetes/components/volsync/restic/replicationdestination.yaml
  kubernetes/components/volsync/restic/replicationsource.yaml
Labels: area/kubernetes

feat(karakeep): updates to chromium
  kubernetes/apps/selfhosted/karakeep/app/helm-release.yaml
Labels: area/kubernetes

fix: update envoy config
  kubernetes/apps/networking/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
