Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/docs, area/docker, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "docker/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

chore(redis): Update resources
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

feat(thanos): switch to stevehipwell chart
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/apps/monitoring/thanos/app/resources/cache.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/flux/repositories/helm/actions-runner-controller-charts.yaml
  kubernetes/flux/repositories/helm/angelnu-charts.yaml
  kubernetes/flux/repositories/helm/backube-charts.yaml
  kubernetes/flux/repositories/helm/bitnami-charts.yaml
  kubernetes/flux/repositories/helm/bjw-s-charts.yaml
  kubernetes/flux/repositories/helm/cilium-charts.yaml
  kubernetes/flux/repositories/helm/cloudnative-pg-charts.yaml
  kubernetes/flux/repositories/helm/deliveryhero-charts.yaml
  kubernetes/flux/repositories/helm/element-charts.yaml
  kubernetes/flux/repositories/helm/emqx-charts.yaml
  kubernetes/flux/repositories/helm/ext-postgres-operator-charts.yaml
  kubernetes/flux/repositories/helm/external-dns-charts.yaml
  kubernetes/flux/repositories/helm/grafana-charts.yaml
  kubernetes/flux/repositories/helm/haproxy-charts.yaml
  kubernetes/flux/repositories/helm/influxdata-charts.yaml
  kubernetes/flux/repositories/helm/ingress-nginx-charts.yaml
  kubernetes/flux/repositories/helm/intel-charts.yaml
  kubernetes/flux/repositories/helm/itzg-minecraft-server-charts.yaml
  kubernetes/flux/repositories/helm/jetstack-charts.yaml
  kubernetes/flux/repositories/helm/k8s-gateway-charts.yaml
  kubernetes/flux/repositories/helm/k8tz-charts.yaml
  kubernetes/flux/repositories/helm/kubernetes-sigs-descheduler-charts.yaml
  kubernetes/flux/repositories/helm/kubernetes-sigs-node-feature-discovery-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/piraeus-charts.yaml
  kubernetes/flux/repositories/helm/postfinance-charts.yaml
  kubernetes/flux/repositories/helm/prometheus-community-charts.yaml
  kubernetes/flux/repositories/helm/rook-ceph-charts.yaml
  kubernetes/flux/repositories/helm/stakater-charts.yaml
  kubernetes/flux/repositories/helm/stevehipwell-charts.yaml
Labels: area/kubernetes

chore(cluster): decomission eos, promote atlas to control plane
  docs/hosts.md
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/values.yaml
  kubernetes/apps/kube-system/tainter/app/cronjob.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/docs, area/kubernetes

feat(dragonfly): deploy, replace redis
  kubernetes/apps/databases/dragonfly/cluster/cluster.yaml
  kubernetes/apps/databases/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/databases/dragonfly/cluster/podmonitor.yaml
  kubernetes/apps/databases/dragonfly/install.yaml
  kubernetes/apps/databases/dragonfly/operator/helm-release.yaml
  kubernetes/apps/databases/dragonfly/operator/kustomization.yaml
  kubernetes/apps/databases/dragonfly/operator/rbac.yaml
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/redis-proxy/app/helm-release.yaml
  kubernetes/apps/databases/redis-proxy/install.yaml
  kubernetes/apps/databases/redis/app/helm-release.yaml
  kubernetes/apps/databases/redis/app/kustomization.yaml
  kubernetes/apps/databases/redis/install.yaml
  kubernetes/apps/databases/redis/readme.md
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/apps/selfhosted/immich/install.yaml
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon/install.yaml
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
  kubernetes/apps/selfhosted/nextcloud/install.yaml
Labels: area/kubernetes

chore(volsync): downgrade
  kubernetes/apps/storage/volsync/app/helm-release.yaml
Labels: area/kubernetes

chore(misc): fix minor typos and issues
  .github/renovate/groups.json5
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  kubernetes/apps/monitoring/speedtest-exporter/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
Labels: area/ci, area/kubernetes

feat(it-tools): deploy
  kubernetes/apps/dev/it-tools/app/helm-release.yaml
  kubernetes/apps/dev/it-tools/app/kustomization.yaml
  kubernetes/apps/dev/it-tools/install.yaml
  kubernetes/apps/dev/kustomization.yaml
Labels: area/kubernetes

chore(renovate): run on selfhosted runner
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

Revert "chore(renovate): run on selfhosted runner"
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(renovate): group arc and element updates
  .github/renovate/groups.json5
Labels: area/ci

chore(arc): rename folder structure and add config
  kubernetes/apps/dev/actions-runner-controller/install.yaml
  kubernetes/apps/dev/actions-runner-controller/operator/helm-release.yaml
  kubernetes/apps/dev/actions-runner-controller/operator/kustomization.yaml
  kubernetes/apps/dev/actions-runner-controller/operator/sops.secrets.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

chore(github actions): update flux diff and image tester
  .github/workflows/docker-image-tester.inactive
  .github/workflows/docker-image-tester.yaml
  .github/workflows/flux-diff.yaml
Labels: area/ci

feat(spegel): switch helm chart
  kubernetes/apps/storage/spegel/app/helm-release.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/spegel-charts.yaml
Labels: area/kubernetes

feat(mailrise): decommission
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/mailrise/app/helm-release.yaml
  kubernetes/apps/selfhosted/mailrise/app/kustomization.yaml
  kubernetes/apps/selfhosted/mailrise/app/mailrise.yaml
  kubernetes/apps/selfhosted/mailrise/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/mailrise/install.yaml
Labels: area/kubernetes

feat(linkding): decommission
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/linkding/app/database.yaml
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
  kubernetes/apps/selfhosted/linkding/app/kustomization.yaml
  kubernetes/apps/selfhosted/linkding/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/linkding/install.yaml
Labels: area/kubernetes

chore(kitchenowl): switch to one docker image
  kubernetes/apps/selfhosted/kitchenowl/app/backend/kustomization.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/frontend/helm-release.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/frontend/kustomization.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/helm-release.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/kustomization.yaml
  kubernetes/apps/selfhosted/kitchenowl/app/sops.secrets.yaml
Labels: area/kubernetes

chore(immich): change postgres user to postgres
  kubernetes/apps/selfhosted/immich/app/database.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/sops.secrets.yaml
Labels: area/kubernetes

chore(immich): dragonfly doesn't fly with immich, switch back to redis
  kubernetes/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/redis/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/redis/kustomization.yaml
Labels: area/kubernetes

chore(external-dns): let helm handle crds
  kubernetes/apps/networking/external-dns/app/crd-dns-endpoint.yaml
  kubernetes/apps/networking/external-dns/app/helm-release.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
Labels: area/kubernetes

chore(rook): update settings
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

chore(talos): switch control plane
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/kube-system/tainter/app/cronjob.yaml
Labels: area/kubernetes

chore(postgres backup): update list of databases
  kubernetes/apps/databases/postgres-backup/app/v16/sops.secrets.yaml
Labels: area/kubernetes

chore(dragonfly): update config
  kubernetes/apps/databases/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes

chore(spegel): deploy on cluster bootstrap
  infrastructure/talos/bootstrap/helmfile.yaml
Labels: none

chore(emqx): misc config updates + remove test cluster
  kubernetes/apps/home-automation/emqx/cluster/cluster.yaml
  kubernetes/apps/home-automation/emqx/cluster/kustomization.yaml
  kubernetes/apps/home-automation/emqx/cluster/loadbalancer.yaml
  kubernetes/apps/home-automation/emqx/cluster/podmonitor.yaml
  kubernetes/apps/testing/emqx/app/helm-release.yaml
  kubernetes/apps/testing/emqx/app/kustomization.yaml
  kubernetes/apps/testing/emqx/cluster/cluster.yaml
  kubernetes/apps/testing/emqx/cluster/emqx-init-script-configmap.yaml
  kubernetes/apps/testing/emqx/cluster/ingress.yaml
  kubernetes/apps/testing/emqx/cluster/kustomization.yaml
  kubernetes/apps/testing/emqx/cluster/loadbalancer.yaml
  kubernetes/apps/testing/emqx/install.yaml
  kubernetes/apps/testing/kustomization.yaml
Labels: area/kubernetes

chore(talos): helm defaults
  infrastructure/talos/bootstrap/helmfile.yaml
Labels: none

chore(renovate): group emqx operator updates
  .github/renovate/groups.json5
Labels: area/ci

chore(terraform): do not provision minio
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/backend.tf
  infrastructure/terraform/minio/main.tf
  infrastructure/terraform/minio/minio_bucket_backups.tf
  infrastructure/terraform/minio/minio_bucket_postgres.tf
  infrastructure/terraform/minio/minio_bucket_thanos.tf
  infrastructure/terraform/minio/minio_bucket_volsync.tf
  infrastructure/terraform/minio/minio_secrets.sops.yaml
  infrastructure/terraform/minio/modules/minio_bucket/main.tf
  infrastructure/terraform/minio/modules/minio_bucket/output.tf
  infrastructure/terraform/minio/modules/minio_bucket/variables.tf
  infrastructure/terraform/minio/providers.tf
Labels: area/terraform

feat(external-secrets): deploy with 1password as secret store
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
  kubernetes/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/apps/security/external-secrets/install.yaml
  kubernetes/apps/security/external-secrets/stores/kustomization.yaml
  kubernetes/apps/security/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/security/external-secrets/stores/onepassword/helm-release.yaml
  kubernetes/apps/security/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/apps/security/external-secrets/stores/onepassword/sops.secrets.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/namespace.yaml
  kubernetes/flux/repositories/helm/external-secrets-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore(alertmanager): move out from kps helm chart
  kubernetes/apps/monitoring/alertmanager/app/config/alertmanager.yml
  kubernetes/apps/monitoring/alertmanager/app/externalsecret.yaml
  kubernetes/apps/monitoring/alertmanager/app/helm-release.yaml
  kubernetes/apps/monitoring/alertmanager/app/kustomization.yaml
  kubernetes/apps/monitoring/alertmanager/install.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

chore(node-exporter): move out from kps
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/node-exporter/app/helm-release.yaml
  kubernetes/apps/monitoring/node-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/node-exporter/install.yaml
Labels: area/kubernetes

chore(kps): update config
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(grafana): clean up config
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/sops.secrets.yaml
  kubernetes/apps/monitoring/grafana/install.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/apps/testing/namespace.yaml
Labels: area/kubernetes

Update allowedVersions.json5 with new minor version of Kubernetes.
  .github/renovate/allowedVersions.json5
Labels: area/ci

fix: get metrics and monitoring working
  infrastructure/talos/bootstrap/helmfile.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/helm-release.yaml
  kubernetes/main/apps/kube-system/node-feature-discovery/app/helm-release.yaml
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
  kubernetes/main/apps/observability/kube-state-metrics/app/helm-release.yaml
  kubernetes/main/apps/observability/kube-state-metrics/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-state-metrics/install.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/prometheus-operator/app/helm-release.yaml
  kubernetes/main/apps/observability/prometheus-operator/app/kustomization.yaml
  kubernetes/main/apps/observability/prometheus-operator/install.yaml
  kubernetes/main/apps/observability/silence-operator/silences/kustomization.yaml
  kubernetes/main/apps/observability/victoria-metrics/app/helm-release.yaml
Labels: area/kubernetes

fix(postgres-backup): use correct url for backups
  kubernetes/main/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

fix: depend on external-secrets-stores
  kubernetes/main/apps/databases/ext-postgres-operator/install.yaml
  kubernetes/main/apps/databases/postgres-backup/install.yaml
  kubernetes/main/apps/dev/actions-runner-controller/install.yaml
  kubernetes/main/apps/downloads/lidarr/install.yaml
  kubernetes/main/apps/downloads/radarr/install.yaml
  kubernetes/main/apps/downloads/sabnzbd/install.yaml
  kubernetes/main/apps/downloads/slskd/install.yaml
  kubernetes/main/apps/downloads/sonarr/install.yaml
  kubernetes/main/apps/flux-system/add-ons/install.yaml
  kubernetes/main/apps/games/romm/install.yaml
  kubernetes/main/apps/networking/cloudflared/install.yaml
  kubernetes/main/apps/observability/alertmanager/install.yaml
  kubernetes/main/apps/observability/gatus/install.yaml
  kubernetes/main/apps/observability/grafana/install.yaml
  kubernetes/main/apps/selfhosted/immich/install.yaml
  kubernetes/main/apps/selfhosted/kitchenowl/install.yaml
  kubernetes/main/apps/selfhosted/mastodon-getmoarfediverse/install.yaml
  kubernetes/main/apps/selfhosted/mastodon/install.yaml
  kubernetes/main/apps/selfhosted/miniflux/install.yaml
  kubernetes/main/apps/selfhosted/radicale/install.yaml
Labels: area/kubernetes

fix(cert-manager): update config
  kubernetes/main/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/storage/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

fix(dragonfly): update config
  kubernetes/main/apps/databases/dragonfly/cluster/cluster.yaml
  kubernetes/main/apps/databases/dragonfly/operator/helm-release.yaml
  kubernetes/main/apps/databases/dragonfly/operator/kustomization.yaml
  kubernetes/main/apps/databases/dragonfly/operator/rbac.yaml
Labels: area/kubernetes

fix(bootstrap): add prometheus crds and spegel
  infrastructure/talos/bootstrap/helmfile.yaml
Labels: none
