Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

chore(deps): update fluxcd/flux2 to v0.40.1
  kubernetes/flux/flux-system/gotk-components.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.152.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image nextcloud to v25.0.4
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.3.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(terraform)!: Update Terraform cloudflare to 4.0.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

fix(helm): update chart loki to 4.6.2
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.152.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.9.0
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 4.7.0
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.0.18
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.1
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

feat(container): update image bitnami/redis-exporter to v1.47.0
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.15.4
  .pre-commit-config.yaml
Labels: none

fix(container): update image louislam/uptime-kuma to v1.20.2
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

ci(deps): update peter-evans/find-comment action to v2.3.0
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

feat(helm): update chart grafana to 6.51.0
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.8
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.10
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.16.0
  .pre-commit-config.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v34.152.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update tj-actions/changed-files action to v35.6.0
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

ci(deps): update tj-actions/changed-files action to v35.6.0
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

feat(terraform): update terraform minio to 1.12.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

fix(container): update image plexinc/pms-docker to v1.31.1.6733-bc0674160
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

fix(container): update image quay.io/minio/minio to release.2023-02-27t18-10-45z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.10.12
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 6.4.0
  infrastructure/ansible/requirements.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v34.153.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image timberio/vector to v0.28.0
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update fluxcd/flux2 to v0.40.2
  kubernetes/flux/flux-system/gotk-components.yaml
Labels: area/kubernetes

feat(helm): update chart vector to 0.20.0
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v35.6.1
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.26.2
  kubernetes/cluster/kube-system/tainter/cronjob.yaml
  kubernetes/cluster/networking/cloudflare-ddns/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/siderolabs/kubelet to v1.26.2
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-k8s.sh
Labels: none

ci(deps): update renovatebot/github-action action to v34.154.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart loki to 4.8.0
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.0.19
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.2
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

fix(container): update redis/redis
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.154.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
