Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

chore(deps): update pre-commit hook antonbabenko/pre-commit-terraform to v1.83.5
  .pre-commit-config.yaml
Labels: none

fix(container): update image kube-prometheus-stack to v51.4.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.4
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.5.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/simojenki/bonob to v0.6.11
  kubernetes/apps/media/bonob/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.10
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart weave-gitops to 4.0.32
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart minecraft-bedrock to 2.4.0
  kubernetes/apps/games/minecraft/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image nextcloud to v27.1.2
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update flux group to v2.1.2
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.5
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.2
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/github-actions-runner to 838c852
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.11
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to fa87be8
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.10.3
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 4.3.3
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.7.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.6
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-10-14t05-17-22z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/bazarr to v1.3.1
  kubernetes/apps/downloads/bazarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.53
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v2.0.8
  kubernetes/apps/databases/postgres-backup/app/v16/cronjob.yaml
Labels: area/kubernetes

feat(container): update image registry.k8s.io/git-sync/git-sync to v4.1.0
  kubernetes/apps/downloads/bazarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image xperimental/nextcloud-exporter to v0.6.2
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 4.3.4
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v39.0.6
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/miniflux/miniflux to v2.0.49
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-10-16t04-13-43z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v39.1.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image kube-prometheus-stack to v51.8.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.82.0
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.700
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update actions/checkout action to v4.1.1
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update siderolabs/talos to v1.5.4
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/common.sh
  infrastructure/talos/talconfig.yaml
Labels: none

fix(helm): update chart nextcloud to 4.3.5
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image prometheus-smartctl-exporter to v0.7.0
  kubernetes/apps/monitoring/smartctl-exporter/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.61.0
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/esphome/esphome to v2023.10.0
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.9.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
