Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.14.1
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/esphome/esphome to v2023.4.0
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.2.0
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.17.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(container): update image timberio/vector to v0.29.1
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart goldilocks to 6.5.5
  kubernetes/cluster/monitoring/goldilocks/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform kubernetes to 2.20.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: area/terraform

fix(container): update image nextcloud to v26.0.1
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(container): update image plexinc/pms-docker to v1.32.0.6973-a787c5a8e
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

fix(helm): update chart vector to 0.21.1
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-04-20t17-56-55z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart prometheus-smartctl-exporter to 0.4.1
  kubernetes/cluster/monitoring/smartctl-exporter/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v36.0.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.4.6
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v35.9.0
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

feat(container): update image ghcr.io/coder/code-server to v4.12.0
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.19.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

Update allowedVersions.json5 with new minor version of Kubernetes.
  .github/renovate/allowedVersions.json5
Labels: area/ci

feat(container): update image ghcr.io/siderolabs/kubelet to v1.27.1
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-k8s.sh
Labels: none

chore(deps): update community.general to 6.6.0
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

ci(deps): update peter-evans/find-comment action to v2.4.0
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

feat(helm): update chart redis to 17.10.1
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform http to 3.3.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

fix(helm): update chart cloudnative-pg to 0.17.2
  kubernetes/cluster/databases/cloudnative-pg/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.14.2
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.0.24
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(helm): update chart prometheus-smartctl-exporter to 0.4.3
  kubernetes/cluster/monitoring/smartctl-exporter/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.4.2
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.11
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.13.1
  kubernetes/cluster/kube-tools/node-feature-discovery/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.24
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

fix(container): update image haproxytech/haproxy-alpine to v2.7.7
  kubernetes/cluster/networking/haproxy/helm-release.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.7.1
  .taskfiles/tools.yaml
Labels: none

ci(deps): update tj-actions/changed-files action to v35.9.1
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

feat(helm): update chart kube-prometheus-stack to 45.23.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.3.1
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image ghcr.io/onedr0p/sabnzbd to v4
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
Labels: area/kubernetes

fix(container): update image influxdb to v2.7.1
  kubernetes/cluster/databases/influxdb/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-04-28t18-11-17z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.56.1
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
