Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

feat(terraform): update terraform kubernetes to 2.19.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.11.1
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/node-problem-detector/node-problem-detector to v0.8.13
  kubernetes/cluster/kube-tools/node-problem-detector/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.9.2
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v36.0.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image emqx/emqx to v5.0.21
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-03-24t21-41-23z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.5.4
  kubernetes/cluster/networking/ingress-nginx/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.19
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.15
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

feat(helm): update chart ingress-nginx to 4.6.0
  kubernetes/cluster/networking/ingress-nginx/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.3.2
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.16
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

fix(container): update image louislam/uptime-kuma to v1.21.1
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/external-dns/external-dns to v0.13.4
  kubernetes/cluster/networking/external-dns/helm-release.yaml
  kubernetes/cluster/networking/external-dns/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.8.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 6.5.0
  infrastructure/ansible/requirements.yaml
Labels: none

ci(deps): update tj-actions/changed-files action to v35.7.7
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

feat(helm): update chart thanos to 12.4.0
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(container): update image haproxytech/haproxy-alpine to v2.7.6
  kubernetes/cluster/networking/haproxy/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart metrics-server to 3.9.0
  kubernetes/cluster/kube-system/metrics-server/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v35.7.8
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(container): update image plexinc/pms-docker to v1.31.3.6868-28fc46b27
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

fix(helm): update chart kube-prometheus-stack to 45.8.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart actions-runner-controller to 0.23.0
  kubernetes/cluster/selfhosted/actions-runner-controller/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart external-dns to 1.12.2
  kubernetes/cluster/networking/external-dns/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 4.10.0
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.18
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

feat(helm): Update chart kubelet-csr-approver to 1.0.0
  kubernetes/cluster/kube-system/kubelet-csr-approver/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image docker to v24
  kubernetes/cluster/selfhosted/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.3
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.20
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.16
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.9.3
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.4.1
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

feat(container): update image bitnami/redis-exporter to v1.49.0
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.52.5
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart k8s-gateway to 2.0.3
  kubernetes/cluster/networking/k8s-gateway/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.12.2
  kubernetes/cluster/kube-tools/node-feature-discovery/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.4.2
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
