Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.682
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image nextcloud to v27.1.0
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.5
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update flux group to v2.1.1
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

Deploy slskd
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/config-pvc.yaml
  kubernetes/apps/downloads/slskd/app/helm-release.yaml
  kubernetes/apps/downloads/slskd/app/kustomization.yaml
  kubernetes/apps/downloads/slskd/app/sops.secrets.yaml
  kubernetes/apps/downloads/slskd/install.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

Update Frigate config
  kubernetes/apps/home-automation/frigate/app/config/config.yaml
Labels: area/kubernetes

Fix issue with EMQX-operator
  kubernetes/apps/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

Update kubelet-csr-approver config
  infrastructure/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/values.yaml
Labels: area/kubernetes

Fix bug in k8s upgrade script
  infrastructure/talos/common.sh
Labels: none

Update recyclarr config
  kubernetes/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

Update Thanos config
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/minio_bucket_thanos.tf
  infrastructure/terraform/minio/modules/minio_bucket/.terraform.lock.hcl
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes, area/terraform

Update Talos Cilium integration to latest version
  infrastructure/talos/integrations/cni/cilium.yaml
Labels: none

ci(deps): update tibdex/github-app-token action to v2.1.0
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-pr-size-label.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(terraform): update terraform cloudflare to 4.15.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

fix(container): update image quay.io/thanos/thanos to v0.32.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.41
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.14.1
  kubernetes/apps/kube-tools/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.2.1
  kubernetes/apps/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-09-20t22-49-55z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.5
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.48
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.26.0
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image nextcloud to v27.1.1
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.79.1
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook antonbabenko/pre-commit-terraform to v1.83.4
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart grafana to 6.59.5
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update siderolabs/talos to v1.5.3
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/common.sh
  infrastructure/talos/talconfig.yaml
Labels: none

ci(deps): update actions/checkout action to v4.1.0
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/coder/code-server to v4.17.0
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.1.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart minecraft-bedrock to 2.2.0
  kubernetes/apps/games/minecraft/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image redis to v18.1.0
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.60.1
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/jellyfin to v10.8.11
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart ingress-nginx to 4.8.0
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.9.3
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-09-23t03-47-50z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.13.0
  .taskfiles/tools.yaml
Labels: none

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.49
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/slskd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/jellyfin/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
