Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/docs, area/docker, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "docker/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"

feat(n8n): deploy
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/n8n/app/external-secret.yaml
  kubernetes/apps/selfhosted/n8n/app/helm-release.yaml
  kubernetes/apps/selfhosted/n8n/app/kustomization.yaml
  kubernetes/apps/selfhosted/n8n/install.yaml
Labels: area/kubernetes

fix: update github workflows
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
  .github/workflows/scan-supported-k8s-version.yaml
Labels: area/ci

fix: misc updates to Renovate config
  .renovate/autoMerge.json5
  .renovate/groups.json5
  .renovate/regexManagers.json5
  .renovaterc.json5
Labels: none

feat(rook-ceph): move to oci
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/oci-repository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/oci-repository.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/rook-ceph-charts.yaml
Labels: area/kubernetes

feat(snapshot-controller): move to oci
  kubernetes/apps/storage/snapshot-controller/app/helm-release.yaml
  kubernetes/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/storage/snapshot-controller/app/oci-repository.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/piraeus-charts.yaml
Labels: area/kubernetes

fix: add missing component reference
  kubernetes/apps/home-automation/kustomization.yaml
Labels: area/kubernetes

fix: /tank doesn't exist anymore 😢
  backups/deployment.yaml
  kubernetes/apps/storage/zfs-scrub/app/cronjob.yaml
Labels: area/kubernetes

fix: update Buoy deployment
  .taskfiles/kubernetes/resources/buoy-pod.tmpl.yaml
Labels: none

misc updates
  .vscode/settings.json
  kubernetes/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix: another missing component reference
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

fix: update address to alert manager
  kubernetes/components/alerts/provider.yaml
Labels: area/kubernetes

fix: znapzend should have access to /dev
  kubernetes/apps/storage/znapzend/app/helm-release.yaml
Labels: area/kubernetes

feat(kaneo): deploy
  kubernetes/apps/selfhosted/kaneo/app/external-secret.yaml
  kubernetes/apps/selfhosted/kaneo/app/helm-release.yaml
  kubernetes/apps/selfhosted/kaneo/app/kustomization.yaml
  kubernetes/apps/selfhosted/kaneo/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat(docmost): deploy
  kubernetes/apps/selfhosted/docmost/app/database.yaml
  kubernetes/apps/selfhosted/docmost/app/external-secret.yaml
  kubernetes/apps/selfhosted/docmost/app/helm-release.yaml
  kubernetes/apps/selfhosted/docmost/app/kustomization.yaml
  kubernetes/apps/selfhosted/docmost/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat(smartctl-exporter): update config and add rule for old drives
  kubernetes/apps/observability/smartctl-exporter/app/helm-release.yaml
  kubernetes/apps/observability/smartctl-exporter/app/prometheus-rules.yaml
Labels: area/kubernetes

fix(pocket-id): update env vars
  kubernetes/apps/security/pocket-id/app/helm-release.yaml
Labels: area/kubernetes

fix: semantic versioning for oci
  .renovate/semanticCommits.json5
Labels: none

fix(renovate): update auto merge config
  .renovate/autoMerge.json5
Labels: none

fix(cert-manager): switch to oci repo
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/oci-repository.yaml
  kubernetes/flux/meta/repositories/helm/jetstack-charts.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: remove kaneo
  kubernetes/apps/selfhosted/kaneo/app/external-secret.yaml
  kubernetes/apps/selfhosted/kaneo/app/helm-release.yaml
  kubernetes/apps/selfhosted/kaneo/app/kustomization.yaml
  kubernetes/apps/selfhosted/kaneo/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat(outpin): deploy
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/outpin/app/external-secret.yaml
  kubernetes/apps/selfhosted/outpin/app/helm-release.yaml
  kubernetes/apps/selfhosted/outpin/app/kustomization.yaml
  kubernetes/apps/selfhosted/outpin/install.yaml
Labels: area/kubernetes

fix(evcc): downgrade
  kubernetes/apps/home-automation/evcc/app/helm-release.yaml
Labels: area/kubernetes

fix(docmost): backup db
  kubernetes/apps/databases/postgres-backup/app/v17/cronjob.yaml
Labels: area/kubernetes

fix(cluster): update multiple versions since renovate hasn't
  kubernetes/apps/databases/cloudnative-pg/clusters/v17/postgres-cluster.yaml
  kubernetes/apps/downloads/radarr/app/helm-release.yaml
  kubernetes/apps/games/minecraft/app/helm-release.yaml
  kubernetes/apps/games/romm/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/apps/media/navidrome/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/apps/networking/external-dns/unifi/helm-release.yaml
Labels: area/kubernetes

fix(cluster): update multiple versions since renovate hasn't
  kubernetes/apps/observability/grafana/app/helm-release.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/oci-repository.yaml
  kubernetes/apps/observability/kube-state-metrics/app/oci-repository.yaml
  kubernetes/apps/observability/node-exporter/app/oci-repository.yaml
  kubernetes/apps/selfhosted/gramps/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/mastodon/app/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/n8n/app/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
  kubernetes/apps/storage/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(immich): update machine learning
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
Labels: area/kubernetes

fix(docmost): switch from docker hub
  kubernetes/apps/selfhosted/docmost/app/helm-release.yaml
Labels: area/kubernetes

feat(emqx): monitoring
  kubernetes/apps/home-automation/emqx/cluster/pod-monitor.yaml
  kubernetes/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(home assistant): more ram
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(flux): update version
  kubernetes/apps/flux-system/operator/instance/helm-values.yaml
Labels: area/kubernetes

fix(cilium): monitoring and crd updates
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/kube-system/cilium/config/l3.yaml
  kubernetes/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(coredns): config updates
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
Labels: area/kubernetes

fix(external dns): misc updates
  kubernetes/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/apps/networking/external-dns/cloudflare/prometheus-rule.yaml
  kubernetes/apps/networking/external-dns/unifi/external-secret.yaml
  kubernetes/apps/networking/external-dns/unifi/helm-release.yaml
Labels: area/kubernetes

fix: update renovate config, github workflows and add task
  .github/scripts/kubernetes-version.sh
  .github/workflows/scan-supported-k8s-version.yaml
  .renovate/groups.json5
  .renovate/semanticCommits.json5
  .taskfiles/kubernetes/taskfile.yaml
Labels: area/ci

fix(grafana): add external dns dashboard
  kubernetes/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

feat(karakeep): deploy
  kubernetes/apps/selfhosted/karakeep/app/external-secret.yaml
  kubernetes/apps/selfhosted/karakeep/app/helm-release.yaml
  kubernetes/apps/selfhosted/karakeep/app/kustomization.yaml
  kubernetes/apps/selfhosted/karakeep/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat(fusion): deploy
  kubernetes/apps/selfhosted/fusion/app/helm-release.yaml
  kubernetes/apps/selfhosted/fusion/app/kustomization.yaml
  kubernetes/apps/selfhosted/fusion/install.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat(cnpg): switch to oci
  kubernetes/apps/databases/cloudnative-pg/app/helm-release.yaml
  kubernetes/apps/databases/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/app/oci-repository.yaml
  kubernetes/flux/meta/repositories/helm/cloudnative-pg-charts.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(coredns): do what everyone else is doing
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
Labels: area/kubernetes

misc fixes
  .renovate/regexManagers.json5
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/networking/cloudflared/app/config/config.yaml
Labels: area/kubernetes
