Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

Add pod annotations on misc pods
  kubernetes/cluster/cert-manager/helm-release.yaml
  kubernetes/cluster/monitoring/loki/helm-release.yaml
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
  kubernetes/cluster/networking/external-dns/helm-release.yaml
Labels: area/kubernetes

Rename file to match the other files in the directory
  kubernetes/charts/ingress-nginx-charts.yaml
  kubernetes/charts/kustomization.yaml
Labels: area/kubernetes

Replaced Intel GPU Plugin with Intel Device Plugin
  kubernetes/charts/intel-charts.yaml
  kubernetes/charts/kustomization.yaml
  kubernetes/cluster/home-automation/frigate/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
  kubernetes/cluster/kube-tools/intel-device-plugins/gpu/helm-release.yaml
  kubernetes/cluster/kube-tools/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/cluster/kube-tools/intel-device-plugins/gpu/nodefeaturerule.yaml
  kubernetes/cluster/kube-tools/intel-device-plugins/helm-release.yaml
  kubernetes/cluster/kube-tools/intel-device-plugins/kustomization.yaml
  kubernetes/cluster/kube-tools/intel-gpu-exporter/helm-release.yaml
  kubernetes/cluster/kube-tools/intel-gpu-plugin/helm-release.yaml
  kubernetes/cluster/kube-tools/node-feature-discovery/helm-release.yaml
  kubernetes/cluster/kube-tools/node-feature-discovery/kustomization.yaml
  kubernetes/cluster/kube-tools/node-feature-discovery/rules/aeotec-zwave-device.yaml
  kubernetes/cluster/kube-tools/node-feature-discovery/rules/google-coral-device.yaml
  kubernetes/cluster/kube-tools/node-feature-discovery/rules/kustomization.yaml
Labels: area/kubernetes

Switch to docker volumes for samba container
  docker/atlas/samba/docker-compose.yaml
Labels: area/docker

Updated minio config
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

Updated frigate config
  kubernetes/cluster/home-automation/frigate/config.yaml
Labels: area/kubernetes

Deployed zwave-coordinator (Ansible) and a second zwavejs instance to do some testing
  infrastructure/ansible/inventory/host_vars/zwave-coordinator/apt.yaml
  infrastructure/ansible/inventory/host_vars/zwave-coordinator/readonly.yaml
  infrastructure/ansible/inventory/host_vars/zwave-coordinator/ser2net.yaml
  infrastructure/ansible/inventory/hosts.yaml
  infrastructure/ansible/provision_iot.yaml
  infrastructure/ansible/roles/apt/defaults/main.yaml
  infrastructure/ansible/roles/apt/tasks/configure.yaml
  infrastructure/ansible/roles/apt/tasks/main.yaml
  infrastructure/ansible/roles/readonly/tasks/main.yaml
  infrastructure/ansible/roles/readonly/vars/main.yaml
  infrastructure/ansible/roles/ser2net/handlers/main.yaml
  infrastructure/ansible/roles/ser2net/tasks/main.yaml
  infrastructure/ansible/roles/ser2net/templates/ser2net.yaml.j2
  infrastructure/ansible/roles/ser2net/vars/main.yaml
  kubernetes/cluster/home-automation/kustomization.yaml
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwave-js-ui/kustomization.yaml
  kubernetes/cluster/home-automation/zwave-js-ui/pvc.yaml
Labels: area/kubernetes

Scale down descheduler and kyverno
  kubernetes/cluster/kube-tools/descheduler/helm-release.yaml
  kubernetes/cluster/kube-tools/kyverno/helm-release.yaml
Labels: area/kubernetes

Updated Talos config
  infrastructure/talos/talconfig.yaml
Labels: none

Rename backup jobs
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
Labels: area/kubernetes

Rewrote Cloudflare Terraform
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/account.tf
  infrastructure/terraform/cloudflare/api_key_cert_manager.tf
  infrastructure/terraform/cloudflare/api_key_cloudflare_ddns.tf
  infrastructure/terraform/cloudflare/api_key_external_dns.tf
  infrastructure/terraform/cloudflare/api_keys.tf
  infrastructure/terraform/cloudflare/cloudflare_secrets.sops.yaml
  infrastructure/terraform/cloudflare/dns_records.tf
  infrastructure/terraform/cloudflare/domain_extra1.tf
  infrastructure/terraform/cloudflare/domain_family.tf
  infrastructure/terraform/cloudflare/domain_homelab.tf
  infrastructure/terraform/cloudflare/firewall_rules.tf
  infrastructure/terraform/cloudflare/locals.tf
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/modules/cf_domain/dns.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/firewall.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/main.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/outputs.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/variables.tf
  infrastructure/terraform/cloudflare/providers.tf
  infrastructure/terraform/cloudflare/sops.secrets.yaml
Labels: none

Added Minio Terraform provisioning
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/backend.tf
  infrastructure/terraform/minio/main.tf
  infrastructure/terraform/minio/minio_bucket_loki.tf
  infrastructure/terraform/minio/minio_bucket_thanos.tf
  infrastructure/terraform/minio/minio_secrets.sops.yaml
  infrastructure/terraform/minio/modules/minio_bucket/.terraform.lock.hcl
  infrastructure/terraform/minio/modules/minio_bucket/main.tf
  infrastructure/terraform/minio/modules/minio_bucket/output.tf
  infrastructure/terraform/minio/modules/minio_bucket/variables.tf
  infrastructure/terraform/minio/providers.tf
  kubernetes/cluster/monitoring/loki/kustomization.yaml
  kubernetes/cluster/monitoring/loki/sops.secrets.yaml
  kubernetes/cluster/monitoring/thanos/kustomization.yaml
  kubernetes/cluster/monitoring/thanos/sops.secrets.yaml
Labels: area/kubernetes

Minor fixes to monitoring services
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
  kubernetes/cluster/monitoring/speedtest-exporter/helm-release.yaml
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

Fixed typo in readme
  README.md
Labels: none

Updated changelog
  CHANGELOG.md
Labels: none

fix(container): update image nextcloud to v25.0.3
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.105.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart reloader to v1.0.2
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.12.1
  kubernetes/cluster/kube-tools/node-feature-discovery/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.105.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.26.1
  kubernetes/cluster/kube-system/tainter/cronjob.yaml
  kubernetes/cluster/networking/cloudflare-ddns/cronjob.yaml
Labels: area/kubernetes

fix(container): update image louislam/uptime-kuma to v1.19.6
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.10.10
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(container): update image timberio/vector to v0.27.0
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart nextcloud to 3.4.1
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart vector to 0.19.0
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
Labels: area/kubernetes

feat(helm): Update chart loki to 4.4.0
  kubernetes/cluster/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

feat(helm): Update chart thanos to 12.0.0
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.105.6
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart grafana to 6.50.1
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.1.6
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.106.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image quay.io/minio/minio to release.2023-01-20t02-05-44z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(container): update haproxytech/haproxy-alpine to v2.7.2
  infrastructure/ansible/roles/udmpro/files/scripts/10-onboot-haproxy.sh
  kubernetes/cluster/networking/haproxy/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/siderolabs/kubelet to v1.26.1
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-k8s.sh
Labels: none

fix(container): update image emqx/emqx to v5.0.15
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.108.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart redis to 17.5.1
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.108.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.108.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci
