Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

Zwave JS should use correct VLAN and nodes
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.584
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.585
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image kyverno to v3.0.4
  kubernetes/apps/kube-tools/kyverno/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 7.2.1
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.22.0
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.10.1
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.16.1
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.7.1
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.1.4
  kubernetes/apps/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.2.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.9.0
  .taskfiles/tools.yaml
Labels: none

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.32.2
  kubernetes/apps/home-automation/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.588
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.14.4
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.12.1
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.7
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.34
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.14.5
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart weave-gitops to 4.0.27
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.21
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart metrics-server to 3.11.0
  kubernetes/apps/kube-system/metrics-server/app/helm-release.yaml
Labels: area/kubernetes

Deploy bonob and navidrome
  kubernetes/apps/media/bonob/app/helm-release.yaml
  kubernetes/apps/media/bonob/app/kustomization.yaml
  kubernetes/apps/media/bonob/install.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/media/navidrome/app/config-pvc.yaml
  kubernetes/apps/media/navidrome/app/helm-release.yaml
  kubernetes/apps/media/navidrome/app/kustomization.yaml
  kubernetes/apps/media/navidrome/install.yaml
Labels: area/kubernetes

Replace Kyverno with k8s-ycl
  kubernetes/apps/kube-tools/k8s-ycl/app/helm-release.yaml
  kubernetes/apps/kube-tools/k8s-ycl/app/kustomization.yaml
  kubernetes/apps/kube-tools/k8s-ycl/install.yaml
  kubernetes/apps/kube-tools/kustomization.yaml
  kubernetes/apps/kube-tools/kyverno/app/helm-release.yaml
  kubernetes/apps/kube-tools/kyverno/install.yaml
  kubernetes/apps/kube-tools/kyverno/policies/kustomization.yaml
  kubernetes/apps/kube-tools/kyverno/policies/remove-cpu-limits.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/kyverno-charts.yaml
Labels: area/kubernetes

Misc maintenance
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/apps/selfhosted/immich/app/typesense/helm-release.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.2
  .pre-commit-config.yaml
Labels: none

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.37
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.592
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.10.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.3
  .pre-commit-config.yaml
Labels: none

chore(deps): update image ghcr.io/ahinko/github-actions-runner to a362f4b
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
Labels: area/kubernetes

fix(terraform): update terraform minio to 1.17.2
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: area/terraform

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.600
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-assistant/home-assistant to v2023.8.1
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image quay.io/minio/minio to release.2023-08-04t17-40-21z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.38
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/downloads/bazarr/app/backup.yaml
  kubernetes/apps/downloads/lidarr/app/backup.yaml
  kubernetes/apps/downloads/radarr/app/backup.yaml
  kubernetes/apps/downloads/sabnzbd/app/backup.yaml
  kubernetes/apps/downloads/sonarr-requests/app/backup.yaml
  kubernetes/apps/downloads/sonarr/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/navidrome/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.34
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/ahinko/kubernetes-schemas to e80fcc0
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update allenporter/flux-local action to 3.1.1
  .github/workflows/flux-diff.yaml
Labels: area/ci

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.601
  kubernetes/apps/downloads/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/downloads/sonarr/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
