Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

ci(deps): update renovatebot/github-action action to v32.172.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update community.general to 5.5.0
  infrastructure/requirements.yaml
Labels: none

feat(terraform): update terraform kubernetes to 2.13.0
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

Fix permissions
  .github/scripts/helm-release-differ.sh
Labels: area/ci

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.1.2
  kubernetes/apps/games/minecraft/backup.yaml
  kubernetes/apps/kube-system/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

feat(helm): update chart minio to 11.9.1
  kubernetes/apps/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart minio to 11.9.2
  kubernetes/apps/default/minio/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.173.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/k8s-at-home/kubectl to v1.25.0
  kubernetes/apps/networking/cloudflare-ddns/cronjob.yaml
  kubernetes/core/kube-system/tainter/cronjob.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 3.22.0
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

chore(deps): update kubernetes-sigs/node-feature-discovery to v0.11.2
  kubernetes/core/kube-system/node-feature-discovery/kustomization.yaml
Labels: area/kubernetes

fix(container): update image k8s.gcr.io/nfd/node-feature-discovery to v0.11.2
  kubernetes/core/kube-system/node-feature-discovery/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.11.2
  kubernetes/core/kube-system/node-feature-discovery/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.1.2
  kubernetes/apps/databases/redis/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/siderolabs/kubelet to v1.25.0
  infrastructure/kubernetes/talconfig.yaml
  infrastructure/kubernetes/upgrade-k8s.sh
Labels: none

Update Frigate config to get audio in recordings
  kubernetes/apps/home-automation/frigate/config.yaml
Labels: area/kubernetes

Misc updates to github actions
  .github/linters/.yamllint.yaml
  .github/renovate/allowedVersions.json5
  .github/renovate/groups.json5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

Update backup path
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update node-feature-discovery docker tags
  kubernetes/core/kube-system/node-feature-discovery/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to v2.5.3
  kubernetes/apps/kube-system/kyverno/helm-release.yaml
  kubernetes/apps/kube-system/kyverno/kustomization.yaml
Labels: area/kubernetes

Try and group all of node-feature-discovery updates
  .github/renovate/groups.json5
  cloud/cloudflare/.terraform.lock.hcl
Labels: area/ci, area/terraform

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.11.1
  .pre-commit-config.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v32.174.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart nextcloud to 3.1.0
  kubernetes/apps/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2022.8.7
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.177.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.11.2
  .pre-commit-config.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v32.179.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update endbug/label-sync action to v2.3.0
  .github/workflows/meta-sync-labels.yaml
Labels: area/ci

ci(deps): update oxsecurity/megalinter action to v6.7.0
  .github/workflows/mega-linter.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.180.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update oxsecurity/megalinter action to v6.7.1
  .github/workflows/mega-linter.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.180.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.181.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(terraform): update terraform kubernetes to 2.13.1
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

fix(container): update image plexinc/pms-docker to v1.28.2.6106-44a5bbd28
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

chore(deps): update fluxcd/flux2 to v0.33.0
  kubernetes/flux/flux-system/gotk-components.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwavejs2mqtt to v6.16.0
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart minio to 11.9.3
  kubernetes/apps/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.9.10
  kubernetes/core/rook-ceph/cluster/helm-release.yaml
  kubernetes/core/rook-ceph/kustomization.yaml
  kubernetes/core/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
