Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

feat(container): Update image ghcr.io/onedr0p/lidarr to v2
  kubernetes/apps/downloads/lidarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v55.1.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.14
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.17.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.13.3
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v55.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image redis to v18.5.0
  kubernetes/apps/databases/redis/app/helm-release.yaml
Labels: area/kubernetes

chore(github-action): switch to official create app token action
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-pr-size-label.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(labeler): update config
  .github/labeler.yaml
Labels: area/ci

chore(renovate): update config
  .github/renovate.json5
Labels: area/ci

chore(descheduler): bye bye
  kubernetes/apps/kube-tools/descheduler/app/helm-release.yaml
  kubernetes/apps/kube-tools/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-tools/descheduler/install.yaml
  kubernetes/apps/kube-tools/kustomization.yaml
Labels: area/kubernetes

add kitchen owl dependency
  kubernetes/apps/selfhosted/kitchenowl/app/backend/pvc.yaml
  kubernetes/apps/selfhosted/kitchenowl/install.yaml
Labels: area/kubernetes

chore(paperless): deploy
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/paperless/app/database.yaml
  kubernetes/apps/selfhosted/paperless/app/helm-release.yaml
  kubernetes/apps/selfhosted/paperless/app/kustomization.yaml
  kubernetes/apps/selfhosted/paperless/app/nfs-pvc.yaml
  kubernetes/apps/selfhosted/paperless/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/paperless/install.yaml
Labels: area/kubernetes

chore(helm): remove unused repo
  kubernetes/flux/repositories/helm/fsociety-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore(zot): add pvc
  kubernetes/apps/storage/zot/app/helm-release.yaml
  kubernetes/apps/storage/zot/app/kustomization.yaml
  kubernetes/apps/storage/zot/app/pvc.yaml
Labels: area/kubernetes

chore(redis): remove cluster
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/databases/redis/app/helm-release.yaml
  kubernetes/apps/databases/redis/install.yaml
  kubernetes/apps/databases/redis/readme.md
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/install.yaml
  kubernetes/apps/selfhosted/immich/redis/helm-release.yaml
  kubernetes/apps/selfhosted/immich/redis/kustomization.yaml
Labels: area/kubernetes

chore(tasks): update talos paths and filenames
  .taskfiles/talos.yaml
Labels: none

chore(postgres): update load balancer config
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/loadbalancer.yaml
Labels: area/kubernetes

chore(postgres): prepare for next Immich release
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
Labels: area/kubernetes

Update allowedVersions.json5 with new minor version of Kubernetes.
  .github/renovate/allowedVersions.json5
Labels: area/ci

Update renovate config
  .github/renovate.json5
  .github/renovate/regexManagers.json5
Labels: area/ci

Deploy mailrise
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/mailrise/app/helm-release.yaml
  kubernetes/apps/selfhosted/mailrise/app/kustomization.yaml
  kubernetes/apps/selfhosted/mailrise/app/mailrise.yaml
  kubernetes/apps/selfhosted/mailrise/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/mailrise/install.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat(zot): add retention config
  kubernetes/apps/storage/zot/app/config/config.json
Labels: area/kubernetes

fix(rook): use default versions
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

fix(reloader): update config
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
Labels: area/kubernetes

fix(talos): update config, remove faulty args to kubelet
  infrastructure/talos/talconfig.yaml
Labels: none

fix(immich): let immich handle config file
  kubernetes/apps/selfhosted/immich/app/server/config/immich-config.json
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/kustomization.yaml
Labels: area/kubernetes

fix(element): update chart repo url
  kubernetes/flux/repositories/helm/element-charts.yaml
Labels: area/kubernetes

fix(postgres): update backup secrets
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
  kubernetes/apps/databases/postgres-backup/app/v16/sops.secrets.yaml
Labels: area/kubernetes

fix(terraform): update mail configs
  infrastructure/terraform/cloudflare/domain_extra1.tf
  infrastructure/terraform/cloudflare/domain_social.tf
Labels: none

Update taskfiles
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/kubernetes.yaml
  .taskfiles/maintenance.yaml
  .taskfiles/rook.yaml
  .taskfiles/rook/WipeDiskJob.tmpl.yaml
  .taskfiles/rook/WipeRookDataJob.tmpl.yaml
  .taskfiles/rook/tasks.yaml
  .taskfiles/tools.yaml
Labels: none

Update renovate and github workflows
  .github/renovate/semanticCommits.json5
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
Labels: area/ci

update docs
  docs/cluster/expose-services.md
  docs/cluster/provision.md
  docs/snippets.md
  infrastructure/talos/provision.sh
Labels: area/docs

feat(minio): move to storage namespace
  infrastructure/terraform/minio/minio_bucket_backups.tf
  infrastructure/terraform/minio/minio_bucket_thanos.tf
  kubernetes/apps/databases/cloudnative-pg/clusters/v16/postgres-cluster.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/minio/app/helm-release.yaml
  kubernetes/apps/storage/minio/app/kustomization.yaml
  kubernetes/apps/storage/minio/app/nfs-pvc.yaml
  kubernetes/apps/storage/minio/app/sops.secrets.yaml
  kubernetes/apps/storage/minio/install.yaml
Labels: area/kubernetes

Add rook wipe job manifest
  Taskfile.yml
  kubernetes/tools/rook/wipe-job.yaml
Labels: area/kubernetes

feat(zot): add ui
  kubernetes/apps/storage/zot/app/config/config.json
Labels: area/kubernetes

feat(immich): update to 1.91.4
  kubernetes/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/immich/app/typesense/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/typesense/kustomization.yaml
Labels: area/kubernetes

Re-deploy cluster without Multus
  .env-example
  infrastructure/talos/integrations/cni/cilium.yaml
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helm-release.yaml
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/multus/app/helm-release.yaml
  kubernetes/apps/networking/multus/app/kustomization.yaml
  kubernetes/apps/networking/multus/config/kustomization.yaml
  kubernetes/apps/networking/multus/config/net-attach-iot.yaml
  kubernetes/apps/networking/multus/install.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

add missing backup restore jobs
  kubernetes/tools/restore-backups/jellyfin-job.yaml
  kubernetes/tools/restore-backups/kitchenowl-job.yaml
  kubernetes/tools/restore-backups/navidrome-job.yaml
  kubernetes/tools/restore-backups/slskd-job-yaml
Labels: area/kubernetes

Update nextcloud postgres creds
  kubernetes/apps/selfhosted/nextcloud/app/sops.secrets.yaml
Labels: area/kubernetes
