Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.11.0
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.8.6
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.3.1
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/siderolabs/kubelet to v1.26.3
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-k8s.sh
Labels: none

fix(helm): update chart node-problem-detector to 2.3.4
  kubernetes/cluster/kube-tools/node-problem-detector/helm-release.yaml
Labels: area/kubernetes

feat(container): update image louislam/uptime-kuma to v1.21.0
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.17.1
  kubernetes/cluster/databases/cloudnative-pg/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-03-20t20-16-18z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

chore(deps): update fluxcd/flux2 to v0.41.2
  kubernetes/flux/flux-system/gotk-components.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 17.9.0
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(container): update image esphome/esphome to v2023.3.1
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph-suite to v1.11.2
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/kustomization.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.2.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

fix(container): update redis/redis to v7.0.10
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 2.7.2
  kubernetes/cluster/kube-tools/kyverno/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook adrienverge/yamllint to v1.30.0
  .pre-commit-config.yaml
Labels: none

Remove Ansible role for handling router
  infrastructure/ansible/inventory/host_vars/udmpro/udmpro.yaml
  infrastructure/ansible/inventory/hosts.yaml
  infrastructure/ansible/provision_udmpro.yaml
  infrastructure/ansible/roles/udmpro/defaults/main.yaml
  infrastructure/ansible/roles/udmpro/files/cni/10-haproxy.conflist
  infrastructure/ansible/roles/udmpro/files/scripts/00-onboot-sshkeys.sh
  infrastructure/ansible/roles/udmpro/files/scripts/05-onboot-container.sh
  infrastructure/ansible/roles/udmpro/files/scripts/05-onboot-install-cni-plugins.sh
  infrastructure/ansible/roles/udmpro/files/scripts/10-onboot-ffr.sh
  infrastructure/ansible/roles/udmpro/files/scripts/10-onboot-haproxy.sh
  infrastructure/ansible/roles/udmpro/files/scripts/10-onboot-nodeexporter.sh
  infrastructure/ansible/roles/udmpro/files/scripts/10-onboot-rsyncd.sh
  infrastructure/ansible/roles/udmpro/tasks/configuration.yaml
  infrastructure/ansible/roles/udmpro/tasks/kernel-tools.yaml
  infrastructure/ansible/roles/udmpro/tasks/main.yaml
  infrastructure/ansible/roles/udmpro/tasks/onboot.yaml
  infrastructure/ansible/roles/udmpro/templates/force-dns.sh.j2
  infrastructure/ansible/roles/udmpro/templates/haproxy.cfg.j2
  infrastructure/ansible/roles/udmpro/templates/masquerade-nat-rules.sh.j2
  infrastructure/ansible/roles/udmpro/vars/main.yaml
Labels: none

Remove unused annotations
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
  kubernetes/cluster/flux-system/webhook/github/ingress.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
  kubernetes/cluster/media/lidarr/helm-release.yaml
  kubernetes/cluster/media/radarr/helm-release.yaml
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
  kubernetes/cluster/media/sonarr-uhd/helm-release.yaml
  kubernetes/cluster/media/sonarr/helm-release.yaml
  kubernetes/cluster/selfhosted/actions-runner-controller/helm-release.yaml
  kubernetes/cluster/selfhosted/radicale/helm-release.yaml
Labels: area/kubernetes

Deploy bazarr
  kubernetes/cluster/media/bazarr/config-pvc.yaml
  kubernetes/cluster/media/bazarr/helm-release.yaml
  kubernetes/cluster/media/bazarr/kustomization.yaml
  kubernetes/cluster/media/kustomization.yaml
Labels: area/kubernetes

Update *arr notification scripts
  kubernetes/cluster/media/radarr/scripts/pushover-notify.sh
  kubernetes/cluster/media/sonarr-uhd/scripts/pushover-notify.sh
  kubernetes/cluster/media/sonarr/scripts/pushover-notify.sh
Labels: area/kubernetes

Update regex in workflow creating issues when new Kubernetes version is available
  .github/workflows/create-issue-on-kubernetes-update.yaml
Labels: area/ci

Update renovate config
  .github/renovate.json5
Labels: area/ci

Update Talos config
  infrastructure/talos/talconfig.yaml
Labels: none

Update Terraform dependencies
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/minio/.terraform.lock.hcl
Labels: none

Update postgres config + monitoring rule
  kubernetes/cluster/databases/cloudnative-pg/clusters/postgres-cluster.yaml
  kubernetes/cluster/databases/cloudnative-pg/clusters/prometheus-rule.yaml
Labels: area/kubernetes

Update resources
  kubernetes/cluster/databases/influxdb/helm-release.yaml
Labels: area/kubernetes

Monitoring config updates
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
  kubernetes/cluster/monitoring/loki/helm-release.yaml
  kubernetes/cluster/monitoring/smartctl-exporter/helm-release.yaml
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

Update Rook version in docs
  kubernetes/cluster/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/rook-ceph/operator/helm-release.yaml
Labels: area/kubernetes

Use ghcr for esphome image
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
Labels: area/kubernetes

Add todo comment about changing registry when updating Frigate next time
  kubernetes/cluster/home-automation/frigate/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v35.7.6
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.3.6
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-03-22t06-36-24z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image nextcloud to v26
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

feat(container): update image quay.io/thanos/thanos to v0.31.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.3.2
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.18
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.14
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.4
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

ci(deps): update actions/checkout action to v3.5.0
  .github/workflows/helm-release-diff.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci
