Repository ahinko/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

feat(helm): update chart kube-prometheus-stack to 43.2.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

Update allowedVersions.json5 with new minor version of Kubernetes.
  .github/renovate/allowedVersions.json5
Labels: area/ci

fix(helm): update chart thanos to 11.6.6
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.73.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image louislam/uptime-kuma to v1.19.2
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

Update Cilium quick install
  infrastructure/talos/integrations/cilium-quick-install/quick-install.yaml
Labels: none

Removed Crowdsec
  CHANGELOG.md
  kubernetes/cluster/networking/crowdsec/helm-release.yaml
  kubernetes/cluster/networking/crowdsec/kustomization.yaml
  kubernetes/cluster/networking/crowdsec/sops.secrets.yaml
  kubernetes/cluster/networking/ingress-nginx/helm-release.yaml
  kubernetes/cluster/networking/kustomization.yaml
Labels: area/kubernetes

Update vscode settings
  .vscode/settings.json
Labels: none

Update "depends on" for a few Home Automation helm releases to depend on "emqx operator" instead of just "emqx"
  kubernetes/cluster/home-automation/frigate/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

Add schema to renovate config
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/disabledDatasources.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/regexManagers.json5
  .github/renovate/semanticCommits.json5
  .github/renovate/versioning.json5
Labels: area/ci

Update vscode settings
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

Add ports to Vector Aggregator services
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

Move service monitor to helm release
  kubernetes/cluster/default/minio/helm-release.yaml
  kubernetes/cluster/default/minio/kustomization.yaml
  kubernetes/cluster/default/minio/service-monitor.yaml
  kubernetes/cluster/kube-tools/intel-gpu-exporter/helm-release.yaml
  kubernetes/cluster/kube-tools/intel-gpu-exporter/kustomization.yaml
  kubernetes/cluster/kube-tools/intel-gpu-exporter/service-monitor.yaml
  kubernetes/cluster/monitoring/speedtest-exporter/helm-release.yaml
  kubernetes/cluster/monitoring/speedtest-exporter/kustomization.yaml
  kubernetes/cluster/monitoring/speedtest-exporter/service-monitor.yaml
Labels: area/kubernetes

Update flux notifications to beta2
  kubernetes/cluster/flux-system/notifications/alert-manager/notification.yaml
  kubernetes/cluster/flux-system/notifications/github/notification.yaml
  kubernetes/cluster/flux-system/webhook/github/receiver.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.48.2
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.74.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.74.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image emqx/emqx to v5.0.13
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

ci(deps): update oxsecurity/megalinter action to v6.17.0
  .github/workflows/mega-linter.yaml
Labels: area/ci

fix(helm): update chart emqx-operator to 2.0.3
  kubernetes/cluster/home-automation/emqx/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 3.31.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: area/terraform

fix(container): update siderolabs/talos to v1.3.1
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

fix(helm): update chart kube-prometheus-stack to 43.2.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.4.2
  kubernetes/cluster/networking/ingress-nginx/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v0.0.128
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.76.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v34.76.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/siderolabs/kubelet to v1.26.0
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-k8s.sh
Labels: none

ci(deps): update renovatebot/github-action action to v34.76.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image influxdb to v2.6.1
  kubernetes/cluster/databases/influxdb/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.77.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update community.sops to 1.6.0
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.29.0
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.77.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart grafana to 6.49.0
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart app-template to 1.2.1
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
  kubernetes/cluster/default/minio/helm-release.yaml
  kubernetes/cluster/home-automation/frigate/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
  kubernetes/cluster/kube-tools/intel-gpu-exporter/helm-release.yaml
  kubernetes/cluster/kube-tools/intel-gpu-plugin/helm-release.yaml
  kubernetes/cluster/media/lidarr/helm-release.yaml
  kubernetes/cluster/media/overseerr/helm-release.yaml
  kubernetes/cluster/media/radarr/helm-release.yaml
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
  kubernetes/cluster/media/sonarr-uhd/helm-release.yaml
  kubernetes/cluster/media/sonarr/helm-release.yaml
  kubernetes/cluster/monitoring/speedtest-exporter/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/cluster/selfhosted/radicale/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2022.12.9
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.78.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image louislam/uptime-kuma to v1.19.3
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

feat(container): Update image quay.io/minio/minio to v2023
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes
