Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.530
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-05-27t05-56-19z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.25
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/home-automation/zwavejs/app/backup.yaml
  kubernetes/apps/media/bazarr/app/backup.yaml
  kubernetes/apps/media/lidarr/app/backup.yaml
  kubernetes/apps/media/radarr/app/backup.yaml
  kubernetes/apps/media/sabnzbd/app/backup.yaml
  kubernetes/apps/media/sonarr-requests/app/backup.yaml
  kubernetes/apps/media/sonarr/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.22
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr to v4.5.2.7388
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v36.0.8
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(container): update image ghcr.io/esphome/esphome to v2023.5.5
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.534
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 2.7.5
  kubernetes/apps/kube-tools/kyverno/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update fluxcd/flux2 to v2.0.0-rc.4
  kubernetes/bootstrap/kustomization.yaml
Labels: area/kubernetes

ci(deps): update tj-actions/changed-files action to v36.0.9
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(container): update image emqx/emqx to v5.0.26
  kubernetes/apps/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(container): update image registry.k8s.io/external-dns/external-dns to v0.13.5
  kubernetes/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image xperimental/nextcloud-exporter to v0.6.1
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 46.4.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.5.11
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook antonbabenko/pre-commit-terraform to v1.80.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update budimanjojo/talhelper to v1.7.4
  .taskfiles/tools.yaml
Labels: none

ci(deps): update tj-actions/changed-files action to v36.0.10
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(container): update siderolabs/talos to v1.4.5
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

feat(helm): update chart ingress-nginx to 4.7.0
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart descheduler to 0.27.1
  kubernetes/apps/kube-tools/descheduler/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.1
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.5.12
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.26
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 46.5.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): Update chart kyverno to 3.0.1
  kubernetes/apps/kube-tools/kyverno/app/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.7.1
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

fix(helm): update chart metallb to 0.13.10
  kubernetes/apps/networking/metallb/app/helm-release.yaml
Labels: area/kubernetes

Switch to our own docker containers
  kubernetes/apps/kube-system/tainter/app/cronjob.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/cronjob.yaml
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
  kubernetes/apps/selfhosted/miniflux/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/radicale/app/helm-release.yaml
Labels: area/kubernetes

Switch to Allens Flux differ
  .github/scripts/helmReleaseDiff.mjs
  .github/workflows/flux-diff.yaml
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

Fix misc issues with Renovate config
  .github/renovate.json5
  .github/renovate/groups.json5
  .github/renovate/regexManagers.json5
Labels: area/ci

Deploy Linkding
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/linkding/app/helm-release.yaml
  kubernetes/apps/selfhosted/linkding/app/kustomization.yaml
  kubernetes/apps/selfhosted/linkding/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/linkding/kustomization.yaml
Labels: area/kubernetes

Switch to OCI repos and fix a few apiVersions on helm charts
  kubernetes/flux/repositories/helm/actions-runner-controller-charts.yaml
  kubernetes/flux/repositories/helm/grafana-charts.yaml
  kubernetes/flux/repositories/helm/k8s-gateway-charts.yaml
  kubernetes/flux/repositories/helm/kubernetes-sigs-metrics-server-charts.yaml
  kubernetes/flux/repositories/helm/kyverno-charts.yaml
  kubernetes/flux/repositories/helm/postfinance-charts.yaml
  kubernetes/flux/repositories/helm/prometheus-community-charts.yaml
  kubernetes/flux/repositories/helm/vector-charts.yaml
Labels: area/kubernetes

Updates to Redis
  kubernetes/apps/databases/redis/app/helm-release.yaml
  kubernetes/apps/databases/redis/readme.md
  kubernetes/apps/networking/haproxy/app/helm-release.yaml
  kubernetes/apps/networking/haproxy/app/kustomization.yaml
  kubernetes/apps/networking/haproxy/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
  kubernetes/apps/selfhosted/nextcloud/kustomization.yaml
  kubernetes/apps/selfhosted/nextcloud/redis/helm-release.yaml
  kubernetes/apps/selfhosted/nextcloud/redis/kustomization.yaml
  kubernetes/flux/repositories/helm/haproxy-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/vars/sops.cluster-secrets.yaml
Labels: area/kubernetes

Deploy Immich
  kubernetes/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/nfs-pvc.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/sops.secrets.yaml
  kubernetes/apps/selfhosted/immich/app/typesense/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/typesense/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/kustomization.yaml
  kubernetes/apps/selfhosted/immich/kustomization.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

Backup Immich and Linkding databases
  kubernetes/apps/databases/postgres-backup/app/sops.secrets.yaml
Labels: area/kubernetes

Minor fixes
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/minio/.terraform.lock.hcl
  kubernetes/apps/dev/actions-runner-controller/app/helm-release.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/homelab.yaml
  kubernetes/apps/home-automation/emqx/app/helm-release.yaml
  kubernetes/apps/home-automation/emqx/kustomization.yaml
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

Update Kyverno config
  kubernetes/apps/kube-tools/kyverno/app/helm-release.yaml
  kubernetes/apps/kube-tools/kyverno/app/kustomization.yaml
  kubernetes/apps/kube-tools/kyverno/app/rbac.yaml
  kubernetes/apps/kube-tools/kyverno/policies/remove-cpu-limits.yaml
Labels: area/kubernetes

Update versions and remove unused files for Talos integrations
  infrastructure/talos/integrations/cni/cilium.yaml
  infrastructure/talos/integrations/cni/kustomization.yaml
  infrastructure/talos/integrations/cni/values.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  infrastructure/talos/provision.sh
Labels: none

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"
