Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

feat(terraform): update terraform minio to 1.11.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

fix(helm): update chart grafana to 6.50.6
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.3
  kubernetes/cluster/kube-tools/reloader/helm-release.yaml
Labels: area/kubernetes

chore(deps): update boostchicken/udm-utilities to 1.0.6
  infrastructure/ansible/roles/udmpro/defaults/main.yaml
Labels: none

fix(container): update image quay.io/minio/minio to release.2023-01-31t02-24-19z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 6.3.0
  infrastructure/ansible/requirements.yaml
Labels: none

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.8.3
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.0.1
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/sct/overseerr to v1.32.5
  kubernetes/cluster/media/overseerr/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.14
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.9
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

fix(container): update image quay.io/thanos/thanos to v0.30.2
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart app-template to 1.3.0
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
  kubernetes/cluster/default/minio/helm-release.yaml
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
  kubernetes/cluster/home-automation/frigate/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
  kubernetes/cluster/media/lidarr/helm-release.yaml
  kubernetes/cluster/media/overseerr/helm-release.yaml
  kubernetes/cluster/media/radarr/helm-release.yaml
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
  kubernetes/cluster/media/sonarr-uhd/helm-release.yaml
  kubernetes/cluster/media/sonarr/helm-release.yaml
  kubernetes/cluster/monitoring/speedtest-exporter/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/cluster/selfhosted/radicale/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.0.3
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kyverno to 2.7.0
  kubernetes/cluster/kube-tools/kyverno/helm-release.yaml
  kubernetes/cluster/kube-tools/kyverno/kustomization.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.0
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

feat(container): update image k8s.gcr.io/autoscaling/vpa-recommender to v0.13.0
  kubernetes/cluster/monitoring/vpa/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.4.3
  kubernetes/cluster/networking/ingress-nginx/helm-release.yaml
Labels: area/kubernetes

chore(deps): update budimanjojo/talhelper to v1.5.8
  .taskfiles/tools.yaml
Labels: none

fix(container): update image emqx/emqx to v5.0.16
  kubernetes/cluster/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 44.3.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

chore(deps): update fluxcd/flux2 to v0.39.0
  kubernetes/flux/flux-system/gotk-components.yaml
Labels: area/kubernetes

ci(deps): update peter-evans/create-or-update-comment action to v2.1.1
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

ci(deps): update peter-evans/find-comment action to v2.2.1
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

fix(helm): update chart grafana to 6.50.7
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-assistant/home-assistant to v2023.2.1
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 17.7.1
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

Update Github workflows
  .github/renovate/regexManagers.json5
  .github/scripts/cloudflare-ip-ranges.sh
  .github/scripts/cloudflareNetworks.mjs
  .github/scripts/helm-release-differ.sh
  .github/scripts/helmReleaseDiff.mjs
  .github/scripts/lib/functions.sh
  .github/workflows/helm-release-diff.yaml
  .github/workflows/helm-release-differ.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/schedule-cloudflare-ip-ranges-updates.yaml
Labels: area/ci

Remove github workflows
  .github/workflows/mega-linter.yaml
  .github/workflows/terraform-security-scan.yaml
Labels: area/ci

Update github workflows
  .github/workflows/create-issue-on-kubernetes-update.yaml
  .github/workflows/create-issue-on-talos-update.yaml
Labels: area/ci

Change timeout value on ser2net
  infrastructure/ansible/inventory/host_vars/udmpro/udmpro.yaml
  infrastructure/ansible/inventory/host_vars/zwave-coordinator/ser2net.yaml
Labels: none

Update terraform dependencies
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/minio/.terraform.lock.hcl
Labels: none

Revert ingress-nginx update to version 4.4.3
  kubernetes/cluster/networking/ingress-nginx/helm-release.yaml
Labels: area/kubernetes

remove default backend
  kubernetes/cluster/networking/ingress-nginx/helm-release.yaml
Labels: area/kubernetes

Remove overseerr
  kubernetes/cluster/media/kustomization.yaml
  kubernetes/cluster/media/overseerr/config-pvc.yaml
  kubernetes/cluster/media/overseerr/helm-release.yaml
  kubernetes/cluster/media/overseerr/kustomization.yaml
Labels: area/kubernetes

Misc Kyverno updates
  kubernetes/cluster/kube-tools/kyverno/helm-release.yaml
  kubernetes/cluster/kube-tools/kyverno/kustomization.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/remove-cpu-limits.yaml
Labels: area/kubernetes

Remove second home assistant instance we used for testing
  kubernetes/cluster/home-automation/home-assistant-v2-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2-code/kustomization.yaml
  kubernetes/cluster/home-automation/home-assistant-v2/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-v2/kustomization.yaml
  kubernetes/cluster/home-automation/home-assistant-v2/pvc.yaml
  kubernetes/cluster/home-automation/kustomization.yaml
Labels: area/kubernetes

Remove Esphome secrets
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
  kubernetes/cluster/home-automation/esphome/kustomization.yaml
  kubernetes/cluster/home-automation/esphome/sops.secrets.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook antonbabenko/pre-commit-terraform to v1.77.1
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart goldilocks to 6.4.1
  kubernetes/cluster/monitoring/goldilocks/helm-release.yaml
Labels: area/kubernetes
