Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.575
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/siderolabs/kubelet to v1.27.4
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-k8s.sh
Labels: none

fix(container): update image plexinc/pms-docker to v1.32.5.7328-2632c9d3a
  docker/atlas/plex/docker-compose.yaml
Labels: area/docker

ci(deps): update allenporter/flux-local action to 3.1.0
  .github/workflows/flux-diff.yaml
Labels: area/ci

feat(container): update immich group to v1.68.0
  kubernetes/apps/selfhosted/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/server/helm-release.yaml
  kubernetes/apps/selfhosted/immich/app/web/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.3
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image nextcloud to v27.0.1
  kubernetes/apps/selfhosted/nextcloud/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart windmill to 1.6.43
  kubernetes/apps/selfhosted/windmill/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.32
  kubernetes/apps/kube-tools/reloader/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.8.11
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.13.3
  kubernetes/apps/kube-tools/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image emqx/emqx to v5.1.2
  kubernetes/apps/home-automation/emqx/cluster/emqx-cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.35
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/bazarr/app/backup.yaml
  kubernetes/apps/media/lidarr/app/backup.yaml
  kubernetes/apps/media/radarr/app/backup.yaml
  kubernetes/apps/media/sabnzbd/app/backup.yaml
  kubernetes/apps/media/sonarr-requests/app/backup.yaml
  kubernetes/apps/media/sonarr/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.32
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.7.3
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/miniflux/miniflux to v2.0.46
  kubernetes/apps/selfhosted/miniflux/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-07-21t21-12-44z
  kubernetes/apps/selfhosted/minio/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to v4.15.0
  kubernetes/apps/home-automation/home-assistant-code/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.1.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.8.6
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/kubernetes

Update Cilium to latest RC
  infrastructure/talos/integrations/cni/cilium.yaml
  infrastructure/talos/integrations/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

Remove windmill
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/windmill/app/database.yaml
  kubernetes/apps/selfhosted/windmill/app/helm-release.yaml
  kubernetes/apps/selfhosted/windmill/app/kustomization.yaml
  kubernetes/apps/selfhosted/windmill/install.yaml
  kubernetes/apps/selfhosted/windmill/readme.md
Labels: area/kubernetes

Add script used to backup to external disk
  scripts/backup-to-external-disk.sh
Labels: none

Deploy weave gitops
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/app/sops.secrets.yaml
  kubernetes/apps/flux-system/weave-gitops/install.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/weave-gitops-charts.yaml
Labels: area/kubernetes

ESPHome does not need a loadbalancer ip
  kubernetes/apps/home-automation/esphome/app/helm-release.yaml
Labels: area/kubernetes

Update Multus resource limits
  kubernetes/apps/networking/multus/app/helm-release.yaml
Labels: area/kubernetes

Move Home assistant to Postgres
  kubernetes/apps/home-automation/home-assistant/app/database.yaml
  kubernetes/apps/home-automation/home-assistant/app/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/apps/home-automation/home-assistant/install.yaml
Labels: area/kubernetes

Give Immich typesense more disk
  kubernetes/apps/selfhosted/immich/app/typesense/helm-release.yaml
Labels: area/kubernetes

New Postgres cluster
  kubernetes/apps/databases/cloudnative-pg/clusters/postgres-cluster.yaml
Labels: area/kubernetes

Fix deprecations in Cloudflare Terraform
  infrastructure/terraform/cloudflare/domain_extra1.tf
  infrastructure/terraform/cloudflare/domain_family.tf
  infrastructure/terraform/cloudflare/domain_homelab.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/firewall.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/variables.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/waf.tf
Labels: none

Misc small fixes
  .github/renovate/regexManagers.json5
  .taskfiles/kubernetes.yaml
  .taskfiles/maintenance.yaml
  .taskfiles/tools.yaml
  docs/zfs.md
  infrastructure/ansible/roles/k8s/defaults/main.yaml
Labels: area/ci, area/docs

Updates to provision and update scripts (Talos)
  infrastructure/talos/common.sh
  infrastructure/talos/restore-backups.sh
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-k8s.sh
  infrastructure/talos/upgrade-talos.sh
Labels: none

fix(container): update image ghcr.io/onedr0p/bazarr to v1.2.4
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

Use digest for flux diff
  .github/workflows/flux-diff.yaml
Labels: area/ci

Add task for getting an updated kubeconfig with rotated certificates
  .taskfiles/kubernetes.yaml
Labels: none

Fix update script
  infrastructure/talos/common.sh
Labels: none

chore(deps): update image ghcr.io/ahinko/kubernetes-schemas to 0d48e70
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.36
  kubernetes/apps/databases/influxdb/app/backup.yaml
  kubernetes/apps/games/minecraft/app/backup.yaml
  kubernetes/apps/home-automation/esphome/app/backup.yaml
  kubernetes/apps/home-automation/home-assistant/app/backup.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/backup.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/backup.yaml
  kubernetes/apps/media/bazarr/app/backup.yaml
  kubernetes/apps/media/lidarr/app/backup.yaml
  kubernetes/apps/media/radarr/app/backup.yaml
  kubernetes/apps/media/sabnzbd/app/backup.yaml
  kubernetes/apps/media/sonarr-requests/app/backup.yaml
  kubernetes/apps/media/sonarr/app/backup.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/backup.yaml
  kubernetes/apps/selfhosted/nextcloud/app/backup.yaml
  kubernetes/apps/selfhosted/radicale/app/backup.yaml
  kubernetes/tools/restore-backups/bazarr-job.yaml
  kubernetes/tools/restore-backups/esphome-job.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/radicale-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-requests-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwave-js-ui.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.33
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.577
  kubernetes/apps/media/sonarr-requests/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes
