Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

ci(deps): update tj-actions/changed-files action to v35.5.4
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.2.5
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.7.4
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to v4.10.0
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.141.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update tj-actions/changed-files action to v35.5.5
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(helm): update chart kube-prometheus-stack to 45.1.1
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.143.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): Update image esphome/esphome to v2023
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart k8s-gateway to 2.0.2
  kubernetes/cluster/networking/k8s-gateway/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-02-17t17-52-43z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.7.5
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.0.6
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.145.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.2.16
  kubernetes/cluster/games/minecraft/backup.yaml
  kubernetes/cluster/kube-tools/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/ahinko/simple-pg-backup to v1.1.12
  kubernetes/cluster/databases/postgres-backup/cronjob.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.146.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart nextcloud to 3.5.0
  kubernetes/cluster/apps/nextcloud/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart app-template to 1.3.2
  kubernetes/cluster/apps/uptime-kuma/helm-release.yaml
  kubernetes/cluster/default/minio/helm-release.yaml
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
  kubernetes/cluster/home-automation/frigate/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/cluster/home-automation/home-assistant/helm-release.yaml
  kubernetes/cluster/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
  kubernetes/cluster/media/lidarr/helm-release.yaml
  kubernetes/cluster/media/radarr/helm-release.yaml
  kubernetes/cluster/media/sabnzbd/helm-release.yaml
  kubernetes/cluster/media/sonarr-uhd/helm-release.yaml
  kubernetes/cluster/media/sonarr/helm-release.yaml
  kubernetes/cluster/monitoring/speedtest-exporter/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/cluster/selfhosted/radicale/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.146.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(terraform): update terraform cloudflare to 3.35.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

feat(helm): update chart kube-prometheus-stack to 45.2.0
  kubernetes/cluster/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.sops to 1.6.1
  infrastructure/ansible/requirements.yaml
Labels: none

ci(deps): update tj-actions/changed-files action to v35.5.6
  .github/workflows/helm-release-diff.yaml
Labels: area/ci

fix(container): update siderolabs/talos to v1.3.5
  .taskfiles/kubernetes.yaml
  .taskfiles/tools.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/upgrade-talos.sh
Labels: none

chore(deps): update budimanjojo/talhelper to v1.6.1
  .taskfiles/tools.yaml
Labels: none

ci(deps): update renovatebot/github-action action to v34.147.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart metallb to 0.13.9
  kubernetes/cluster/networking/metallb/helm-release.yaml
  kubernetes/cluster/networking/metallb/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.1.0
  kubernetes/cluster/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 17.8.0
  kubernetes/cluster/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.8.6
  kubernetes/cluster/home-automation/zwave-js-ui/helm-release.yaml
  kubernetes/cluster/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.50.8
  kubernetes/cluster/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(terraform): update terraform kubernetes to 2.18.1
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

ci(deps): update renovatebot/github-action action to v34.149.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update image timberio/vector to v0.27.1
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
  kubernetes/cluster/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

fix(container): update image esphome/esphome to v2023.2.4
  kubernetes/cluster/home-automation/esphome/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-02-22t18-23-45z
  kubernetes/cluster/default/minio/helm-release.yaml
Labels: area/kubernetes

fix(container): update image tomsquest/docker-radicale to v3.1.8.1
  kubernetes/cluster/selfhosted/radicale/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart vector to 0.19.2
  kubernetes/cluster/monitoring/vector/agent/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v34.152.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci
