Repository ahinko/home-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/ci, area/kubernetes, area/docs, area/docker, area/terraform

.github/labeler.yml:

---
area/ansible:
  - "infrastructure/kvm/**/*"
  - "infrastructure/nas/**/*"
  - "infrastructure/udm-pro/**/*"
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/docs:
  - "docs/**/*"
area/docker:
  - "docker/**/*"
area/terraform:
  - "cloud/cloudflare**/*"

ci(deps): update renovatebot/github-action action to v32.209.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(helm): update chart kube-prometheus-stack to 40.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart redis to 17.3.1
  kubernetes/apps/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.7.1
  kubernetes/apps/home-automation/home-assistant-code/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 40.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.211.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.28.0
  kubernetes/apps/home-automation/zigbee2mqtt/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.211.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.211.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update fabianishere/udm-kernel-tools to v1.1.6
  infrastructure/udm-pro/roles/udmpro/defaults/main.yaml
Labels: area/ansible

ci(deps): update oxsecurity/megalinter action to v6.11.0
  .github/workflows/mega-linter.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.213.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(deps): update oxsecurity/megalinter action to v6.11.1
  .github/workflows/mega-linter.yaml
Labels: area/ci

fix(container): update image ghcr.io/ahinko/simple-k8s-backup to v4.1.5
  kubernetes/apps/games/minecraft/backup.yaml
  kubernetes/apps/kube-system/kyverno/policies/create-pvc-backup-cronjob.yaml
  kubernetes/tools/restore-backups/home-assistant-job.yaml
  kubernetes/tools/restore-backups/influxdb-influxdb2-job.yaml
  kubernetes/tools/restore-backups/lidarr-job.yaml
  kubernetes/tools/restore-backups/minecraft-minecraft-bedrock-job.yaml
  kubernetes/tools/restore-backups/nextcloud-job.yaml
  kubernetes/tools/restore-backups/overseerr-job.yaml
  kubernetes/tools/restore-backups/radarr-job.yaml
  kubernetes/tools/restore-backups/sabnzbd-job.yaml
  kubernetes/tools/restore-backups/sonarr-job.yaml
  kubernetes/tools/restore-backups/sonarr-uhd-job.yaml
  kubernetes/tools/restore-backups/uptime-kuma-job.yaml
  kubernetes/tools/restore-backups/zigbee2mqtt-job.yaml
  kubernetes/tools/restore-backups/zwavejs-job.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/toboshii/hajimari to v0.3.1
  kubernetes/apps/networking/hajimari/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart ingress-nginx to 4.3.0
  kubernetes/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/kubernetes

feat(helm): Update chart hajimari to 2.0.1
  kubernetes/apps/networking/hajimari/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.0.3
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 11.5.4
  kubernetes/apps/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart app-template to 0.2.2
  kubernetes/apps/apps/uptime-kuma/helm-release.yaml
  kubernetes/apps/home-automation/frigate/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
  kubernetes/apps/kube-system/intel-gpu-exporter/helm-release.yaml
  kubernetes/apps/media/lidarr/helm-release.yaml
  kubernetes/apps/media/overseerr/helm-release.yaml
  kubernetes/apps/media/radarr/helm-release.yaml
  kubernetes/apps/media/sabnzbd/helm-release.yaml
  kubernetes/apps/media/sonarr-uhd/helm-release.yaml
  kubernetes/apps/media/sonarr/helm-release.yaml
  kubernetes/apps/monitoring/speedtest-exporter/helm-release.yaml
  kubernetes/apps/selfhosted/radicale/helm-release.yaml
  kubernetes/core/kube-system/intel-gpu-plugin/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.213.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart grafana to 6.40.1
  kubernetes/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 5.7.0
  infrastructure/requirements.yaml
Labels: none

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.1.0
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
Labels: area/kubernetes

fix(container): update image louislam/uptime-kuma to v1.18.2
  kubernetes/apps/apps/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

ci(deps): update actions/checkout action to v3.1.0
  .github/workflows/helm-release-differ.yaml
  .github/workflows/mega-linter.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/scan-supported-k8s-version.yaml
  .github/workflows/schedule-cloudflare-ip-ranges-updates.yaml
  .github/workflows/schedule-renovate.yaml
  .github/workflows/terraform-security-scan.yaml
Labels: area/ci

ci(deps): update renovatebot/github-action action to v32.214.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

Move minio away from Bitnami chart
  .github/renovate/versioning.json5
  kubernetes/apps/default/minio/helm-release.yaml
  kubernetes/apps/default/minio/sops.secrets.yaml
Labels: area/ci, area/kubernetes

Remove hajimari
  kubernetes/apps/apps/nextcloud/helm-release.yaml
  kubernetes/apps/apps/uptime-kuma/helm-release.yaml
  kubernetes/apps/databases/influxdb/helm-release.yaml
  kubernetes/apps/home-automation/frigate/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant-code/helm-release.yaml
  kubernetes/apps/home-automation/home-assistant/helm-release.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/helm-release.yaml
  kubernetes/apps/home-automation/zwavejs/helm-release.yaml
  kubernetes/apps/media/lidarr/helm-release.yaml
  kubernetes/apps/media/overseerr/helm-release.yaml
  kubernetes/apps/media/radarr/helm-release.yaml
  kubernetes/apps/media/sabnzbd/helm-release.yaml
  kubernetes/apps/media/sonarr-uhd/helm-release.yaml
  kubernetes/apps/media/sonarr/helm-release.yaml
  kubernetes/apps/networking/external-services/plex.yaml
  kubernetes/apps/networking/external-services/scrutiny.yaml
  kubernetes/apps/networking/hajimari/config-pvc.yaml
  kubernetes/apps/networking/hajimari/helm-release.yaml
  kubernetes/apps/networking/hajimari/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/selfhosted/radicale/helm-release.yaml
  kubernetes/charts/hajimari-charts.yaml
  kubernetes/charts/kustomization.yaml
  kubernetes/core/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

Replace kubelet-serving-cert-approver with kubelet-csr-approver
  infrastructure/kubernetes/provision.sh
  kubernetes/charts/kustomization.yaml
  kubernetes/charts/postfinance-charts.yaml
  kubernetes/core/kube-system/kubelet-csr-approver/helm-release.yaml
  kubernetes/core/kube-system/kubelet-csr-approver/kustomization.yaml
  kubernetes/core/kube-system/kustomization.yaml
  kubernetes/core/kubelet-serving-cert-approver/deployment.yaml
  kubernetes/core/kubelet-serving-cert-approver/namespace.yaml
  kubernetes/core/kustomization.yaml
Labels: area/kubernetes

Update cluster config + admission
  infrastructure/kubernetes/talconfig.yaml
  kubernetes/apps/home-automation/namespace.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/core/kube-system/namespace.yaml
  kubernetes/core/networking/namespace.yaml
  kubernetes/core/rook-ceph/namespace.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v0.0.122
  kubernetes/apps/kube-system/reloader/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.216.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(terraform): update terraform cloudflare to 3.25.0
  cloud/cloudflare/.terraform.lock.hcl
  cloud/cloudflare/main.tf
Labels: area/terraform

fix(helm): update chart kyverno to v2.5.4
  kubernetes/apps/kube-system/kyverno/helm-release.yaml
  kubernetes/apps/kube-system/kyverno/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 3.2.1
  kubernetes/apps/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart redis to 17.3.2
  kubernetes/apps/databases/redis/helm-release.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2022-10-05t14-58-27z
  kubernetes/apps/default/minio/helm-release.yaml
Labels: area/kubernetes

ci(deps): update renovatebot/github-action action to v32.217.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update chart grafana to 6.40.3
  kubernetes/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes
